Repository MicrosoftDocs/memdocs, pull requests merged in 2020-06, with the labels that each got.

#223 Update byod-technology-decisions.md
  memdocs/intune/fundamentals/byod-technology-decisions.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#185 Update intune-graph-apis.md
  memdocs/intune/developer/intune-graph-apis.md
Labels: Change sent to author, aq-pr-triaged, developer/subsvc, microsoft-intune/svc, ready-to-merge

#332 .NET Framework 3.5 is a pre-requisite for the portals
  memdocs/configmgr/protect/plan-design/bitlocker-management.md
Labels: Change sent to author, aq-pr-triaged, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#333 Added more clearly that AD joined device is required
  memdocs/configmgr/protect/plan-design/bitlocker-management.md
Labels: Change sent to author, aq-pr-triaged, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#295 Added clarification re default ESP policy & whiteglove
  memdocs/intune/enrollment/windows-enrollment-status.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#341 Update quickstart-paths.md
  memdocs/configmgr/comanage/quickstart-paths.md
Labels: Change sent to author, aq-pr-triaged, configmgr-comanage/tech, configuration-manager/prod, ready-to-merge

#344 13.5 Requirement for shared device mode
  memdocs/intune/configuration/ios-device-features-settings.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#345 Removed credential
  memdocs/intune/configuration/macos-device-features-settings.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#292 Added clarification to version restrictions
  memdocs/intune/enrollment/enrollment-restrictions-set.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#339 Update deploy-edge.md
  memdocs/configmgr/apps/deploy-use/deploy-edge.md
Labels: Change sent to author, aq-pr-triaged, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#340 Updated language to reflect client settings policy
  memdocs/configmgr/sum/deploy-use/manage-express-installation-files-for-windows-10-updates.md
Labels: Change sent to author, aq-pr-triaged, configmgr-sum/tech, configuration-manager/prod, ready-to-merge

#358 Fixed typo in Registry Keys
  memdocs/configmgr/desktop-analytics/monitor-connection-health.md
Labels: Change sent to author, configmgr-analytics/tech, configuration-manager/prod, ready-to-merge

#364 added mem to URL
  memdocs/configmgr/core/understand/use-docs.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#367 From private repo
  memdocs/configmgr/apps/deploy-use/deploy-edge.md
  memdocs/intune/apps/vpp-apps-ios.md
  memdocs/intune/remote-actions/teamviewer-support.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#376 From private repo
  memdocs/configmgr/apps/deploy-use/deploy-edge.md
  memdocs/configmgr/comanage/how-to-enable.md
  memdocs/configmgr/comanage/how-to-monitor.md
  memdocs/configmgr/comanage/how-to-prepare-Win10.md
  memdocs/configmgr/comanage/how-to-switch-workloads.md
  memdocs/configmgr/comanage/media/co-management-dashboard/Co-management-status-graph.PNG
  memdocs/configmgr/comanage/media/co-management-dashboard/Enrollment-Failure_Device-List.PNG
  memdocs/configmgr/comanage/media/co-management-dashboard/Percent-Co-managed-graph.PNG
  memdocs/configmgr/core/plan-design/hierarchy/accounts.md
  memdocs/intune/protect/endpoint-security-firewall-policy.md
  memdocs/intune/protect/endpoint-security-policy.md
  memdocs/intune/user-help/sync-your-device-manually-ios.md
Labels: do-not-merge

#380 Fixed typo
  memdocs/configmgr/core/plan-design/hierarchy/microsoft-connected-cache.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#382 From private repo
  memdocs/configmgr/core/servers/manage/powerbi-report-server.md
  memdocs/intune/configuration/ios-device-features-settings.md
  memdocs/intune/enrollment/troubleshoot-ios-enrollment-errors.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#384 From private repo
  memdocs/configmgr/core/misc/user-experience-analytics-preview.md
  memdocs/configmgr/sum/deploy-use/surface-drivers.md
  memdocs/intune/protect/endpoint-security-antivirus-policy.md
  memdocs/intune/protect/endpoint-security-edr-policy.md
  memdocs/intune/protect/endpoint-security-policy.md
  memdocs/intune/protect/endpoint-security.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#389 From private repo
  memdocs/configmgr/sum/deploy-use/surface-drivers.md
  memdocs/intune/apps/app-configuration-policies-outlook.md
  memdocs/intune/apps/app-configuration-policies-use-android.md
  memdocs/intune/apps/app-configuration-policies-use-ios.md
  memdocs/intune/apps/app-protection-policies.md
  memdocs/intune/apps/manage-microsoft-edge.md
  memdocs/intune/apps/manage-microsoft-office.md
  memdocs/intune/apps/manage-microsoft-teams.md
  memdocs/intune/apps/toc.yml
Labels: Change sent to author, apps/subsvc, configuration-manager/prod, do-not-merge, microsoft-intune/svc

#398 Fixed typo: A user installs
  memdocs/intune/user-help/what-info-can-your-company-see-when-you-enroll-your-device-in-intune.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#403 Fix broken link in intune bulk docs
  memdocs/intune/enrollment/windows-bulk-enroll.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#407 From private repo
  memdocs/intune/configuration/device-restrictions-windows-10.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#406 Page Update: What is Intune (Overview)
  memdocs/intune/fundamentals/what-is-intune.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, doc-enhancement, fundamentals/subsvc, good first issue, in-progress, microsoft-intune/svc

#425 From private repo
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/protect/certficates-pfx-configure.md
  memdocs/intune/protect/encrypt-devices-filevault.md
  memdocs/intune/protect/media/troubleshoot-pkcs-certificate-profiles/message-options.png
  memdocs/intune/protect/media/troubleshoot-pkcs-certificate-profiles/pending-requests.png
  memdocs/intune/protect/media/troubleshoot-pkcs-certificate-profiles/pfxrequest-folder.png
  memdocs/intune/protect/media/troubleshoot-pkcs-certificate-profiles/pkcs-overview-graphic.png
  memdocs/intune/protect/media/troubleshoot-pkcs-certificate-profiles/policy-module-properties.png
  memdocs/intune/protect/media/troubleshoot-pkcs-certificate-profiles/supply-in-the-request.png
  memdocs/intune/protect/media/troubleshoot-pkcs-certificate-profiles/windows-event-log.png
  memdocs/intune/protect/mobile-threat-defense.md
  memdocs/intune/protect/toc.yml
  memdocs/intune/protect/troubleshoot-pkcs-certificate-profiles.md
  memdocs/intune/user-help/install-company-portal-android-china.md
  memdocs/intune/user-help/media/company-portal-logo-2006.png
  memdocs/intune/user-help/media/company-portal-logo-small-2006.png
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#404 Specify key size for media
  memdocs/configmgr/core/plan-design/security/cryptographic-controls-technical-reference.md
Labels: Change sent to author, aq-pr-triaged, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#419 Added reference to Google for AE supported countries
  memdocs/intune/enrollment/android-enroll.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#422 Page Improvement: What Is Device Management
  memdocs/intune/fundamentals/what-is-device-management.md
Labels: Change sent to author, aq-pr-triaged, doc-enhancement, fundamentals/subsvc, in-progress, microsoft-intune/svc, ready-to-merge

#423 Page Improvement: Intune For Education
  memdocs/intune/fundamentals/introduction-intune-education.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#427 From private repo
  memdocs/configmgr/core/clients/deploy/about-client-installation-properties.md
  memdocs/configmgr/osd/understand/task-sequence-steps.md
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/apps/media/apps-supported-intune-apps/icon-p-zero.png
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/encrypt-devices-filevault.md
  memdocs/intune/protect/endpoint-security-disk-encryption-policy.md
  memdocs/intune/protect/media/encrypt-devices-filevault/filevault-settings.png
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#370 removed '/mode' from SetupDiag script example
  memdocs/configmgr/osd/deploy-use/create-a-task-sequence-to-upgrade-an-operating-system.md
Labels: Change sent to author, aq-pr-triaged, configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#441 From private repo
  memdocs/configmgr/desktop-analytics/overview.md
  memdocs/intune/protect/certificates-imported-pfx-configure.md
  memdocs/intune/protect/mtd-apps-ios-app-configuration-policy-add-assign.md
  memdocs/intune/user-help/install-a-new-version-of-the-company-portal-app.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#445 Delivery Optimization section typo
  memdocs/configmgr/core/plan-design/hierarchy/fundamental-concepts-for-content-management.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#446 From private repo
  memdocs/analytics/overview.md
  memdocs/analytics/proactive-remediations.md
  memdocs/configmgr/comanage/quickstart-autopilot.md
  memdocs/configmgr/core/get-started/2020/includes/2006/known-issue-7569264.md
  memdocs/configmgr/core/get-started/2020/technical-preview-2006.md
  memdocs/configmgr/desktop-analytics/about-updates.md
  memdocs/configmgr/osd/deploy-use/manage-task-sequences-to-automate-tasks.md
  memdocs/intune/configuration/device-restrictions-windows-10.md
Labels: Change sent to author, configuration-manager/prod, configuration/subsvc, do-not-merge, microsoft-intune/svc

#440 Add info on new IntuneMAMSaveLocationCameraRoll
  memdocs/intune/developer/app-sdk-ios.md
Labels: Change sent to author, aq-pr-triaged, developer/subsvc, microsoft-intune/svc, ready-to-merge

#449 From private repo
  .openpublishing.redirection.json
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-1606.md
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2002.md
  memdocs/configmgr/core/servers/manage/updates.md
  memdocs/configmgr/core/understand/interoperability-client.md
  memdocs/configmgr/index.yml
  memdocs/configmgr/protect/TOC.yml
  memdocs/configmgr/protect/deploy-use/defender-advanced-threat-protection.md
  memdocs/configmgr/protect/deploy-use/endpoint-protection.md
  memdocs/configmgr/protect/deploy-use/media/5229962-create-atp-policy-wizard.png
  memdocs/configmgr/protect/deploy-use/media/5229962-onboarding-configuration.png
  memdocs/configmgr/protect/deploy-use/windows-defender-advanced-threat-protection.md
  memdocs/configmgr/protect/index.yml
  memdocs/configmgr/protect/plan-design/planning-for-endpoint-protection.md
Labels: do-not-merge
