Repository MicrosoftDocs/memdocs, pull requests merged in 2020-07, with the labels that each got.

#454 From private repo
  memdocs/analytics/enroll-intune.md
  memdocs/analytics/overview.md
  memdocs/analytics/startup-performance.md
  memdocs/analytics/troubleshoot.md
  memdocs/configmgr/core/plan-design/network/internet-endpoints.md
  memdocs/configmgr/desktop-analytics/enroll-devices.md
  memdocs/configmgr/desktop-analytics/media/dashboard-iphone8.png
  memdocs/configmgr/desktop-analytics/troubleshooting.md
  memdocs/configmgr/desktop-analytics/whats-new.md
Labels: Change sent to author, configmgr-analytics/tech, configuration-manager/prod, do-not-merge

#452 Update about-client-installation-properties.md
  memdocs/configmgr/core/clients/deploy/about-client-installation-properties.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#460 From private repo
  memdocs/configmgr/comanage/overview.md
  memdocs/configmgr/core/understand/product-and-licensing-faq.md
Labels: do-not-merge

#466 From private repo
  memdocs/intune/fundamentals/intune-endpoints.md
  memdocs/intune/protect/endpoint-security-asr-profile-settings.md
  memdocs/intune/protect/endpoint-security-disk-encryption-policy.md
  memdocs/intune/protect/mtd-add-apps-unenrolled-devices.md
  memdocs/intune/protect/mtd-app-protection-policy.md
  memdocs/intune/protect/mtd-enable-unenrolled-devices.md
  memdocs/intune/protect/troubleshoot-exchange-connector-common-problems.md
  memdocs/intune/protect/wandera-mtd-connector-integration.md
  memdocs/intune/protect/wandera-mtd-connector.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#468 From private repo
  memdocs/configmgr/mdt/user-driven-installation-developers-guide.md
  memdocs/configmgr/osd/understand/using-task-sequence-variables.md
  memdocs/intune/apps/mam-faq.md
  memdocs/intune/apps/manage-without-gms.md
  memdocs/intune/developer/app-sdk-android.md
  memdocs/intune/developer/app-sdk-ios.md
  memdocs/intune/developer/intune-graph-apis.md
  memdocs/intune/developer/reports-proc-data-rest.md
  memdocs/intune/fundamentals/china.md
  memdocs/intune/fundamentals/intune-endpoints.md
  memdocs/intune/fundamentals/mdm-authority-set.md
  memdocs/intune/fundamentals/migration-guide-drive-adoption.md
  memdocs/intune/protect/app-modern-authentication-block.md
  memdocs/intune/protect/endpoint-security-asr-profile-settings.md
  memdocs/intune/protect/exchange-online-protect.md
  memdocs/intune/protect/security-baseline-settings-defender-atp.md
  memdocs/intune/protect/security-baseline-settings-mdm-all.md
  memdocs/intune/protect/security-baseline-settings-mdm.md
  memdocs/intune/user-help/enroll-device-android-company-portal.md
  memdocs/intune/user-help/install-company-portal-android-china.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#465 Add information on isFileEncryptionRequired API.
  memdocs/intune/developer/app-sdk-ios.md
Labels: Change sent to author, developer/subsvc, microsoft-intune/svc, ready-to-merge

#476 From private repo
  memdocs/intune/enrollment/connect-intune-android-enterprise.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#400 Update device-enrollment.md
  memdocs/intune/enrollment/device-enrollment.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#426 Page Improvement: Microsoft Intune MDM Lifecycle
  memdocs/intune/fundamentals/device-lifecycle.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#447 Update windows-enrollment-methods.md
  memdocs/intune/enrollment/windows-enrollment-methods.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#479 From private repo
  memdocs/configmgr/sum/deploy-use/orchestration-groups.md
  memdocs/intune/developer/intune-graph-apis.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/device-enrollment-restrictions.md
  memdocs/intune/fundamentals/intune-endpoints.md
  memdocs/intune/fundamentals/unlicensed-admins.md
  memdocs/intune/protect/device-compliance-get-started.md
  memdocs/intune/protect/device-compliance-partners.md
  memdocs/intune/protect/endpoint-security-manage-devices.md
  memdocs/intune/protect/media/device-compliance-partners/add-compliance-partner.png
  memdocs/intune/protect/toc.yml
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#483 From private repo
  memdocs/configmgr/core/plan-design/network/internet-endpoints.md
  memdocs/intune/configuration/android-pulse-secure-per-app-vpn.md
  memdocs/intune/configuration/device-restrictions-ios.md
  memdocs/intune/configuration/device-restrictions-windows-10.md
  memdocs/intune/fundamentals/china.md
  memdocs/intune/protect/skycure-mtd-connector-integration.md
  memdocs/intune/user-help/enroll-ios-device-entrust-datacard.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#484 Data transfer exemptions
  memdocs/intune/apps/app-protection-policy-settings-ios.md
Labels: Change sent to author, apps/subsvc, microsoft-intune/svc, ready-to-merge

#467 Update endpoint-antimalware-policies.md
  memdocs/configmgr/protect/deploy-use/endpoint-antimalware-policies.md
Labels: Change sent to author, aq-pr-triaged, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#488 From private repo
  memdocs/analytics/enroll-configmgr.md
  memdocs/configmgr/core/servers/manage/community-hub.md
  memdocs/intune/apps/data-transfer-between-apps-manage-ios.md
Labels: Change sent to author, apps/subsvc, configuration-manager/prod, do-not-merge, microsoft-intune/svc

#490 From private repo
  memdocs/configmgr/apps/deploy-use/create-applications.md
  memdocs/configmgr/compliance/deploy-use/browser-profiles.md
  memdocs/configmgr/compliance/deploy-use/create-child-configuration-items.md
  memdocs/configmgr/compliance/deploy-use/create-configuration-baselines.md
  memdocs/configmgr/compliance/deploy-use/create-configuration-items-for-mac-os-x-devices-managed-with-the-client.md
  memdocs/configmgr/compliance/deploy-use/create-configuration-items-for-windows-10-devices-managed-with-the-client.md
  memdocs/configmgr/compliance/deploy-use/create-configuration-items.md
  memdocs/configmgr/compliance/deploy-use/create-custom-configuration-items-for-windows-desktop-and-server-computers-managed-with-the-client.md
  memdocs/configmgr/compliance/deploy-use/create-remote-connection-profiles.md
  memdocs/configmgr/compliance/deploy-use/create-user-data-and-profiles-configuration-items.md
  memdocs/configmgr/compliance/deploy-use/deploy-configuration-baselines.md
  memdocs/configmgr/compliance/deploy-use/import-configuration-data.md
  memdocs/configmgr/compliance/deploy-use/management-tasks-for-configuration-data.md
  memdocs/configmgr/compliance/deploy-use/monitor-compliance-settings.md
  memdocs/configmgr/compliance/deploy-use/upgrade-windows-version.md
  memdocs/configmgr/compliance/get-started/get-started-with-compliance-settings.md
  memdocs/configmgr/compliance/plan-design/common-tasks-for-creating-and-deploying-configuration-baselines.md
  memdocs/configmgr/compliance/plan-design/common-tasks-for-managing-compliance-on-devices-with-the-client.md
  memdocs/configmgr/compliance/plan-design/common-tasks-for-managing-compliance.md
  memdocs/configmgr/compliance/plan-design/plan-for-and-configure-compliance-settings.md
  memdocs/configmgr/compliance/plan-design/security-and-privacy-for-compliance-settings.md
  memdocs/configmgr/compliance/understand/ensure-device-compliance.md
  memdocs/configmgr/core/clients/deploy/about-client-installation-properties.md
  memdocs/configmgr/core/plan-design/hierarchy/enhanced-http.md
  memdocs/configmgr/core/support/rbaviewer.md
  memdocs/configmgr/protect/deploy-use/endpoint-protection-client-faq.md
  memdocs/configmgr/sum/deploy-use/automatically-deploy-software-updates.md
  memdocs/configmgr/sum/deploy-use/third-party-software-updates.md
  memdocs/intune/apps/app-configuration-policies-use-ios.md
  memdocs/intune/apps/company-portal-app.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/fundamentals/scope-tags.md
  memdocs/intune/fundamentals/whats-new.md
Labels: do-not-merge

#503 From private repo
  memdocs/analytics/overview.md
  memdocs/configmgr/core/servers/manage/includes/cmpivot-overview-shared.md
  memdocs/configmgr/tenant-attach/cmpivot-overview-attached.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#505 From private repo
  memdocs/configmgr/compliance/deploy-use/upgrade-windows-version.md
  memdocs/configmgr/core/misc/in-console-documentation.md
  memdocs/configmgr/core/servers/manage/data-warehouse.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#507 Replaced typo in Line 79 - bu becomes by
  memdocs/intune/protect/troubleshoot-conditional-access.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#508 From private repo
  .openpublishing.redirection.json
  memdocs/configmgr/core/TOC.yml
  memdocs/configmgr/core/plan-design/security/privacy-statement-cmdlet-library.md
  memdocs/configmgr/develop/TOC.yml
  memdocs/configmgr/develop/core/understand/connecting-to-configuration-manager-with-windows-powershell.md
  memdocs/configmgr/develop/core/understand/getting-started-with-configuration-manager-and-windows-powershell.md
  memdocs/configmgr/develop/core/understand/windows-powershell-basics.md
  memdocs/intune/developer/app-wrapper-prepare-ios.md
Labels: Change sent to author, configuration-manager/prod, developer/subsvc, do-not-merge, microsoft-intune/svc

#498 Update app protection policy for iOS
  memdocs/intune/apps/app-protection-policy-settings-ios.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#499 Update setup-cloud-management-gateway.md
  memdocs/configmgr/core/clients/manage/cmg/setup-cloud-management-gateway.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#510 From private repo
  memdocs/configmgr/desktop-analytics/overview.md
  memdocs/intune/apps/app-configuration-policies-use-android.md
  memdocs/intune/apps/app-configuration-policies-use-ios.md
  memdocs/intune/apps/app-protection-framework.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
  memdocs/intune/apps/app-protection-policy-settings-log.md
  memdocs/intune/apps/data-transfer-between-apps-manage-ios.md
  memdocs/intune/apps/manage-microsoft-edge.md
  memdocs/intune/apps/manage-microsoft-teams.md
  memdocs/intune/fundamentals/whats-new-archive.md
Labels: do-not-merge

#513 From private repo
  memdocs/analytics/enroll-configmgr.md
  memdocs/analytics/enroll-intune.md
  memdocs/configmgr/core/clients/manage/collections/create-collections.md
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2002.md
  memdocs/configmgr/core/servers/manage/updates.md
  memdocs/configmgr/desktop-analytics/tutorial-windows10.md
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/fundamentals/end-user-company-portal-messages.md
Labels: do-not-merge

#514 Added step to add Client Secret to request
  memdocs/intune/developer/reports-proc-data-rest.md
Labels: Change sent to author, developer/subsvc, microsoft-intune/svc, ready-to-merge

#515 From private repo
  memdocs/configmgr/tenant-attach/client-details.md
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/developer/app-sdk-android.md
  memdocs/intune/protect/compliance-policy-create-windows.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#517 From private repo
  memdocs/intune/apps/apps-company-portal-macos.md
  memdocs/intune/apps/toc.yml
  memdocs/intune/user-help/turn-on-defender-windows.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#523 From private repo
  memdocs/intune/configuration/device-restrictions-android-for-work.md
  memdocs/intune/enrollment/corporate-identifiers-add.md
  memdocs/intune/enrollment/enrollment-restrictions-set.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/protect/certificate-authority-add-scep-overview.md
  memdocs/intune/protect/certificates-configure.md
  memdocs/intune/protect/endpoint-security-antivirus-policy.md
  memdocs/intune/protect/security-baseline-settings-mdm-all.md
  memdocs/intune/remote-actions/devices-wipe.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#526 From private repo
  memdocs/intune/configuration/device-profile-assign.md
  memdocs/intune/configuration/email-settings-configure.md
  memdocs/intune/configuration/troubleshoot-email-profiles-in-microsoft-intune.md
  memdocs/intune/configuration/vpn-settings-configure.md
  memdocs/intune/fundamentals/intune-endpoints.md
  memdocs/intune/protect/certificates-digicert-configure.md
  memdocs/intune/protect/conditional-access-integrate-jamf.md
  memdocs/intune/protect/scep-libraries-apis.md
Labels: do-not-merge

#529 Update quickstart-setup-auto-enrollment.md
  memdocs/intune/enrollment/quickstart-setup-auto-enrollment.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#534 From private repo
  memdocs/configmgr/core/misc/in-console-documentation.md
  memdocs/configmgr/develop/adminservice/usage.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/certificates-profile-scep.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#537 From private repo
  memdocs/intune/protect/certficates-pfx-configure.md
  memdocs/intune/protect/windows-update-for-business-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#541 From private repo
  memdocs/analytics/enroll-configmgr.md
Labels: Change sent to author, configmgr-analytics/tech, configuration-manager/prod, do-not-merge

#547 From private repo
  memdocs/intune/apps/vpp-apps-ios.md
Labels: do-not-merge

#549 From private repo
  memdocs/intune/developer/app-sdk-android-testing-guide.md
  memdocs/intune/fundamentals/in-development.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#552 From private repo
  memdocs/intune/configuration/custom-settings-android.md
  memdocs/intune/fundamentals/guided-scenarios-cloud-managed-pc.md
  memdocs/intune/fundamentals/whats-new-archive.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/advanced-threat-protection-configure.md
  memdocs/intune/protect/advanced-threat-protection-manage-android.md
  memdocs/intune/protect/advanced-threat-protection-monitor.md
  memdocs/intune/protect/advanced-threat-protection.md
  memdocs/intune/protect/atp-manage-vulnerabilities.md
  memdocs/intune/protect/media/advanced-threat-protection-configure/atp-device-compliance-open-microsoft-defender.png
  memdocs/intune/protect/media/advanced-threat-protection-configure/atp-security-center-intune-toggle.png
  memdocs/intune/protect/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#555 From private repo
  memdocs/analytics/enroll-configmgr.md
  memdocs/analytics/overview.md
  memdocs/analytics/settings.md
  memdocs/analytics/troubleshoot.md
  memdocs/configmgr/core/plan-design/hierarchy/enhanced-http.md
  memdocs/configmgr/protect/deploy-use/bitlocker/deploy-management-agent.md
  memdocs/intune/configuration/android-oem-configuration-overview.md
  memdocs/intune/fundamentals/intune-endpoints.md
  memdocs/intune/protect/actions-for-noncompliance.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#556 Add missing spacing
  memdocs/intune/apps/store-apps-company-portal-autopilot.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#557 From private repo
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2002.md
  memdocs/configmgr/core/servers/manage/community-hub.md
  memdocs/intune/apps/app-protection-policy-settings-android.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
  memdocs/intune/apps/apps-add-android-for-work.md
  memdocs/intune/apps/company-portal-app.md
  memdocs/intune/developer/app-sdk-xamarin.md
  memdocs/intune/developer/reports-proc-get-a-link-powerbi.md
  memdocs/intune/protect/windows-hello.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#562 From private repo
  memdocs/configmgr/core/clients/manage/manage-clients.md
  memdocs/intune/configuration/wired-network-settings-macos.md
Labels: Change sent to author, configuration-manager/prod, configuration/subsvc, do-not-merge, microsoft-intune/svc

#566 From private repo
  memdocs/configmgr/desktop-analytics/about-deployment-plans.md
  memdocs/intune/protect/certificates-configure.md
Labels: do-not-merge

#567 From private repo
  memdocs/intune/apps/app-configuration-managed-home-screen-app.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/protect/mobile-threat-defense.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#550 Azure AD Group Sync changes
  memdocs/configmgr/core/clients/manage/collections/create-collections.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#572 From private repo
  memdocs/configmgr/core/servers/deploy/configure/sql-server-alwayson-for-a-highly-available-site-database.md
  memdocs/configmgr/core/understand/configuration-manager-on-azure.md
  memdocs/configmgr/sum/deploy-use/surface-drivers.md
  memdocs/intune/developer/intune-graph-apis.md
Labels: Change sent to author, configuration-manager/prod, developer/subsvc, do-not-merge, microsoft-intune/svc
