Repository MicrosoftDocs/memdocs, pull requests merged in 2020-09, with the labels that each got.

#702 Update domain-join-configure.md
  memdocs/intune/configuration/domain-join-configure.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#649 Examples of valid syntax for registry path
  memdocs/intune/apps/apps-win32-app-management.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#705 Fixed missing closing bracket in content
  memdocs/autopilot/add-devices.md
Labels: Change sent to author, do-not-merge, w10/prod

#659 Add info on isExternalURL delegate method added in iOS MAM SDK version 12.7.0
  memdocs/intune/developer/app-sdk-ios.md
Labels: Change sent to author, aq-pr-triaged, developer/subsvc, microsoft-intune/svc, ready-to-merge

#720 From private repo
  memdocs/intune/apps/manage-microsoft-edge.md
  memdocs/intune/configuration/device-restrictions-ios.md
  memdocs/intune/fundamentals/whats-new-archive.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/certficates-pfx-configure.md
  memdocs/intune/protect/certificate-connectors.md
  memdocs/intune/protect/certificates-configure.md
  memdocs/intune/protect/certificates-imported-pfx-configure.md
  memdocs/intune/protect/certificates-s-mime-encryption-sign.md
  memdocs/intune/protect/certificates-scep-configure.md
  memdocs/intune/protect/media/certficates-pfx-configure/download-connector.png
  memdocs/intune/protect/media/certficates-pfx-configure/download-ndes-connector.png
  memdocs/intune/protect/media/certificates-imported-pfx-configure/download-connector.png
  memdocs/intune/protect/media/certificates-imported-pfx-configure/download-imported-pfxconnector.png
  memdocs/intune/protect/media/certificates-scep-configure/download-certificates-connector.png
  memdocs/intune/protect/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#711 Added info to clarify the storage location
  memdocs/configmgr/core/servers/manage/powerbi-report-server.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#723 From private repo
  memdocs/configmgr/comanage/company-portal.md
  memdocs/configmgr/core/get-started/technical-preview.md
  memdocs/intune/protect/endpoint-protection-windows-10.md
  memdocs/intune/protect/endpoint-security-asr-policy.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#729 From private repo
  memdocs/configmgr/compliance/deploy-use/import-configuration-data.md
Labels: Change sent to author, configmgr-compliance/tech, configuration-manager/prod, do-not-merge

#726 Update certificates-scep-configure.md
  memdocs/intune/protect/certificates-scep-configure.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#670 Update whats-new.md
  memdocs/intune/fundamentals/whats-new.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#712 Fixed the titles
  memdocs/intune/fundamentals/in-development.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#737 From private repo
  memdocs/analytics/startup-performance.md
  memdocs/autopilot/enrollment-autopilot.md
  memdocs/intune/fundamentals/intune-endpoints.md
  memdocs/intune/protect/privacy-data-secure-share.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#739 From private repo
  memdocs/configmgr/mdt/toolkit-reference.md
  memdocs/configmgr/mdt/user-driven-installation-developers-guide.md
  memdocs/intune/protect/encrypt-devices.md
  memdocs/intune/remote-actions/devices-wipe.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#741 Updated text for clarity
  memdocs/configmgr/tenant-attach/client-details.md
  memdocs/configmgr/tenant-attach/troubleshoot-applications.md
  memdocs/configmgr/tenant-attach/troubleshoot-client-details.md
  memdocs/configmgr/tenant-attach/troubleshoot-cmpivot.md
  memdocs/configmgr/tenant-attach/troubleshoot-resource-explorer.md
  memdocs/configmgr/tenant-attach/troubleshoot-timeline.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#742 Add "CA Account" instructions to PFX Connector section
  memdocs/intune/protect/certficates-pfx-configure.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#745 From private repo
  memdocs/autopilot/deployment-process.md
  memdocs/autopilot/existing-devices.md
  memdocs/autopilot/white-glove.md
  memdocs/configmgr/core/servers/manage/cmpivot.md
  memdocs/intune/apps/app-management.md
  memdocs/intune/apps/app-office-policies.md
  memdocs/intune/apps/toc.yml
  memdocs/intune/enrollment/quickstart-enroll-windows-device.md
  memdocs/intune/user-help/enroll-windows-10-device.md
  memdocs/intune/user-help/media/W10-enroll-2-accounts-your-account.png
  memdocs/intune/user-help/media/w10-enroll-rs1-connect-to-work-or-school.png
  memdocs/intune/user-help/troubleshoot-your-windows-10-device-windows.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#751 From private repo
  memdocs/intune/apps/apps-win32-add.md
  memdocs/intune/apps/apps-win32-app-management.md
  memdocs/intune/apps/apps-win32-prepare.md
  memdocs/intune/apps/apps-win32-troubleshoot.md
  memdocs/intune/apps/toc.yml
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#595 Update settings.md
  memdocs/analytics/settings.md
Labels: Change sent to author, aq-pr-triaged, configmgr-analytics/tech, configuration-manager/prod, ready-to-merge

#757 Update data-transfer-between-apps-manage-ios.md
  memdocs/intune/apps/data-transfer-between-apps-manage-ios.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#721 Update lob-apps-android.md
  memdocs/intune/apps/lob-apps-android.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#765 From private repo
  memdocs/analytics/data-collection.md
  memdocs/analytics/startup-performance.md
  memdocs/autopilot/enrollment-autopilot.md
  memdocs/autopilot/windows-autopilot-requirements.md
  memdocs/configmgr/comanage/company-portal.md
  memdocs/configmgr/core/clients/deploy/about-client-settings.md
  memdocs/configmgr/core/misc/in-console-documentation.md
  memdocs/intune/enrollment/android-dedicated-devices-fully-managed-enroll.md
  memdocs/intune/enrollment/windows-enrollment-status.md
  memdocs/intune/protect/certificates-configure.md
  memdocs/intune/protect/privacy-data-collect.md
  memdocs/intune/protect/privacy-data-store-process.md
  memdocs/intune/protect/troubleshoot-scep-certificate-device-to-ndes.md
  memdocs/intune/remote-actions/device-inventory.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#766 Update intune-us-government-endpoints.md
  memdocs/intune/fundamentals/intune-us-government-endpoints.md
Labels: Change sent to author, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#770 From private repo
  .openpublishing.redirection.json
  memdocs/autopilot/enrollment-autopilot.md
  memdocs/autopilot/registration-auth.md
  memdocs/autopilot/self-deploying.md
  memdocs/autopilot/windows-autopilot-hybrid.md
  memdocs/autopilot/windows-autopilot-requirements.md
  memdocs/autopilot/windows-autopilot-reset.md
  memdocs/configmgr/comanage/how-to-switch-workloads.md
  memdocs/configmgr/core/plan-design/network/includes/internet-endpoints-tenant-attach.md
Labels: Change sent to author, configmgr-analytics/tech, configuration-manager/prod, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#718 Update task-sequence-steps.md
  memdocs/configmgr/osd/understand/task-sequence-steps.md
Labels: Change sent to author, aq-pr-triaged, configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#767 Update deploy-management-agent.md
  memdocs/configmgr/protect/deploy-use/bitlocker/deploy-management-agent.md
Labels: Change sent to author, aq-pr-triaged, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#752 Update wi-fi-settings-ios.md
  memdocs/intune/configuration/wi-fi-settings-ios.md
Labels: Change sent to author, aq-pr-triaged, configuration/subsvc, in-progress, microsoft-intune/svc, ready-to-merge

#774 Update ios-device-features-settings.md
  memdocs/intune/configuration/ios-device-features-settings.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#776 Update log-files.md
  memdocs/configmgr/core/plan-design/hierarchy/log-files.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#787 Update conditional-access-intune-common-ways-use.md
  memdocs/intune/protect/conditional-access-intune-common-ways-use.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#792 From private repo
  .openpublishing.redirection.json
  memdocs/analytics/data-collection.md
  memdocs/analytics/enroll-configmgr.md
  memdocs/analytics/enroll-intune.md
  memdocs/analytics/get-support.md
  memdocs/analytics/includes/onboard.md
  memdocs/analytics/includes/overview-page.md
  memdocs/analytics/index.yml
  memdocs/analytics/media/proactive-remediations-create.png
  memdocs/analytics/media/proactive-remediations-script-settings.png
  memdocs/analytics/overview.md
  memdocs/analytics/powershell-scripts.md
  memdocs/analytics/proactive-remediations.md
  memdocs/analytics/recommended-software.md
  memdocs/analytics/settings.md
  memdocs/analytics/startup-performance.md
  memdocs/analytics/toc.yml
  memdocs/analytics/troubleshoot.md
  memdocs/analytics/whats-new.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/supported-devices-browsers.md
  memdocs/intune/fundamentals/whats-new-archive.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/compliance-policy-create-ios.md
  memdocs/intune/protect/security-baseline-settings-mdm-all.md
  memdocs/intune/protect/security-baseline-settings-mdm-archive.md
  memdocs/intune/protect/security-baseline-settings-mdm.md
  memdocs/intune/protect/security-baselines.md
  memdocs/intune/user-help/encrypt-your-device-android.md
  memdocs/intune/user-help/send-logs-to-your-it-admin-cp-windows.md
  memdocs/intune/user-help/you-need-to-turn-off-usb-debugging-android.md
  memdocs/intune/user-help/your-device-is-rooted-and-you-cant-connect-android.md
  memdocs/intune/zone-pivot-groups.yml
  memdocs/zone-pivot-groups.yml
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#793 From private repo
  memdocs/intune/apps/app-configuration-policies-use-ios.md
  memdocs/intune/apps/app-protection-framework.md
  memdocs/intune/apps/app-protection-policy.md
  memdocs/intune/apps/apps-deploy.md
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/apps/vpp-apps-ios.md
  memdocs/intune/developer/app-sdk-ios.md
  memdocs/intune/developer/app-wrapper-prepare-ios.md
  memdocs/intune/fundamentals/toc.yml
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/fundamentals/windows-10-virtual-machines.md
  memdocs/intune/fundamentals/windows-virtual-desktop.md
  memdocs/intune/protect/media/microsoft-tunnel-configure/download-installation-script.png
  memdocs/intune/protect/media/microsoft-tunnel-overview/tunnel-architecture.png
  memdocs/intune/protect/microsoft-tunnel-configure.md
  memdocs/intune/protect/microsoft-tunnel-monitor.md
  memdocs/intune/protect/microsoft-tunnel-overview.md
  memdocs/intune/protect/microsoft-tunnel-reference.md
  memdocs/intune/protect/security-baseline-settings-defender-atp.md
  memdocs/intune/protect/security-baseline-settings-edge.md
  memdocs/intune/protect/security-baseline-settings-mdm-all.md
  memdocs/intune/protect/security-baselines.md
  memdocs/intune/protect/toc.yml
  memdocs/intune/user-help/TOC.md
  memdocs/intune/user-help/troubleshoot-your-windows-10-device-windows.md
  memdocs/intune/user-help/use-microsoft-tunnel-android.md
  memdocs/intune/user-help/use-microsoft-tunnel-ios.md
Labels: do-not-merge, review-team-triage

#806 From private repo
  memdocs/configmgr/sum/deploy-use/optimize-windows-10-update-delivery.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/client-apps-optional-data.md
  memdocs/intune/protect/security-baseline-settings-mdm-all.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#809 From private repo
  memdocs/autopilot/networking-requirements.md
  memdocs/autopilot/self-deploying.md
  memdocs/autopilot/white-glove.md
  memdocs/configmgr/core/servers/manage/cmpivot.md
  memdocs/intune/configuration/shared-user-device-settings-windows.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/advanced-threat-protection.md
  memdocs/intune/protect/conditional-access-integrate-jamf.md
  memdocs/intune/user-help/encrypt-your-device-android.md
  memdocs/intune/user-help/turn-off-microsoft-usage-data-collection-android.md
  memdocs/intune/user-help/turn-off-microsoft-usage-data-collection-ios.md
  memdocs/intune/user-help/turn-off-microsoft-usage-data-collection-macos.md
  memdocs/intune/user-help/turn-off-microsoft-usage-data-collection-windows.md
  memdocs/intune/user-help/you-need-to-enable-code-integrity.md
  memdocs/intune/user-help/you-need-to-enable-secure-boot-windows.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#810 From private repo
  memdocs/intune/configuration/device-restrictions-android.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/compliance-policy-create-android.md
  memdocs/intune/protect/microsoft-tunnel-configure.md
  memdocs/intune/protect/microsoft-tunnel-overview.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#814 From private repo
  memdocs/autopilot/known-issues.md
  memdocs/configmgr/core/servers/manage/cmpivot.md
  memdocs/configmgr/desktop-analytics/privacy.md
  memdocs/intune/configuration/device-restrictions-android.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/windows-enrollment-status.md
  memdocs/intune/fundamentals/media/whats-new-app-ui/intune-company-portal-after-work-profile-2009.png
  memdocs/intune/fundamentals/media/whats-new-app-ui/intune-company-portal-before-work-profile-2009.png
  memdocs/intune/fundamentals/whats-new-app-ui.md
  memdocs/intune/fundamentals/whats-new-archive.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/conditional-access-assign-jamf.md
  memdocs/intune/protect/media/security-baselines-configure/assignments.png
  memdocs/intune/protect/media/security-baselines-configure/available-baselines.png
  memdocs/intune/protect/media/security-baselines-configure/review.png
  memdocs/intune/protect/media/security-baselines-configure/sample-list-of-settings.png
  memdocs/intune/protect/media/security-baselines-configure/select-baseline.png
  memdocs/intune/protect/media/security-baselines-configure/select-instance.png
  memdocs/intune/protect/microsoft-tunnel-overview.md
  memdocs/intune/protect/security-baseline-settings-defender-atp.md
  memdocs/intune/protect/security-baseline-settings-edge.md
  memdocs/intune/protect/security-baseline-settings-mdm-all.md
  memdocs/intune/protect/security-baselines-configure.md
  memdocs/intune/protect/security-baselines-monitor.md
  memdocs/intune/protect/security-baselines.md
  memdocs/intune/protect/toc.yml
  memdocs/intune/user-help/enroll-device-android-work-profile.md
  memdocs/intune/user-help/media/intune-company-portal-work-profile-redirect-2009.png
Labels: do-not-merge

#781 Explain GMS
  memdocs/intune/enrollment/android-enroll-device-administrator.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#782 Explained GMS
  memdocs/intune/enrollment/android-enroll.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#790 Update ios-enroll.md
  memdocs/intune/enrollment/ios-enroll.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#817 Update certificates-scep-configure.md
  memdocs/intune/protect/certificates-scep-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#818 From private repo
  memdocs/intune/apps/app-configuration-policies-use-ios.md
  memdocs/intune/apps/app-protection-policy.md
  memdocs/intune/developer/app-sdk-ios.md
  memdocs/intune/enrollment/quickstart-setup-auto-enrollment.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#821 From private repo
  .openpublishing.redirection.json
  memdocs/autopilot/enrollment-autopilot.md
  memdocs/autopilot/index.yml
  memdocs/autopilot/known-issues.md
  memdocs/autopilot/networking-requirements.md
  memdocs/autopilot/pre-provision.md
  memdocs/autopilot/self-deploying.md
  memdocs/autopilot/toc.yml
  memdocs/autopilot/windows-autopilot-scenarios.md
  memdocs/autopilot/windows-autopilot-whats-new.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc, w10/prod, windows/tech

#794 Update enrollment-autopilot.md
  memdocs/autopilot/enrollment-autopilot.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#824 From private repo
  .openpublishing.redirection.json
  memdocs/autopilot/enrollment-autopilot.md
  memdocs/configmgr/core/plan-design/security/plan-for-security.md
  memdocs/intune/configuration/custom-profile-hololens.md
  memdocs/intune/configuration/device-profile-create.md
  memdocs/intune/configuration/ios-device-features-settings.md
  memdocs/intune/configuration/macos-device-features-settings.md
  memdocs/intune/configuration/vpn-setting-configure-per-app.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/migration-guide-setup.md
  memdocs/intune/fundamentals/planning-guide-design.md
  memdocs/intune/fundamentals/whats-new-archive.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/certificate-connectors.md
  memdocs/intune/protect/certificates-configure.md
  memdocs/intune/protect/certificates-imported-pfx-configure.md
  memdocs/intune/protect/certificates-pfx-configure.md
  memdocs/intune/protect/certificates-profile-scep.md
  memdocs/intune/protect/certificates-s-mime-encryption-sign.md
  memdocs/intune/protect/certificates-scep-configure.md
  memdocs/intune/protect/certificates-trusted-root.md
  memdocs/intune/protect/index.yml
  memdocs/intune/protect/media/certificates-pfx-configure/certificates-pfx-configure-profile-fill.png
  memdocs/intune/protect/media/certificates-pfx-configure/certificates-pfx-configure-profile-new.png
  memdocs/intune/protect/media/certificates-pfx-configure/download-connector.png
  memdocs/intune/protect/media/certificates-trusted-root/certificates-configure-profile-fill.png
  memdocs/intune/protect/media/certificates-trusted-root/certificates-configure-profile-new.png
  memdocs/intune/protect/toc.yml
  memdocs/intune/protect/troubleshoot-pkcs-certificate-profiles.md
  memdocs/intune/user-help/why-enroll-android-device.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#826 From private repo
  memdocs/intune/enrollment/multi-factor-authentication.md
  memdocs/intune/protect/certificate-connectors.md
  memdocs/intune/protect/certificates-pfx-configure.md
  memdocs/intune/protect/microsoft-tunnel-overview.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#746 Isn't syncDisabled the opposite?
  memdocs/intune/apps/manage-microsoft-edge.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#760 Update apps-add-android-for-work.md
  memdocs/intune/apps/apps-add-android-for-work.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#763 Google Play apps to unmanaged devices
  memdocs/intune/apps/apps-deploy.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge
