Repository MicrosoftDocs/memdocs, pull requests merged in 2020-11, with the labels that each got.

#962 From private repo
  memdocs/analytics/overview.md
  memdocs/autopilot/add-devices.md
  memdocs/autopilot/policy-conflicts.md
  memdocs/configmgr/core/clients/deploy/deploy-clients-to-windows-computers.md
  memdocs/configmgr/core/get-started/2020/includes/2009/7520646.md
  memdocs/configmgr/core/get-started/2020/includes/2010-2/7979972.md
  memdocs/configmgr/core/get-started/2020/technical-preview-2010-2.md
  memdocs/configmgr/core/get-started/capabilities-in-technical-preview-1805.md
  memdocs/configmgr/core/get-started/capabilities-in-technical-preview-1806.md
  memdocs/configmgr/core/misc/in-console-documentation.md
  memdocs/configmgr/core/misc/system-center-configuration-manager.md
  memdocs/configmgr/core/servers/manage/cmpivot-changes.md
  memdocs/configmgr/core/understand/learn-more-editions.md
  memdocs/configmgr/develop/core/servers/console/conditional-actions.md
  memdocs/configmgr/mdt/samples-guide.md
  memdocs/configmgr/mdt/use-the-mdt.md
  memdocs/configmgr/osd/deploy-use/create-a-task-sequence-to-upgrade-an-operating-system.md
  memdocs/configmgr/osd/understand/task-sequence-variables.md
  memdocs/configmgr/protect/deploy-use/endpoint-protection-configure-client.md
  memdocs/configmgr/tenant-attach/cmpivot-samples-attached.md
  memdocs/intune/apps/app-management.md
  memdocs/intune/apps/app-office-policies.md
  memdocs/intune/apps/app-protection-policy-settings-android.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
  memdocs/intune/apps/apps-deploy.md
  memdocs/intune/apps/apps-win32-app-management.md
  memdocs/intune/apps/apps-win32-troubleshoot.md
  memdocs/intune/apps/company-portal-app.md
  memdocs/intune/apps/store-apps-company-portal-app.md
  memdocs/intune/configuration/custom-profile-hololens.md
  memdocs/intune/developer/app-sdk-android.md
  memdocs/intune/developer/app-sdk-ios.md
  memdocs/intune/developer/reports-proc-data-rest.md
  memdocs/intune/enrollment/windows-enrollment-status.md
  memdocs/intune/fundamentals/reports-export-graph-apis.md
  memdocs/intune/fundamentals/reports.md
  memdocs/intune/fundamentals/windows-virtual-desktop.md
  memdocs/intune/protect/antivirus-windows-security-settings-windows-tenant-attach.md
  memdocs/intune/protect/certificates-trusted-root.md
  memdocs/intune/protect/client-apps-optional-data.md
  memdocs/intune/protect/encrypt-devices.md
  memdocs/intune/protect/microsoft-tunnel-configure.md
  memdocs/intune/protect/microsoft-tunnel-overview.md
  memdocs/intune/protect/privacy-data-store-process.md
  memdocs/intune/user-help/enroll-your-device-in-intune-ios.md
  memdocs/intune/user-help/you-need-to-enable-code-integrity.md
  memdocs/intune/user-help/you-need-to-enable-secure-boot-windows.md
Labels: do-not-merge

#964 From private repo
  memdocs/autopilot/windows-autopilot-hybrid.md
  memdocs/intune/enrollment/device-enrollment-manager-enroll.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-macos.md
  memdocs/intune/enrollment/ios-user-enrollment.md
  memdocs/intune/protect/privacy-data-collect.md
  memdocs/intune/remote-actions/device-rename.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#969 From private repo
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/protect/media/wandera-mtd-connector/wandera-network-spo-unblocked.png
  memdocs/intune/protect/media/wandera-mtd-connector/wandera-network-wifi-unblocked.png
  memdocs/intune/remote-actions/devices-wipe.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#966 Update vpp-apps-ios.md
  memdocs/intune/apps/vpp-apps-ios.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#971 From private repo
  memdocs/intune/fundamentals/licenses.md
  memdocs/intune/remote-actions/devices-wipe.md
  memdocs/intune/user-help/send-logs-to-your-it-admin-cp-windows.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#970 Update device-firmware-configuration-interface-windows.md
  memdocs/intune/configuration/device-firmware-configuration-interface-windows.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#973 From private repo
  memdocs/analytics/overview.md
  memdocs/configmgr/core/get-started/2020/includes/2010-2/7768130.md
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2006.md
  memdocs/configmgr/protect/deploy-use/bitlocker/deploy-management-agent.md
  memdocs/intune/configuration/device-restrictions-ios.md
Labels: do-not-merge

#975 From private repo
  memdocs/autopilot/enrollment-autopilot.md
  memdocs/autopilot/networking-requirements.md
  memdocs/autopilot/software-requirements.md
  memdocs/configmgr/core/clients/manage/monitor-windows-analytics.md
  memdocs/configmgr/core/get-started/2019/includes/1902-2/3735402.md
  memdocs/configmgr/core/get-started/capabilities-in-technical-preview-1511.md
  memdocs/configmgr/core/misc/in-console-documentation.md
  memdocs/configmgr/core/misc/mms2019docathon.md
  memdocs/configmgr/core/plan-design/configs/support-for-sql-server-versions.md
  memdocs/configmgr/core/servers/manage/upgrade-on-premises-infrastructure.md
  memdocs/configmgr/core/support/support-center.md
  memdocs/configmgr/desktop-analytics/enable-data-sharing.md
  memdocs/configmgr/desktop-analytics/ready-for-windows.md
  memdocs/configmgr/mdt/toolkit-reference.md
  memdocs/configmgr/osd/deploy-use/upgrade-windows-to-the-latest-version.md
  memdocs/configmgr/protect/deploy-use/endpoint-protection-group-policies.md
  memdocs/configmgr/sum/deploy-use/office-365-dashboard.md
  memdocs/configmgr/sum/get-started/software-update-point-ssl.md
  memdocs/get-support.md
  memdocs/intune/apps/app-protection-framework.md
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/apps/apps-win32-s-mode.md
  memdocs/intune/enrollment/enrollment-restrictions-set.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-android.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-ios-ipados.md
  memdocs/intune/fundamentals/device-lifecycle.md
  memdocs/intune/fundamentals/guided-scenarios-cloud-managed-pc.md
  memdocs/intune/fundamentals/guided-scenarios-edge.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/intune-legacy-pc-client.md
  memdocs/intune/fundamentals/intune-planning-guide.md
  memdocs/intune/fundamentals/mdm-authority-set.md
  memdocs/intune/fundamentals/microsoft-intune-service-description.md
  memdocs/intune/fundamentals/network-bandwidth-use.md
  memdocs/intune/fundamentals/supported-devices-browsers.md
  memdocs/intune/fundamentals/whats-new-archive-classic.md
  memdocs/intune/fundamentals/whats-new-archive.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/antivirus-microsoft-defender-settings-windows-tenant-attach.md
  memdocs/intune/protect/antivirus-microsoft-defender-settings-windows.md
  memdocs/intune/protect/antivirus-security-experience-windows-settings.md
  memdocs/intune/protect/endpoint-protection-windows-10.md
  memdocs/intune/protect/endpoint-security-asr-profile-settings.md
  memdocs/intune/protect/endpoint-security-disk-encryption-profile-settings.md
  memdocs/intune/protect/endpoint-security-firewall-profile-settings-tenant-attach.md
  memdocs/intune/protect/endpoint-security-firewall-profile-settings.md
  memdocs/intune/protect/mtd-connector-enable.md
  memdocs/intune/protect/security-baseline-settings-defender-atp.md
  memdocs/intune/protect/security-baseline-settings-mdm-all.md
  memdocs/intune/user-help/samsung-knox-errors-android.md
  memdocs/use-docs.md
Labels: do-not-merge

#979 From private repo
  memdocs/configmgr/core/get-started/2020/includes/2010-2/6979470.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#986 Update app-protection-policy-settings-android.md
  memdocs/intune/apps/app-protection-policy-settings-android.md
Labels: Change sent to author, apps/subsvc, microsoft-intune/svc, ready-to-merge

#987 Update app-protection-policy-settings-ios.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
Labels: Change sent to author, apps/subsvc, microsoft-intune/svc, ready-to-merge

#989 From private repo
  memdocs/configmgr/protect/deploy-use/bitlocker/deploy-management-agent.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-android.md
  memdocs/intune/fundamentals/deployment-guide-enrollment.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#993 From private repo
  memdocs/configmgr/core/servers/deploy/configure/boundary-groups.md
  memdocs/docfx.json
  memdocs/intune/configuration/vpn-settings-android-enterprise.md
  memdocs/intune/configuration/vpn-settings-configure.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-macos.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#974 client-installation-properties: SMSSiteCode
  memdocs/configmgr/core/clients/deploy/about-client-installation-properties.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#995 From private repo
  memdocs/configmgr/core/misc/in-console-documentation.md
  memdocs/configmgr/desktop-analytics/faq.md
  memdocs/intune/configuration/vpn-settings-android.md
  memdocs/intune/configuration/vpn-settings-ios.md
  memdocs/intune/configuration/vpn-settings-macos.md
  memdocs/intune/configuration/vpn-settings-windows-10.md
  memdocs/intune/configuration/vpn-settings-windows-8-1.md
  memdocs/intune/fundamentals/reports.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/endpoint-protection-windows-10.md
Labels: do-not-merge

#997 From private repo
  memdocs/configmgr/core/servers/manage/updates.md
  memdocs/intune/fundamentals/media/whats-new-app-ui/company-portal-work-profile-link.png
  memdocs/intune/fundamentals/media/whats-new-app-ui/find-work-apps-cp-2011.png
  memdocs/intune/fundamentals/media/whats-new-app-ui/get-more-apps-cp-2011.png
  memdocs/intune/fundamentals/media/whats-new-app-ui/new-work-profile-company-portal-2011.png
  memdocs/intune/fundamentals/media/whats-new-app-ui/new-work-profile-cp-2011.png
  memdocs/intune/fundamentals/whats-new-app-ui.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/privacy-data-collect.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#1000 From private repo
  memdocs/intune/apps/app-configuration-policies-use-ios.md
  memdocs/intune/apps/vpp-apps-ios.md
  memdocs/intune/configuration/device-firmware-configuration-interface-windows.md
  memdocs/intune/developer/app-sdk-ios.md
  memdocs/intune/protect/advanced-threat-protection.md
Labels: do-not-merge

#1003 From private repo
  memdocs/intune/apps/apps-add-office365.md
  memdocs/intune/protect/privacy-data-collect.md
  memdocs/intune/remote-actions/teamviewer-support.md
  memdocs/intune/user-help/TOC.md
  memdocs/intune/user-help/media/google-pixel-4-app-drawer-android.png
  memdocs/intune/user-help/media/google-pixel-4-app-drawer-pause-android.png
  memdocs/intune/user-help/media/google-pixel-4-badge-android.png
  memdocs/intune/user-help/media/google-pixel-4-play-store-android.png
  memdocs/intune/user-help/media/google-pixel-4-quick-settings-android.png
  memdocs/intune/user-help/media/google-pixel-4-settings-android.png
  memdocs/intune/user-help/media/nexus-5x-app-drawer-android.png
  memdocs/intune/user-help/media/nexus-5x-badge-android.png
  memdocs/intune/user-help/media/nexus-5x-play-store-android.png
  memdocs/intune/user-help/media/nexus-5x-quick-settings-android.png
  memdocs/intune/user-help/media/nexus-5x-settings-android.png
  memdocs/intune/user-help/media/nexus-5x-work-profile-folder-android.png
  memdocs/intune/user-help/media/personal-no-briefcase-android.png
  memdocs/intune/user-help/media/samsung-galaxy-s20-app-drawer-android.png
  memdocs/intune/user-help/media/samsung-galaxy-s20-badge-android.png
  memdocs/intune/user-help/media/samsung-galaxy-s20-pause-app-drawer.png
  memdocs/intune/user-help/media/samsung-galaxy-s20-play-store-android.png
  memdocs/intune/user-help/media/samsung-galaxy-s20-quick-settings-android.png
  memdocs/intune/user-help/media/samsung-galaxy-s20-settings-android.png
  memdocs/intune/user-help/media/samsung-galaxy-s20-work-folder-android-example.png
  memdocs/intune/user-help/media/samsung-galaxy-s20-work-folder-android.png
  memdocs/intune/user-help/media/surface-duo-app-drawer-android.png
  memdocs/intune/user-help/media/surface-duo-badge-android.png
  memdocs/intune/user-help/media/surface-duo-play-store-android.png
  memdocs/intune/user-help/media/surface-duo-quick-settings-android.png
  memdocs/intune/user-help/media/surface-duo-settings-android.png
  memdocs/intune/user-help/media/surface-duo-work-profile-folder-android.png
  memdocs/intune/user-help/media/work-briefcase-badge-android.png
  memdocs/intune/user-help/what-happens-when-you-create-a-work-profile-android.md
Labels: do-not-merge, review-team-triage

#1005 From private repo
  memdocs/configmgr/core/get-started/2020/includes/2010/7752243.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#1007 From private repo
  memdocs/intune/protect/zimperium-mtd-connector-integration.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#1009 Reduce confusion between Removable Storage and USB Connection device restrictions
  memdocs/intune/configuration/device-restrictions-windows-10.md
Labels: Change sent to author, aq-pr-triaged, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#1012 From private repo
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2002.md
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2006.md
  memdocs/intune/configuration/device-features-configure.md
Labels: Change sent to author, configuration-manager/prod, configuration/subsvc, do-not-merge, microsoft-intune/svc

#1016 From private repo
  memdocs/intune/fundamentals/deployment-guide-enrollment-android.md
Labels: do-not-merge

#1017 Fixing typos & omissions for User certificate type
  memdocs/intune/protect/certificates-pfx-configure.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1019 From private repo
  memdocs/intune/protect/encrypt-devices.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#1021 adding more info about sample sharing per customer feedback
  memdocs/intune/protect/endpoint-security-edr-profile-settings.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#988 Update manage-without-gms.md
  memdocs/intune/apps/manage-without-gms.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1022 From private repo
  memdocs/intune/apps/app-configuration-policies-use-ios.md
  memdocs/intune/apps/app-protection-framework.md
  memdocs/intune/apps/app-protection-policy-settings-android.md
  memdocs/intune/apps/apps-selective-wipe.md
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/apps/apps-win32-app-management.md
  memdocs/intune/apps/troubleshoot-app-install.md
  memdocs/intune/configuration/wi-fi-settings-windows.md
  memdocs/intune/configuration/windows-health-monitoring.md
  memdocs/intune/developer/app-sdk-get-started.md
  memdocs/intune/developer/app-sdk-ios.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-ios-ipados.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-macos.md
  memdocs/intune/fundamentals/reports.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#1025 From private repo
  memdocs/intune/enrollment/device-enrollment-program-enroll-macos.md
  memdocs/intune/enrollment/enrollment-restrictions-set.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#1024 Make hash extraction script more PowerShell-y
  memdocs/autopilot/add-devices.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, w10/prod

#1026 From private repo
  memdocs/configmgr/sum/deploy-use/surface-drivers.md
  memdocs/intune/apps/apps-add-office365.md
Labels: Change sent to author, apps/subsvc, configuration-manager/prod, do-not-merge, microsoft-intune/svc

#1029 Misspelled
  memdocs/intune/configuration/android-oem-configuration-overview.md
Labels: Change sent to author, configuration/subsvc, good first issue, in-progress, microsoft-intune/svc, pm, product-question, ready-to-merge

#1028 typo
  memdocs/intune/protect/microsoft-tunnel-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#1031 Update configure-discovery-methods.md
  memdocs/configmgr/core/servers/deploy/configure/configure-discovery-methods.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#1032 Update configuring-reporting.md
  memdocs/configmgr/core/servers/manage/configuring-reporting.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#1033 From private repo
  memdocs/analytics/media/proactive-remediations-script-settings.png
  memdocs/analytics/proactive-remediations.md
  memdocs/configmgr/core/support/ceviewer.md
  memdocs/intune/configuration/device-profile-create.md
  memdocs/intune/configuration/device-profiles.md
  memdocs/intune/configuration/network-boundary-windows.md
  memdocs/intune/configuration/toc.yml
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/endpoint-protection-windows-10.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#1027 Update manage-microsoft-edge.md
  memdocs/intune/apps/manage-microsoft-edge.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1035 Update advanced-threat-protection-configure.md
  memdocs/intune/protect/advanced-threat-protection-configure.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1036 From private repo
  memdocs/autopilot/media/windows-autopilot-hybrid/auto-enroll-scope.png
  memdocs/autopilot/windows-autopilot-hybrid.md
  memdocs/configmgr/core/servers/manage/operations-and-maintenance-for-reporting.md
  memdocs/configmgr/desktop-analytics/faq.md
  memdocs/intune/apps/app-configuration-policies-overview.md
  memdocs/intune/apps/app-configuration-policies-use-android.md
  memdocs/intune/apps/app-configuration-vpn-ae.md
  memdocs/intune/apps/app-discovered-apps.md
  memdocs/intune/apps/app-protection-policy-settings-android.md
  memdocs/intune/apps/apps-add-android-for-work.md
  memdocs/intune/apps/apps-add.md
  memdocs/intune/apps/apps-ae-system.md
  memdocs/intune/apps/apps-configure-chrome-android.md
  memdocs/intune/apps/apps-deploy.md
  memdocs/intune/apps/apps-monitor.md
  memdocs/intune/apps/manage-microsoft-edge.md
  memdocs/intune/apps/manage-microsoft-office.md
  memdocs/intune/apps/manage-microsoft-teams.md
  memdocs/intune/apps/troubleshoot-app-protection-policy-deployment.md
  memdocs/intune/apps/tutorial-configure-slack-enterprise-grid.md
  memdocs/intune/fundamentals/deployment-guide-intune-setup.md
  memdocs/intune/protect/media/advanced-threat-protection-configure/atp-onboarding-configuration.png
Labels: Change sent to author, configuration-manager/prod, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#1037 Azure portal is no longer used for Intune
  memdocs/autopilot/autopilot-support.md
Labels: Change sent to author, do-not-merge, w10/prod

#1030 Add Automatic Client Upgrade
  memdocs/configmgr/core/clients/manage/cmg/supported-configurations.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1041 From private repo
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/includes/mdm-supported-devices.md
  memdocs/intune/protect/advanced-threat-protection-configure.md
Labels: do-not-merge

#832 Update apps-windows-10-app-deploy.md
  memdocs/intune/apps/apps-windows-10-app-deploy.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1042 Corrected the right WSUS ports
  memdocs/configmgr/core/clients/manage/cmg/data-flow.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1039 add a sup5 to clarify LoB for AE
  memdocs/intune/apps/app-management.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1047 From private repo
  memdocs/autopilot/media/windows-autopilot-hybrid/auto-enroll-scope.png
  memdocs/autopilot/windows-autopilot-hybrid.md
  memdocs/intune/apps/app-management.md
  memdocs/intune/apps/vpp-apps-ios.md
  memdocs/intune/apps/vpp-ebooks-ios.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/protect/certificates-scep-configure.md
  memdocs/intune/protect/data-apple-sends-to-intune.md
  memdocs/intune/protect/data-intune-sends-to-apple.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#1050 Update teamviewer-support.md
  memdocs/intune/remote-actions/teamviewer-support.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#1054 From private repo
  memdocs/analytics/enroll-configmgr.md
Labels: Change sent to author, configmgr-analytics/tech, configuration-manager/prod, do-not-merge

#1055 Update Autopilot Redeployment/Reset Setting
  memdocs/autopilot/windows-autopilot-reset.md
Labels: Change sent to author, do-not-merge, w10/prod, windows/tech

#1020 Update windows-update-for-business-configure.md
  memdocs/intune/protect/windows-update-for-business-configure.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1056 From private repo
  memdocs/configmgr/tenant-attach/device-sync-actions.md
  memdocs/intune/user-help/TOC.md
  memdocs/intune/user-help/allow-wi-fi-control-android.md
Labels: do-not-merge, review-team-triage

#1059 From private repo
  memdocs/configmgr/core/TOC.yml
  memdocs/configmgr/core/get-started/2020/includes/2011/3555909.md
  memdocs/configmgr/core/get-started/2020/includes/2011/3555940.md
  memdocs/configmgr/core/get-started/2020/includes/2011/4993167.md
  memdocs/configmgr/core/get-started/2020/includes/2011/6991647.md
  memdocs/configmgr/core/get-started/2020/includes/2011/7774961.md
  memdocs/configmgr/core/get-started/2020/includes/2011/8052494.md
  memdocs/configmgr/core/get-started/2020/includes/2011/8160460.md
  memdocs/configmgr/core/get-started/2020/includes/2011/8272488.md
  memdocs/configmgr/core/get-started/2020/includes/2011/8764365.md
  memdocs/configmgr/core/get-started/2020/media/3555940-servicing-dashboard.png
  memdocs/configmgr/core/get-started/2020/media/4993167-notification-with-logo.png
  memdocs/configmgr/core/get-started/2020/media/8160460-product-lifecycle-timescale.png
  memdocs/configmgr/core/get-started/2020/technical-preview-2007.md
  memdocs/configmgr/core/get-started/2020/technical-preview-2011.md
  memdocs/configmgr/core/get-started/media/3555909-extension-installed.png
  memdocs/configmgr/core/get-started/media/3555909-extension-notification.png
  memdocs/configmgr/core/get-started/media/3555909-notification.png
  memdocs/configmgr/core/get-started/media/6991647-approved-scripts-orchestration-group.png
  memdocs/configmgr/core/get-started/media/8052494-community-hub-content-hierarchy-settings.png
  memdocs/configmgr/core/get-started/media/8052494-community-hub-content-sources.png
  memdocs/configmgr/core/get-started/technical-preview.md
  memdocs/intune/protect/certificates-configure.md
  memdocs/intune/protect/encrypt-devices.md
Labels: do-not-merge

#1038 Update encrypt-devices.md
  memdocs/intune/protect/encrypt-devices.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, in-progress, microsoft-intune/svc, protect/subsvc

#1060 From private repo
  memdocs/configmgr/desktop-analytics/privacy.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/user-help/install-company-portal-android-china.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#1063 From private repo
  memdocs/configmgr/core/get-started/2020/includes/2011/8052494.md
  memdocs/intune/configuration/device-restrictions-windows-10.md
  memdocs/intune/protect/certificates-configure.md
  memdocs/intune/user-help/manage-apps-cpweb.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#1065 From private repo
  memdocs/autopilot/windows-autopilot-scenarios.md
  memdocs/autopilot/windows-autopilot.md
  memdocs/intune/apps/intune-management-extension.md
  memdocs/intune/fundamentals/reports.md
  memdocs/intune/fundamentals/whats-new-archive.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/media/windows-10-update-rings/basics-tab.png
  memdocs/intune/protect/media/windows-10-update-rings/overview-actions.png
  memdocs/intune/protect/media/windows-update-compliance-reports/alert-message-details.png
  memdocs/intune/protect/media/windows-update-compliance-reports/device-details.png
  memdocs/intune/protect/media/windows-update-compliance-reports/intune-data-collection-policy.png
  memdocs/intune/protect/media/windows-update-compliance-reports/update-failures-summary.png
  memdocs/intune/protect/media/windows-update-compliance-reports/whm-scope.png
  memdocs/intune/protect/media/windows-update-compliance-reports/windows-feature-updates-by-policy.png
  memdocs/intune/protect/media/windows-update-compliance-reports/windows-updates-summary.png
  memdocs/intune/protect/toc.yml
  memdocs/intune/protect/windows-10-feature-updates.md
  memdocs/intune/protect/windows-10-update-rings.md
  memdocs/intune/protect/windows-update-compliance-reports.md
  memdocs/intune/protect/windows-update-for-business-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc, w10/prod

#1064 Updating this page based on Engineering Insights investigation
  memdocs/intune/protect/troubleshoot-bitlocker-policies.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1072 From private repo
  memdocs/intune/protect/mtd-apps-ios-app-configuration-policy-add-assign.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#1074 From private repo
  memdocs/intune/configuration/device-restrictions-android-for-work.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/user-help/send-logs-to-microsoft-android.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc
