Repository MicrosoftDocs/memdocs, pull requests merged in 2020-08, with the labels that each got.

#571 Update deploy-management-agent.md
  memdocs/configmgr/protect/deploy-use/bitlocker/deploy-management-agent.md
Labels: Change sent to author, aq-pr-triaged, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#583 Update overview.md
  memdocs/analytics/overview.md
Labels: do-not-merge

#587 From private repo
  memdocs/configmgr/comanage/tutorial-co-manage-new-devices.md
  memdocs/configmgr/core/servers/manage/operations-and-maintenance-for-reporting.md
  memdocs/configmgr/mdt/samples-guide.md
  memdocs/configmgr/protect/TOC.yml
  memdocs/configmgr/protect/deploy-use/endpoint-protection-group-policies.md
  memdocs/intune/configuration/vpn-settings-ios.md
  memdocs/intune/enrollment/device-enrollment-direct-enroll-macos.md
  memdocs/intune/enrollment/toc.yml
Labels: Change sent to author, configuration-manager/prod, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#543 Updating incorrect reference to MGP manual sync in console
  memdocs/intune/apps/apps-add-android-for-work.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#589 From private repo
  .openpublishing.redirection.json
  memdocs/autopilot/demonstrate-deployment-on-vm.md
  memdocs/autopilot/index.yml
  memdocs/autopilot/toc.yml
  memdocs/configmgr/core/understand/product-and-licensing-faq.md
  memdocs/configmgr/develop/core/understand/sqlviews/hardware-inventory-views-configuration-manager.md
  memdocs/intune/fundamentals/whats-new.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#596 From private repo
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-1702.md
  memdocs/configmgr/core/servers/manage/reference-for-maintenance-tasks.md
  memdocs/configmgr/develop/reference/sum/sms_updategroupassignment-server-wmi-class.md
  memdocs/configmgr/develop/reference/sum/sms_updatesassignment-server-wmi-class.md
  memdocs/configmgr/develop/reference/sum/updateprereqandstateflags-method-in-class-sms_cm_updatepackages.md
  memdocs/configmgr/develop/sum/how-to-add-updates-to-a-deployment-package.md
  memdocs/configmgr/develop/sum/how-to-change-the-deployment-package-source.md
  memdocs/configmgr/develop/sum/how-to-configure-and-deploy-updates.md
  memdocs/configmgr/develop/sum/how-to-configure-software-updates-to-override-maintenance-windows.md
  memdocs/configmgr/develop/sum/how-to-configure-the-software-update-point.md
  memdocs/configmgr/develop/sum/how-to-configure-the-wsus-settings.md
  memdocs/configmgr/develop/sum/how-to-create-a-deployment-package.md
  memdocs/configmgr/develop/sum/how-to-create-a-deployment-template.md
  memdocs/configmgr/develop/sum/how-to-create-an-update-list.md
  memdocs/configmgr/develop/sum/how-to-delete-updates-from-a-deployment-package.md
  memdocs/configmgr/develop/sum/how-to-enable-or-disable-the-software-updates-client-agent.md
  memdocs/configmgr/develop/sum/how-to-enumerate-updates-matching-a-specific-criteria.md
  memdocs/configmgr/develop/sum/how-to-set-software-updates-branding-information.md
  memdocs/configmgr/develop/sum/how-to-synchronize-with-the-software-update-point.md
  memdocs/configmgr/mdt/toolkit-reference.md
  memdocs/configmgr/osd/get-started/manage-boot-images.md
  memdocs/intune/apps/app-management.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
  memdocs/intune/apps/manage-microsoft-edge.md
  memdocs/intune/apps/vpp-apps-ios.md
  memdocs/intune/developer/app-sdk-ios.md
  memdocs/intune/developer/app-sdk-xamarin.md
  memdocs/intune/fundamentals/manage-license-agreements-for-windows-pc-software-in-microsoft-intune.md
  memdocs/intune/fundamentals/review-logs-using-azure-monitor.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#597 Added new question to first section on MPC
  memdocs/autopilot/autopilot-faq.md
Labels: Change sent to author, do-not-merge, w10/prod

#602 From private repo
  .openpublishing.redirection.json
  memdocs/autopilot/autopilot-faq.md
  memdocs/autopilot/windows-autopilot-hybrid.md
  memdocs/intune/user-help/your-device-is-missing-a-preinstalled-certificate-android.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#600 Add info about the SMS Role SSL Certificate
  memdocs/configmgr/core/plan-design/hierarchy/enhanced-http.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#603 Update app-configuration-policies-managed-app.md
  memdocs/intune/apps/app-configuration-policies-managed-app.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#608 From private repo
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/whats-new-app-ui.md
  memdocs/intune/protect/certificates-imported-pfx-configure.md
  memdocs/intune/protect/certificates-profile-scep.md
  memdocs/intune/protect/endpoint-security-asr-profile-settings.md
  memdocs/intune/protect/exchange-connector-install.md
  memdocs/intune/user-help/enroll-device-android-work-profile.md
  memdocs/intune/user-help/enroll-your-device-in-intune-ios.md
  memdocs/intune/user-help/install-company-portal-android-china.md
  memdocs/intune/user-help/password-does-not-meet-it-administrator-requirements.md
  memdocs/intune/user-help/turn-on-defender-windows.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#610 From private repo
  memdocs/intune/includes/intune-notices.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#611 From private repo
  memdocs/configmgr/desktop-analytics/troubleshooting.md
Labels: do-not-merge

#559 Update windows-bulk-enroll.md
  memdocs/intune/enrollment/windows-bulk-enroll.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#615 Remove extra character
  memdocs/configmgr/develop/adminservice/usage.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#617 From private repo
  memdocs/analytics/data-collection.md
  memdocs/analytics/enroll-configmgr.md
  memdocs/analytics/enroll-intune.md
  memdocs/analytics/overview.md
  memdocs/configmgr/core/plan-design/network/websites-for-site-system-servers.md
  memdocs/intune/configuration/custom-settings-configure.md
  memdocs/intune/configuration/custom-settings-windows-phone-8-1.md
  memdocs/intune/configuration/device-profile-create.md
  memdocs/intune/configuration/device-profiles.md
  memdocs/intune/configuration/device-restrictions-configure.md
  memdocs/intune/configuration/device-restrictions-windows-phone-8-1.md
  memdocs/intune/configuration/edition-upgrade-configure-windows-10.md
  memdocs/intune/configuration/edition-upgrade-windows-settings.md
  memdocs/intune/configuration/email-settings-android-enterprise.md
  memdocs/intune/configuration/email-settings-android.md
  memdocs/intune/configuration/email-settings-configure.md
  memdocs/intune/configuration/email-settings-ios.md
  memdocs/intune/configuration/email-settings-windows-phone-8-1.md
  memdocs/intune/configuration/troubleshoot-policies-in-microsoft-intune.md
  memdocs/intune/configuration/vpn-settings-android-enterprise.md
  memdocs/intune/configuration/vpn-settings-android.md
  memdocs/intune/configuration/vpn-settings-configure.md
  memdocs/intune/configuration/vpn-settings-windows-phone-8-1.md
  memdocs/intune/configuration/wi-fi-settings-configure.md
  memdocs/intune/includes/windows-phone-81-windows-10-mobile-support.md
  memdocs/intune/protect/endpoint-security-asr-profile-settings.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#619 From private repo
  .openpublishing.redirection.json
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2006.md
  memdocs/configmgr/core/servers/manage/powerbi-sample-reports.md
  memdocs/intune/apps/app-discovered-apps.md
  memdocs/intune/apps/app-management.md
  memdocs/intune/apps/app-sideload-windows.md
  memdocs/intune/apps/apps-add.md
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/apps/company-portal-app.md
  memdocs/intune/apps/intune-management-extension.md
  memdocs/intune/apps/lob-apps-windows-phone.md
  memdocs/intune/apps/store-apps-company-portal-app.md
  memdocs/intune/apps/store-apps-windows-phone-8-1.md
  memdocs/intune/fundamentals/planning-guide-design.md
  memdocs/intune/includes/windows-phone-81-windows-10-mobile-support.md
  memdocs/intune/protect/advanced-threat-protection-configure.md
  memdocs/intune/user-help/TOC.md
  memdocs/intune/user-help/enroll-windows-10-device.md
  memdocs/intune/user-help/enroll-your-wp81-windows.md
  memdocs/intune/user-help/using-your-windows-device-with-intune.md
  memdocs/intune/user-help/windows-enrollment-company-portal.md
Labels: do-not-merge, review-team-triage

#622 From private repo
  memdocs/configmgr/core/misc/in-console-documentation.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#588 Update app-management.md
  memdocs/intune/apps/app-management.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#623 Update device cleanup rules for AE scenarios
  memdocs/intune/remote-actions/devices-wipe.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge, remote-actions/subsvc

#624 From private repo
  memdocs/autopilot/windows-autopilot-requirements.md
  memdocs/intune/apps/app-management.md
  memdocs/intune/apps/app-protection-policies-exception.md
  memdocs/intune/apps/app-protection-policies.md
  memdocs/intune/apps/app-protection-policy-delivery.md
  memdocs/intune/apps/app-protection-policy-extensions.md
  memdocs/intune/apps/apps-add-built-in.md
  memdocs/intune/apps/apps-ae-system.md
  memdocs/intune/apps/apps-deploy-gcc-dod.md
  memdocs/intune/apps/apps-win32-s-mode.md
  memdocs/intune/apps/lob-apps-android.md
  memdocs/intune/apps/store-apps-android.md
  memdocs/intune/apps/store-apps-ios.md
  memdocs/intune/apps/store-apps-windows.md
  memdocs/intune/apps/troubleshoot-mam.md
  memdocs/intune/apps/vpp-apps-ios.md
  memdocs/intune/apps/vpp-apps.md
  memdocs/intune/apps/windows-store-for-business.md
  memdocs/intune/configuration/wi-fi-settings-windows.md
  memdocs/intune/fundamentals/free-trial-sign-up.md
  memdocs/intune/fundamentals/guided-scenarios-edge.md
  memdocs/intune/fundamentals/guided-scenarios-office-mobile.md
  memdocs/intune/fundamentals/guided-scenarios-overview.md
  memdocs/intune/fundamentals/migration-guide-app-protection-policies.md
  memdocs/intune/protect/certificates-configure.md
Labels: do-not-merge

#629 Update manage-microsoft-edge.md
  memdocs/intune/apps/manage-microsoft-edge.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#630 From private repo
  memdocs/autopilot/known-issues.md
  memdocs/intune/protect/compliance-policy-create-windows.md
  memdocs/intune/protect/media/security-baselines/available-baselines.png
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc, w10/prod

#631 Update app-sdk-android.md
  memdocs/intune/developer/app-sdk-android.md
Labels: Change sent to author, developer/subsvc, microsoft-intune/svc, ready-to-merge

#632 From private repo
  memdocs/autopilot/configuration-requirements.md
  memdocs/autopilot/index.yml
  memdocs/autopilot/known-issues.md
  memdocs/autopilot/licensing-requirements.md
  memdocs/autopilot/networking-requirements.md
  memdocs/autopilot/software-requirements.md
  memdocs/autopilot/toc.yml
  memdocs/autopilot/troubleshooting.md
  memdocs/autopilot/user-driven.md
  memdocs/autopilot/white-glove.md
  memdocs/autopilot/windows-autopilot.md
  memdocs/configmgr/tenant-attach/client-details.md
  memdocs/configmgr/tenant-attach/device-sync-actions.md
  memdocs/configmgr/tenant-attach/includes/known-issues-shared.md
  memdocs/configmgr/tenant-attach/troubleshoot-applications.md
  memdocs/configmgr/tenant-attach/troubleshoot-client-details.md
  memdocs/configmgr/tenant-attach/troubleshoot.md
  memdocs/intune/apps/app-discovered-apps.md
  memdocs/intune/apps/app-management.md
  memdocs/intune/apps/app-protection-policy-settings-android.md
  memdocs/intune/apps/apps-add.md
  memdocs/intune/developer/reports-ref-data-model.md
  memdocs/intune/enrollment/corporate-identifiers-add.md
  memdocs/intune/enrollment/enrollment-restrictions-set.md
  memdocs/intune/protect/actions-for-noncompliance.md
  memdocs/intune/protect/certificates-configure.md
  memdocs/intune/protect/certificates-profile-scep.md
  memdocs/intune/protect/compliance-policy-create-windows-8-1.md
  memdocs/intune/protect/compliance-policy-create-windows.md
  memdocs/intune/protect/conditional-access-exchange-create.md
  memdocs/intune/protect/create-compliance-policy.md
  memdocs/intune/protect/device-compliance-get-started.md
  memdocs/intune/protect/endpoint-protection-windows-10.md
  memdocs/intune/protect/identity-protection-configure.md
  memdocs/intune/protect/windows-hello.md
  memdocs/intune/protect/windows-update-for-business-configure.md
  memdocs/intune/remote-actions/device-remote-lock.md
  memdocs/intune/remote-actions/device-sync.md
  memdocs/intune/remote-actions/device-windows-pin-reset.md
  memdocs/intune/remote-actions/devices-wipe.md
Labels: do-not-merge

#634 Update app-discovered-apps.md
  memdocs/intune/apps/app-discovered-apps.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#639 From private repo
  memdocs/configmgr/tenant-attach/cmpivot-overview-attached.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#641 From private repo
  memdocs/configmgr/core/clients/deploy/deploy-clients-cmg-token.md
  memdocs/configmgr/core/clients/manage/cmg/setup-cloud-management-gateway.md
  memdocs/configmgr/core/servers/deploy/install/release-notes.md
  memdocs/configmgr/core/servers/manage/checklist-for-installing-update-2006.md
  memdocs/configmgr/tenant-attach/breadcrumb/toc.yml
  memdocs/configmgr/tenant-attach/context/context.yml
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#643 From private repo
  memdocs/autopilot/white-glove.md
  memdocs/configmgr/apps/breadcrumb/toc.yml
  memdocs/configmgr/core/TOC.yml
  memdocs/configmgr/core/breadcrumb/TOC.yml
  memdocs/intune/apps/store-apps-company-portal-autopilot.md
  memdocs/intune/apps/windows-store-for-business.md
  memdocs/intune/protect/certificates-profile-scep.md
  memdocs/intune/protect/compliance-policy-create-windows.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc, w10/prod

#645 From private repo
  memdocs/autopilot/networking-requirements.md
  memdocs/configmgr/apps/TOC.yml
  memdocs/configmgr/apps/deploy-use/deploy-applications.md
  memdocs/configmgr/core/get-started/2019/includes/1902-2/3555946.md
  memdocs/configmgr/core/get-started/capabilities-in-technical-preview-1701.md
  memdocs/configmgr/core/get-started/capabilities-in-technical-preview-1705.md
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-1806.md
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-1810.md
  memdocs/configmgr/core/servers/deploy/install/remove-central-administration-site.md
  memdocs/configmgr/mdm/TOC.yml
  memdocs/configmgr/mdm/breadcrumb/toc.yml
  memdocs/configmgr/osd/deploy-use/create-phased-deployment-for-task-sequence.md
  memdocs/configmgr/osd/deploy-use/manage-monitor-phased-deployments.md
  memdocs/configmgr/protect/TOC.yml
  memdocs/configmgr/protect/breadcrumb/toc.yml
  memdocs/configmgr/sum/TOC.yml
  memdocs/configmgr/sum/breadcrumb/toc.yml
  memdocs/configmgr/sum/deploy-use/deploy-software-updates.md
  memdocs/configmgr/sum/deploy-use/optimize-windows-10-update-delivery.md
  memdocs/configmgr/sum/get-started/configure-classifications-and-products.md
  memdocs/intune/apps/lob-apps-macos.md
  memdocs/intune/fundamentals/mdm-authority-set.md
  memdocs/intune/fundamentals/media/mdm-authority-set/add-mdm-authority.png
Labels: Change sent to author, configuration-manager/prod, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#646 Provided correction for the Preparation section.
  memdocs/autopilot/white-glove.md
Labels: Change sent to author, do-not-merge, w10/prod

#651 From private repo
  memdocs/configmgr/core/servers/manage/powerbi-sample-reports.md
  memdocs/configmgr/desktop-analytics/about-assets.md
  memdocs/configmgr/desktop-analytics/whats-new.md
  memdocs/configmgr/tenant-attach/cmpivot-overview-attached.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/mdm-authority-set.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/device-compliance-partners.md
  memdocs/intune/protect/media/device-compliance-partners/add-compliance-partner.png
  memdocs/intune/protect/toc.yml
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#652 From private repo
  .openpublishing.redirection.json
  memdocs/intune/protect/device-compliance-partners.md
  memdocs/intune/user-help/TOC.md
  memdocs/intune/user-help/set-up-mobile-threat-defense.md
  memdocs/intune/user-help/troubleshoot-your-device-iOS.md
  memdocs/intune/user-help/you-are-prompted-to-install-lookout-for-work-android.md
  memdocs/intune/user-help/you-are-prompted-to-install-lookout-for-work-ios.md
  memdocs/intune/user-help/you-are-prompted-to-install-sandblast-android.md
  memdocs/intune/user-help/you-are-prompted-to-install-sandblast-ios.md
  memdocs/intune/user-help/you-are-prompted-to-install-skycure-android.md
  memdocs/intune/user-help/you-are-prompted-to-install-skycure-ios.md
  memdocs/intune/user-help/you-are-prompted-to-install-zips-android.md
  memdocs/intune/user-help/you-are-prompted-to-install-zips-ios.md
  memdocs/intune/user-help/you-need-to-resolve-a-threat-found-by-mtd-android.md
  memdocs/intune/user-help/you-need-to-resolve-a-threat-found-by-mtd-ios.md
Labels: do-not-merge, review-team-triage

#653 Fix links in Update data-transfers-between-sites
  memdocs/configmgr/core/plan-design/hierarchy/data-transfers-between-sites.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#657 From private repo
  memdocs/intune/fundamentals/microsoft-intune-service-description.md
  memdocs/intune/fundamentals/planning-guide-design.md
  memdocs/intune/fundamentals/planning-guide-onboarding.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/includes/mdm-supported-devices.md
  memdocs/intune/protect/advanced-threat-protection.md
  memdocs/intune/protect/certificates-s-mime-encryption-sign.md
  memdocs/intune/protect/certificates-scep-configure.md
  memdocs/intune/protect/conditional-access-exchange-create.md
  memdocs/intune/protect/data-outside-protect.md
  memdocs/intune/protect/endpoint-security-disk-encryption-profile-settings.md
  memdocs/intune/protect/security-baseline-settings-defender-atp.md
  memdocs/intune/protect/toc.yml
  memdocs/intune/protect/troubleshoot-conditional-access.md
Labels: do-not-merge, review-team-triage

#671 From private repo
  memdocs/configmgr/apps/get-started/creating-windows-applications.md
  memdocs/configmgr/osd/deploy-use/create-phased-deployment-for-task-sequence.md
  memdocs/configmgr/osd/deploy-use/manage-monitor-phased-deployments.md
  memdocs/configmgr/protect/deploy-use/bitlocker/deploy-management-agent.md
  memdocs/configmgr/protect/tech-ref/bitlocker/settings.md
  memdocs/intune/configuration/delivery-optimization-windows.md
  memdocs/intune/configuration/device-profile-assign.md
  memdocs/intune/protect/certificates-scep-configure.md
  memdocs/intune/protect/create-compliance-policy.md
  memdocs/intune/user-help/remote-lock-your-device-cp-app.md
  memdocs/intune/user-help/remote-lock-your-device-cpwebsite.md
  memdocs/intune/user-help/sync-your-device-manually-windows.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#672 From private repo
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/includes/intune-notices.md
Labels: do-not-merge

#674 Updating docs after changes to policies/interface back in March
  memdocs/intune/protect/windows-update-settings.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#676 From private repo
  memdocs/configmgr/core/get-started/2020/technical-preview-2007.md
  memdocs/configmgr/core/misc/online-documentation.md
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2006.md
  memdocs/configmgr/desktop-analytics/compat-assessment.md
  memdocs/configmgr/sum/deploy-use/manage-office-365-proplus-updates.md
  memdocs/configmgr/tenant-attach/atp-onboard.md
  memdocs/configmgr/tenant-attach/deploy-antivirus-policy.md
  memdocs/configmgr/tenant-attach/toc.yml
  memdocs/intune/developer/intune-data-warehouse-collections.md
  memdocs/intune/developer/reports-changelog.md
  memdocs/intune/fundamentals/get-support.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/antivirus-microsoft-defender-settings-windows-tenant-attach.md
  memdocs/intune/protect/endpoint-security-antivirus-policy.md
  memdocs/intune/protect/endpoint-security-edr-policy.md
  memdocs/intune/protect/endpoint-security-edr-profile-settings.md
  memdocs/intune/protect/includes/configmgr-antivirus-profiles.md
  memdocs/intune/protect/includes/make-configmgr-collection-available-edr.md
  memdocs/intune/protect/media/endpoint-security-edr-policy/cloud-sync.png
  memdocs/intune/protect/media/tenant-attach-intune/cloud-sync.png
  memdocs/intune/protect/media/tenant-attach-intune/configure-upload.png
  memdocs/intune/protect/media/tenant-attach-intune/tenant-onboarding.png
  memdocs/intune/protect/tenant-attach-intune.md
  memdocs/intune/protect/toc.yml
Labels: do-not-merge

#677 From private repo
  memdocs/index.yml
  memdocs/intune/fundamentals/use-docs.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/troubleshoot-exchange-connector-common-errors.md
  memdocs/intune/protect/troubleshoot-exchange-connector.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#675 add remote wipe under feature
  memdocs/configmgr/core/understand/product-and-licensing-faq.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#680 Update packages-and-programs.md
  memdocs/configmgr/apps/deploy-use/packages-and-programs.md
Labels: Change sent to author, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#681 From private repo
  memdocs/intune/protect/certficates-pfx-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#687 From private repo
  memdocs/configmgr/tenant-attach/device-sync-actions.md
  memdocs/intune/configuration/device-features-configure.md
  memdocs/intune/configuration/macos-device-features-settings.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/certficates-pfx-configure.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#697 From private repo
  .openpublishing.redirection.json
  memdocs/autopilot/add-devices.md
  memdocs/autopilot/autopilot-device-guidelines.md
  memdocs/autopilot/autopilot-mbr.md
  memdocs/autopilot/bitlocker.md
  memdocs/intune/protect/wandera-mtd-connector.md
  memdocs/intune/remote-actions/password-reset.md
  memdocs/intune/remote-actions/remote-assist-mobile-devices.md
  memdocs/intune/user-help/TOC.md
  memdocs/intune/user-help/enroll-device-android-company-portal.md
  memdocs/intune/user-help/enroll-your-device-in-intune-ios.md
  memdocs/intune/user-help/install-and-sign-in-to-the-intune-company-portal-app-ios.md
  memdocs/intune/user-help/install-apps-cpapp-windows.md
  memdocs/intune/user-help/install-office-windows.md
  memdocs/intune/user-help/install-the-company-portal-app-android.md
  memdocs/intune/user-help/password-does-not-meet-it-administrator-requirements.md
  memdocs/intune/user-help/set-or-change-your-passcode-ios.md
  memdocs/intune/user-help/set-or-change-your-password-windows.md
  memdocs/intune/user-help/sign-in-to-the-company-portal.md
  memdocs/intune/user-help/using-your-ios-device-with-intune.md
  memdocs/intune/user-help/using-your-windows-device-with-intune.md
Labels: do-not-merge, review-team-triage

#682 Added Company Portal app version requirement
  memdocs/configmgr/comanage/company-portal.md
Labels: Change sent to author, aq-pr-triaged, configmgr-comanage/tech, configuration-manager/prod, ready-to-merge

#694 Update device-restrictions-android-for-work.md
  memdocs/intune/configuration/device-restrictions-android-for-work.md
Labels: Change sent to author, aq-pr-triaged, configuration/subsvc, in-progress, microsoft-intune/svc, ready-to-merge

#696 Clarifying purpose of OEMConfig email alias
  memdocs/intune/configuration/android-oem-configuration-overview.md
Labels: Change sent to author, aq-pr-triaged, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#700 Update domain-join-configure.md
  memdocs/intune/configuration/domain-join-configure.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#701 Update user-driven.md
  memdocs/autopilot/user-driven.md
Labels: Change sent to author, do-not-merge, w10/prod

#699 Propose removing Company Portal App preview onboarding
  memdocs/configmgr/core/get-started/2020/includes/2006/3601237.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge
