Repository MicrosoftDocs/memdocs, pull requests merged in 2020-03, with the labels that each got.

#4 typo in the document
  memdocs/intune/enrollment/corporate-identifiers-add.md
Labels: Change sent to author, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#21 Add a Fourth Cause to SCEP NDES Troubleshooting
  memdocs/intune/protect/troubleshoot-scep-certificate-device-to-ndes.md
Labels: Change sent to author, aq-pr-triaged, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#26 Clarify which Root Certificate should be used
  memdocs/intune/protect/certificates-profile-scep.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#15 Update troubleshoot-windows-enrollment-errors.md
  memdocs/intune/enrollment/troubleshoot-windows-enrollment-errors.md
Labels: Change sent to author, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#29 Update corporate-identifiers-add.md
  memdocs/intune/enrollment/corporate-identifiers-add.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#30 small change
  memdocs/intune/enrollment/corporate-identifiers-add.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#38 Update bundle-ids-built-in-ios-apps.md
  memdocs/intune/configuration/bundle-ids-built-in-ios-apps.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#45 Clarification about the CA grant controls for domain joined PCs
  memdocs/intune/protect/conditional-access-intune-common-ways-use.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#40 Update device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#46 Need more prescriptive guidance about Defender AV exclusions
  memdocs/intune/configuration/device-restrictions-windows-10.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#43 Update apps-add-android-for-work.md
  memdocs/intune/apps/apps-add-android-for-work.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#44 Update apps-add-android-for-work.md
  memdocs/intune/apps/apps-add-android-for-work.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#35 Updated URLs for Enrolling Windows and IT visibility
  memdocs/intune/enrollment/windows-enroll.md
Labels: Change sent to author, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#24 Update app-protection-policy-settings-log.md
  memdocs/intune/apps/app-protection-policy-settings-log.md
Labels: Change sent to author, apps/subsvc, microsoft-intune/svc, ready-to-merge

#56 Update ios-enroll.md
  memdocs/intune/enrollment/ios-enroll.md
Labels: Change sent to author, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#67 Update what-is-device-management.md
  memdocs/intune/fundamentals/what-is-device-management.md
Labels: Change sent to author, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#61 Update manage-microsoft-edge.md
  memdocs/intune/apps/manage-microsoft-edge.md
Labels: Change sent to author, apps/subsvc, microsoft-intune/svc, ready-to-merge
