Repository MicrosoftDocs/memdocs, pull requests merged in 2020-10, with the labels that each got.

#830 Update pre-provision.md
  memdocs/autopilot/pre-provision.md
Labels: Change sent to author, do-not-merge, w10/prod, windows/tech

#827 Improve DA Global Pilot example
  memdocs/configmgr/desktop-analytics/deploy-pilot.md
Labels: Change sent to author, aq-pr-triaged, configmgr-analytics/tech, configuration-manager/prod, ready-to-merge

#841 Fixing typo (was ASAP instead of ASAM)
  memdocs/intune/configuration/device-restrictions-ios.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#845 Update mtd-device-compliance-policy-create.md
  memdocs/intune/protect/mtd-device-compliance-policy-create.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#831 Update windows-enrollment-methods.md
  memdocs/intune/enrollment/windows-enrollment-methods.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#833 Update windows-10-virtual-machines.md
  memdocs/intune/fundamentals/windows-10-virtual-machines.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#838 Update device-sync.md
  memdocs/intune/remote-actions/device-sync.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, ready-to-merge, remote-actions/subsvc

#852 Update deploy-applications.md
  memdocs/configmgr/apps/deploy-use/deploy-applications.md
Labels: Change sent to author, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#858 From private repo
  memdocs/configmgr/apps/deploy-use/troubleshoot-microsoft-store-for-business-integration.md
  memdocs/intune/configuration/device-restrictions-android-for-work.md
  memdocs/intune/configuration/device-restrictions-android.md
  memdocs/intune/configuration/device-restrictions-configure.md
  memdocs/intune/configuration/device-restrictions-ios.md
  memdocs/intune/configuration/device-restrictions-macos.md
  memdocs/intune/configuration/device-restrictions-windows-10-teams.md
  memdocs/intune/configuration/device-restrictions-windows-10.md
  memdocs/intune/configuration/device-restrictions-windows-8-1.md
  memdocs/intune/configuration/device-restrictions-windows-holographic.md
  memdocs/intune/configuration/device-restrictions-windows-phone-8-1.md
  memdocs/intune/protect/windows-update-compliance-reports.md
  memdocs/intune/protect/windows-update-for-business-configure.md
  memdocs/intune/protect/windows-update-settings.md
Labels: do-not-merge

#865 From private repo
  memdocs/autopilot/self-deploying.md
  memdocs/configmgr/core/TOC.yml
  memdocs/configmgr/core/clients/manage/cmg/configure-authentication.md
  memdocs/configmgr/core/clients/manage/cmg/server-auth-cert.md
  memdocs/configmgr/core/plan-design/hierarchy/plan-for-the-sms-provider.md
  memdocs/configmgr/core/plan-design/hierarchy/use-a-cloud-based-distribution-point.md
  memdocs/configmgr/core/plan-design/network/cng-certificates-overview.md
  memdocs/configmgr/core/plan-design/network/pki-certificate-requirements.md
  memdocs/configmgr/core/plan-design/security/plan-for-security.md
  memdocs/configmgr/core/servers/deploy/configure/define-site-boundaries-and-boundary-groups.md
  memdocs/configmgr/core/servers/deploy/configure/deploy-and-manage-content.md
  memdocs/configmgr/core/servers/manage/cmpivot.md
  memdocs/configmgr/mdm/get-started/set-up-certificates-on-premises-mdm.md
  memdocs/configmgr/protect/deploy-use/endpoint-protection-site-role.md
  memdocs/intune/fundamentals/intune-endpoints.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/microsoft-tunnel-configure.md
  memdocs/intune/protect/microsoft-tunnel-monitor.md
  memdocs/intune/protect/microsoft-tunnel-overview.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#867 From private repo
  memdocs/autopilot/add-devices.md
  memdocs/autopilot/enrollment-autopilot.md
  memdocs/autopilot/windows-autopilot.md
  memdocs/configmgr/apps/deploy-use/deploy-edge.md
  memdocs/configmgr/core/misc/in-console-documentation.md
  memdocs/configmgr/core/plan-design/network/includes/internet-endpoints-deploy-microsoft-edge.md
  memdocs/configmgr/core/plan-design/network/internet-endpoints.md
  memdocs/configmgr/core/servers/deploy/configure/configure-aoag.md
  memdocs/configmgr/protect/deploy-use/defender-advanced-threat-protection.md
  memdocs/configmgr/sum/deploy-use/optimize-windows-10-update-delivery.md
  memdocs/configmgr/sum/get-started/configure-classifications-and-products.md
  memdocs/intune/configuration/device-restrictions-android-for-work.md
  memdocs/intune/enrollment/device-enrollment-manager-enroll.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/windows-bulk-enroll.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/intune-endpoints.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/advanced-threat-protection-configure.md
  memdocs/intune/remote-actions/device-inventory.md
  memdocs/intune/user-help/set-up-mobile-threat-defense.md
  memdocs/intune/user-help/turn-off-microsoft-usage-data-collection-windows.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#868 Windows Autopilot update - Improve image quality of the diagrams
  memdocs/autopilot/images/wg01.png
  memdocs/autopilot/images/wg02.png
Labels: do-not-merge, review-team-triage

#871 From private repo
  memdocs/autopilot/enrollment-autopilot.md
  memdocs/configmgr/compliance/deploy-use/create-user-data-and-profiles-configuration-items.md
  memdocs/configmgr/core/clients/deploy/device-restart-notifications.md
  memdocs/configmgr/core/clients/manage/collections/create-collections.md
  memdocs/configmgr/core/clients/manage/power/create-and-apply-power-plans.md
  memdocs/configmgr/core/plan-design/hierarchy/use-a-pull-distribution-point.md
  memdocs/configmgr/core/plan-design/network/internet-endpoints.md
  memdocs/intune/configuration/device-features-configure.md
  memdocs/intune/configuration/macos-device-features-settings.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/endpoint-security-antivirus-policy.md
  memdocs/intune/protect/endpoint-security-edr-policy.md
  memdocs/intune/protect/security-baseline-settings-edge.md
Labels: do-not-merge

#873 From private repo
  memdocs/configmgr/core/clients/deploy/deploy-clients-to-windows-computers.md
  memdocs/configmgr/core/plan-design/hierarchy/log-files.md
  memdocs/configmgr/core/plan-design/security/enable-tls-1-2-client.md
  memdocs/configmgr/core/plan-design/security/enable-tls-1-2-server.md
  memdocs/configmgr/core/plan-design/security/enable-tls-1-2-troubleshoot.md
  memdocs/configmgr/core/understand/introduction.md
  memdocs/intune/apps/app-configuration-policies-use-android.md
  memdocs/intune/apps/app-protection-policy-settings-android.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
  memdocs/intune/apps/apps-selective-wipe.md
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/apps/manage-microsoft-edge.md
  memdocs/intune/fundamentals/intune-endpoints.md
  memdocs/intune/protect/certificates-pfx-configure.md
  memdocs/intune/user-help/install-company-portal-android-china.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#887 From private repo
  memdocs/configmgr/core/plan-design/hierarchy/the-content-library.md
  memdocs/intune/fundamentals/breadcrumb/toc.yml
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#888 From private repo
  memdocs/autopilot/pre-provision.md
  memdocs/intune/configuration/group-policy-analytics.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc, w10/prod

#889 Update task-sequence-variables.md
  memdocs/configmgr/osd/understand/task-sequence-variables.md
Labels: Change sent to author, aq-pr-triaged, configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#784 Update create-updates-with-updates-publisher.md
  memdocs/configmgr/sum/tools/create-updates-with-updates-publisher.md
Labels: Change sent to author, aq-pr-triaged, configmgr-sum/tech, configuration-manager/prod, ready-to-merge

#837 Update endpoint-definitions-wsus.md
  memdocs/configmgr/protect/deploy-use/endpoint-definitions-wsus.md
Labels: Change sent to author, aq-pr-triaged, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#882 The people have spoken
  memdocs/configmgr/core/clients/manage/asset-intelligence/configuring-asset-intelligence.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#884 Update server-auth-cert.md
  memdocs/configmgr/core/clients/manage/cmg/server-auth-cert.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#849 Update install-a-software-update-point.md
  memdocs/configmgr/sum/get-started/install-a-software-update-point.md
Labels: Change sent to author, aq-pr-triaged, configmgr-sum/tech, configuration-manager/prod, ready-to-merge

#885 Update configure-clients.md
  memdocs/configmgr/core/clients/manage/cmg/configure-clients.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge

#891 From private repo
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/user-help/why-enroll-android-device.md
  memdocs/intune/user-help/you-need-to-update-your-windows-device.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#893 Typo "**VPN** for profile**"→"**VPN** for profile"
  memdocs/intune/fundamentals/whats-new.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#897 From private repo
  memdocs/configmgr/core/clients/manage/client-notification.md
  memdocs/configmgr/core/clients/manage/media/client-operations-node.png
  memdocs/configmgr/core/plan-design/hierarchy/microsoft-connected-cache.md
  memdocs/configmgr/core/plan-design/hierarchy/the-content-library.md
  memdocs/configmgr/core/plan-design/network/includes/internet-endpoints-cloud-services.md
  memdocs/configmgr/core/plan-design/network/internet-endpoints.md
  memdocs/configmgr/core/servers/deploy/configure/install-and-configure-distribution-points.md
  memdocs/configmgr/core/servers/deploy/configure/install-site-system-roles.md
  memdocs/configmgr/core/servers/deploy/configure/use-a-sql-server-cluster-for-the-site-database.md
  memdocs/configmgr/core/servers/manage/admin-console-notifications.md
  memdocs/configmgr/desktop-analytics/about-updates.md
  memdocs/configmgr/desktop-analytics/compat-assessment.md
  memdocs/configmgr/desktop-analytics/deploy-prod.md
  memdocs/configmgr/desktop-analytics/health-status-monitoring.md
  memdocs/configmgr/desktop-analytics/media/3594545-app-removed.png
  memdocs/configmgr/desktop-analytics/media/commercial-id.png
  memdocs/configmgr/desktop-analytics/media/feature-updates.png
  memdocs/configmgr/desktop-analytics/media/monitor-health.png
  memdocs/configmgr/desktop-analytics/media/portal-home.png
  memdocs/configmgr/desktop-analytics/media/prepare-production.png
  memdocs/configmgr/desktop-analytics/media/prod-deployment-status.png
  memdocs/configmgr/desktop-analytics/media/security-updates.png
  memdocs/configmgr/desktop-analytics/monitor-connection-health.md
  memdocs/configmgr/desktop-analytics/overview.md
  memdocs/configmgr/osd/understand/task-sequence-variables.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/apps/manage-microsoft-edge.md
  memdocs/intune/configuration/device-restrictions-android.md
  memdocs/intune/configuration/group-policy-analytics.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/reports-export-graph-apis.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/certificates-imported-pfx-configure.md
  memdocs/intune/protect/compliance-policy-create-android.md
  memdocs/intune/protect/security-baselines.md
Labels: do-not-merge

#898 Update bundle-ids-built-in-ios-apps.md
  memdocs/intune/configuration/bundle-ids-built-in-ios-apps.md
Labels: Change sent to author, configuration/subsvc, doc-enhancement, in-progress, microsoft-intune/svc, ready-to-merge

#869 Update samsung-knox-apps-allow-block.md
  memdocs/intune/configuration/samsung-knox-apps-allow-block.md
Labels: Change sent to author, aq-pr-triaged, configuration/subsvc, good first issue, in-progress, microsoft-intune/svc, ready-to-merge

#900 From private repo
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/compliance-policy-create-windows.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#902 From private repo
  memdocs/configmgr/core/clients/manage/cmg/supported-configurations.md
  memdocs/configmgr/core/plan-design/hierarchy/use-a-cloud-based-distribution-point.md
  memdocs/intune/apps/apps-win32-app-management.md
  memdocs/intune/configuration/samsung-knox-apps-allow-block.md
Labels: Change sent to author, configuration-manager/prod, configuration/subsvc, do-not-merge, microsoft-intune/svc

#904 From private repo
  memdocs/configmgr/tenant-attach/atp-onboard.md
  memdocs/configmgr/tenant-attach/deploy-antivirus-policy.md
  memdocs/configmgr/tenant-attach/toc.yml
  memdocs/intune/fundamentals/end-user-mam-apps-android.md
  memdocs/intune/fundamentals/licenses-assign.md
  memdocs/intune/protect/includes/configmgr-antivirus-profiles.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#880 Update compliance-policy-create-windows.md
  memdocs/intune/protect/compliance-policy-create-windows.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#908 From private repo
  memdocs/intune/configuration/device-restrictions-ios.md
  memdocs/intune/configuration/ios-device-features-settings.md
  memdocs/intune/configuration/macos-device-features-settings.md
  memdocs/intune/enrollment/ios-user-enrollment.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#909 Update ios-user-enrollment.md
  memdocs/intune/enrollment/ios-user-enrollment.md
Labels: Change sent to author, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#911 From private repo
  memdocs/autopilot/policy-conflicts.md
  memdocs/configmgr/sum/get-started/software-update-point-ssl.md
  memdocs/intune/configuration/custom-profile-hololens.md
  memdocs/intune/configuration/group-policy-analytics.md
  memdocs/intune/user-help/you-need-to-resolve-a-threat-found-by-checkpoint-android.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#915 From private repo
  memdocs/autopilot/add-devices.md
  memdocs/autopilot/autopilot-device-guidelines.md
  memdocs/autopilot/autopilot-faq.md
  memdocs/autopilot/autopilot-mbr.md
  memdocs/autopilot/autopilot-support.md
  memdocs/autopilot/autopilot-update.md
  memdocs/autopilot/bitlocker.md
  memdocs/autopilot/configuration-requirements.md
  memdocs/autopilot/deployment-process.md
  memdocs/autopilot/dfci-management.md
  memdocs/autopilot/enrollment-status.md
  memdocs/autopilot/existing-devices.md
  memdocs/autopilot/known-issues.md
  memdocs/autopilot/licensing-requirements.md
  memdocs/autopilot/networking-requirements.md
  memdocs/autopilot/policy-conflicts.md
  memdocs/autopilot/pre-provision.md
  memdocs/autopilot/registration-auth.md
  memdocs/autopilot/self-deploying.md
  memdocs/autopilot/software-requirements.md
  memdocs/autopilot/troubleshooting.md
  memdocs/autopilot/user-driven.md
  memdocs/autopilot/windows-autopilot-reset.md
  memdocs/autopilot/windows-autopilot-scenarios.md
  memdocs/configmgr/core/servers/deploy/install/remove-central-administration-site.md
Labels: do-not-merge

#914 Removing mentions to NDES in PKCS Troubleshooting
  memdocs/intune/protect/troubleshoot-pkcs-certificate-profiles.md
Labels: Change sent to author, aq-pr-triaged, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#919 From private repo
  memdocs/intune/configuration/group-policy-analytics.md
  memdocs/intune/protect/windows-update-for-business-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#926 From private repo
  memdocs/analytics/enroll-configmgr.md
  memdocs/analytics/enroll-intune.md
  memdocs/analytics/includes/endpoint-analytics-rbac.md
  memdocs/analytics/overview.md
  memdocs/intune/apps/app-configuration-managed-home-screen-app.md
  memdocs/intune/apps/manage-microsoft-edge.md
  memdocs/intune/apps/manage-microsoft-office.md
  memdocs/intune/developer/app-sdk-ios.md
  memdocs/intune/developer/reports-api-url.md
  memdocs/intune/includes/reports-credential-reqs.md
  memdocs/intune/protect/app-based-conditional-access-intune.md
  memdocs/intune/protect/certificate-connectors.md
Labels: do-not-merge, review-team-triage

#922 Update certificates-profile-scep.md
  memdocs/intune/protect/certificates-profile-scep.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#925 Correct journalctl examples.
  memdocs/intune/protect/microsoft-tunnel-monitor.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#930 From private repo
  memdocs/intune/apps/app-configuration-managed-home-screen-app.md
  memdocs/intune/protect/advanced-threat-protection-configure.md
  memdocs/intune/protect/endpoint-security-edr-policy.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#934 From private repo
  .openpublishing.redirection.json
  memdocs/configmgr/core/TOC.yml
  memdocs/configmgr/core/get-started/2020/includes/2003/3180826.md
  memdocs/configmgr/core/index.yml
  memdocs/configmgr/core/misc/mms2019docathon.md
  memdocs/configmgr/core/understand/find-help.md
  memdocs/configmgr/core/understand/use-docs.md
  memdocs/configmgr/index.yml
  memdocs/intune/fundamentals/toc.yml
  memdocs/intune/fundamentals/use-docs.md
  memdocs/intune/index.yml
  memdocs/intune/protect/endpoint-security-disk-encryption-profile-settings.md
  memdocs/media/docs-feedback.png
  memdocs/media/docs-filter-toc.gif
  memdocs/media/docs-github-edit.png
  memdocs/media/docs-search-field.png
  memdocs/media/docs-search-rss.png
  memdocs/use-docs.md
Labels: do-not-merge

#929 Client Settings - add default values for UDA
  memdocs/configmgr/core/clients/deploy/about-client-settings.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#936 From private repo
  memdocs/configmgr/core/servers/deploy/install/remove-central-administration-site.md
  memdocs/configmgr/protect/deploy-use/defender-advanced-threat-protection.md
  memdocs/configmgr/tenant-attach/troubleshoot.md
  memdocs/endpoint-manager-overview.md
  memdocs/get-support.md
  memdocs/intune/apps/apps-win32-s-mode.md
  memdocs/intune/configuration/android-oem-configuration-overview.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/fundamentals/in-development.md
Labels: do-not-merge

#943 From private repo
  memdocs/autopilot/user-driven.md
  memdocs/get-support.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, mem/svc, w10/prod

#940 Update enhanced-http.md
  memdocs/configmgr/core/plan-design/hierarchy/enhanced-http.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#950 CMG connection point --> SUP ports are incorrect
  memdocs/configmgr/core/plan-design/hierarchy/ports.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#912 Update settings.md : Update naming on scope
  memdocs/analytics/settings.md
Labels: Change sent to author, aq-pr-triaged, configmgr-analytics/tech, configuration-manager/prod, ready-to-merge

#952 From private repo
  memdocs/configmgr/tenant-attach/timeline.md
  memdocs/intune/fundamentals/in-development.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge, fundamentals/subsvc, microsoft-intune/svc
