Repository MicrosoftDocs/memdocs, pull requests merged in 2020-05, with the labels that each got.

#168 Update user-experience-analytics-preview.md
  memdocs/configmgr/core/misc/user-experience-analytics-preview.md
Labels: Change sent to author, configmgr-analytics/tech, configuration-manager/prod, do-not-merge

#193 Fix typo.
  memdocs/intune/configuration/device-restrictions-android.md
Labels: Change sent to author, configuration/subsvc, doc-bug, good first issue, microsoft-intune/svc, ready-to-merge

#194 TriggerSchedule Method add examples
  memdocs/configmgr/develop/reference/core/clients/client-classes/triggerschedule-method-in-class-sms_client.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#188 disabled instead of disable. (IcM below)
  memdocs/intune/apps/manage-microsoft-edge.md
Labels: Change sent to author, apps/subsvc, microsoft-intune/svc, pm, ready-to-merge

#224 PowerShell to get CMG MP name contains an extra char
  memdocs/configmgr/core/clients/deploy/about-client-installation-properties.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#231 Update system library dependency list of iOS MAM
  memdocs/intune/developer/app-sdk-ios.md
Labels: Change sent to author, developer/subsvc, microsoft-intune/svc, ready-to-merge

#234 Update device-compliance-get-started.md
  memdocs/intune/protect/device-compliance-get-started.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#204 Client Notification Collect Client Logs tip
  memdocs/configmgr/core/clients/manage/client-notification.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#239 updated legacy settings which are now out of date
  memdocs/configmgr/comanage/tutorial-co-manage-new-devices.md
Labels: Change sent to author, configmgr-comanage/tech, configuration-manager/prod, ready-to-merge

#242 Fixed minor typos
  memdocs/intune/configuration/vpn-settings-windows-8-1.md
  memdocs/intune/protect/troubleshoot-bitlocker-policies.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#240 Updated to use endpoint.microsoft.com
  memdocs/configmgr/comanage/how-to-prepare-Win10.md
  memdocs/configmgr/comanage/tutorial-co-manage-new-devices.md
Labels: Change sent to author, configmgr-comanage/tech, configuration-manager/prod, ready-to-merge

#249 Update tenant-status.md
  memdocs/intune/fundamentals/tenant-status.md
Labels: Change sent to author, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#232 Update licenses.md for M365 Rebrand
  memdocs/intune/fundamentals/licenses.md
Labels: Change sent to author, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#241 resouces -> resources
  memdocs/intune/fundamentals/guided-scenarios-cloud-managed-pc.md
  memdocs/intune/fundamentals/guided-scenarios-edge.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, microsoft-intune/svc

#267 Update advanced-threat-protection.md
  memdocs/intune/protect/advanced-threat-protection.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#273 Fixed Typo
  memdocs/configmgr/protect/plan-design/bitlocker-management.md
Labels: Change sent to author, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#276 Update quickstart-paths.md
  memdocs/configmgr/comanage/quickstart-paths.md
Labels: Change sent to author, configmgr-comanage/tech, configuration-manager/prod, ready-to-merge

#282 Added supported platforms for 'Remotely lock the noncompliant device'
  memdocs/intune/protect/actions-for-noncompliance.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#264 Update mam-faq.md
  memdocs/intune/apps/mam-faq.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#274 ADALAuthority is not actually required
  memdocs/intune/developer/app-sdk-ios.md
Labels: Change sent to author, developer/subsvc, microsoft-intune/svc, ready-to-merge

#284 Update android-oem-configuration-overview.md
  memdocs/intune/configuration/android-oem-configuration-overview.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#290 Update Task sequence download on demand over the internet
  memdocs/configmgr/core/plan-design/hierarchy/use-a-cloud-based-distribution-point.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#300 Corrected typo
  memdocs/intune/protect/app-modern-authentication-block.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#308 Fixed formatting of command examples
  memdocs/intune/protect/certificates-scep-configure.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#254 Apps workload doesn't be set to Intune/Pilot Intune for PowerShell sc…
  memdocs/intune/apps/intune-management-extension.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge
