Repository MicrosoftDocs/memdocs, pull requests merged in 2020-12, with the labels that each got.

#1077 From private repo
  memdocs/intune/configuration/device-features-configure.md
  memdocs/intune/configuration/macos-device-features-settings.md
  memdocs/intune/protect/derived-credentials.md
  memdocs/intune/protect/device-compliance-get-started.md
Labels: do-not-merge

#1078 From private repo
  memdocs/configmgr/comanage/workloads.md
  memdocs/configmgr/core/clients/manage/cmg/plan-cloud-management-gateway.md
  memdocs/configmgr/core/servers/manage/current-branch-versions-supported.md
  memdocs/configmgr/core/servers/manage/media/servicing_support_timeline.png
  memdocs/configmgr/osd/deploy-use/deploy-task-sequence-over-internet.md
  memdocs/intune/apps/app-protection-policies.md
  memdocs/intune/enrollment/android-kiosk-enroll.md
  memdocs/intune/enrollment/media/windows-bulk-enroll/bulk-enroll-account.png
  memdocs/intune/enrollment/media/windows-bulk-enroll/bulk-enroll-create.png
  memdocs/intune/enrollment/media/windows-bulk-enroll/bulk-enroll-cred.png
  memdocs/intune/enrollment/media/windows-bulk-enroll/bulk-enroll-device.png
  memdocs/intune/enrollment/media/windows-bulk-enroll/bulk-enroll-name.png
  memdocs/intune/enrollment/media/windows-bulk-enroll/bulk-enroll-network.png
  memdocs/intune/enrollment/media/windows-bulk-enroll/bulk-enroll-select.png
  memdocs/intune/enrollment/media/windows-bulk-enroll/bulk-enroll-store.png
  memdocs/intune/enrollment/windows-bulk-enroll.md
  memdocs/intune/protect/windows-update-compliance-reports.md
Labels: do-not-merge

#1080 From private repo
  memdocs/configmgr/comanage/includes/enable-co-management-1906-and-higher.md
  memdocs/intune/enrollment/android-kiosk-enroll.md
  memdocs/intune/protect/mtd-connector-enable.md
  memdocs/intune/user-help/TOC.md
  memdocs/intune/user-help/retrieve-ios-app-logs.md
  memdocs/intune/user-help/send-logs-to-microsoft-android.md
  memdocs/intune/user-help/send-logs-to-microsoft-iOS.md
  memdocs/intune/user-help/send-logs-to-your-it-admin-using-cable-android.md
Labels: do-not-merge, review-team-triage

#1082 From private repo
  memdocs/analytics/enroll-configmgr.md
  memdocs/intune/fundamentals/intune-endpoints.md
  memdocs/intune/protect/microsoft-tunnel-configure.md
  memdocs/intune/protect/microsoft-tunnel-overview.md
  memdocs/intune/user-help/send-logs-to-microsoft-iOS.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#1084 Update compliance-policy-create-windows.md
  memdocs/intune/protect/compliance-policy-create-windows.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1085 From private repo
  memdocs/configmgr/apps/deploy-use/deploy-applications.md
  memdocs/intune/configuration/vpn-settings-android-enterprise.md
  memdocs/intune/configuration/vpn-settings-windows-10.md
  memdocs/intune/configuration/wi-fi-settings-windows.md
  memdocs/intune/protect/compliance-policy-create-windows.md
Labels: do-not-merge

#1087 From private repo
  memdocs/configmgr/core/servers/manage/community-hub.md
  memdocs/configmgr/core/understand/interoperability-client.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/troubleshoot-ios-enrollment-errors.md
Labels: do-not-merge

#1089 Update get-support.md
  memdocs/get-support.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, mem/svc, ready-to-merge

#1090 From private repo
  memdocs/configmgr/apps/breadcrumb/toc.yml
  memdocs/intune/fundamentals/users-add.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#1093 Update advanced-threat-protection-manage-android.md
  memdocs/intune/protect/advanced-threat-protection-manage-android.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1101 Update advanced-threat-protection-manage-android.md
  memdocs/intune/protect/advanced-threat-protection-manage-android.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1103 From private repo
  memdocs/intune/developer/app-sdk-ios.md
Labels: Change sent to author, developer/subsvc, do-not-merge, microsoft-intune/svc

#1106 From private repo
  memdocs/intune/user-help/turn-off-microsoft-usage-data-collection-ios.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#1115 From private repo
  memdocs/analytics/enroll-configmgr.md
  memdocs/analytics/enroll-intune.md
  memdocs/analytics/overview.md
  memdocs/configmgr/core/servers/deploy/configure/boundary-groups.md
  memdocs/configmgr/core/servers/deploy/install/release-notes.md
  memdocs/intune/enrollment/apple-configurator-enroll-ios.md
  memdocs/intune/protect/microsoft-tunnel-overview.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#1118 From private repo
  memdocs/intune/apps/apps-add-android-for-work.md
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/apps/media/apps-supported-intune-apps/icon-p-box-cloud-content.png
  memdocs/intune/apps/media/apps-supported-intune-apps/icon-p-factset-icon.png
  memdocs/intune/apps/media/apps-supported-intune-apps/icon-p-notate.png
  memdocs/intune/apps/media/apps-supported-intune-apps/icon-p-stid-mobile-id.png
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/user-help/send-errors-macos.md
  memdocs/intune/user-help/unenroll-your-device-from-intune-android.md
  memdocs/intune/user-help/unenroll-your-device-from-intune-windows.md
Labels: do-not-merge

#1112 Bitlocker management is supported over CMG in 2010
  memdocs/configmgr/core/clients/manage/cmg/supported-configurations.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1119 Update advanced-threat-protection-manage-android.md
  memdocs/intune/protect/advanced-threat-protection-manage-android.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1123 From private repo
  memdocs/configmgr/comanage/quickstart-client-health.md
  memdocs/configmgr/core/get-started/2020/includes/2008/7699463.md
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2010.md
  memdocs/configmgr/core/plan-design/configs/size-and-scale-numbers.md
  memdocs/configmgr/core/servers/manage/scenario-health.md
  memdocs/configmgr/desktop-analytics/faq.md
  memdocs/configmgr/desktop-analytics/group-policy-settings.md
  memdocs/configmgr/desktop-analytics/overview.md
  memdocs/configmgr/sum/deploy-use/office-365-dashboard.md
  memdocs/intune/apps/quickstart-add-assign-app.md
  memdocs/intune/apps/quickstart-create-assign-app-policy.md
  memdocs/intune/enrollment/quickstart-enroll-windows-device.md
  memdocs/intune/fundamentals/free-trial-sign-up.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/media/free-trial-sign-up/free-trial-sign-up-01.png
  memdocs/intune/fundamentals/media/free-trial-sign-up/free-trial-sign-up-02.png
  memdocs/intune/fundamentals/media/free-trial-sign-up/free-trial-sign-up-03.png
  memdocs/intune/fundamentals/quickstart-create-group.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/conditional-access-intune-common-ways-use.md
  memdocs/intune/protect/quickstart-send-notification.md
  memdocs/intune/protect/quickstart-set-password-length-android.md
Labels: do-not-merge

#1126 Removed random empty code box
  memdocs/intune/protect/windows-update-compliance-reports.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1129 From private repo
  memdocs/intune/protect/certificate-connectors.md
  memdocs/intune/protect/certificates-digicert-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#1130 From private repo
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2010.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-macos.md
  memdocs/intune/protect/device-compliance-partners.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#1133 From private repo
  memdocs/configmgr/core/plan-design/configs/support-for-windows-10.md
  memdocs/configmgr/core/plan-design/network/cng-certificates-overview.md
  memdocs/intune/apps/lob-apps-macos.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/protect/compliance-policy-create-ios.md
  memdocs/intune/protect/endpoint-security-manage-devices.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#1134 Remove note
  memdocs/configmgr/protect/deploy-use/defender-advanced-threat-protection.md
Labels: Change sent to author, configmgr-protect/tech, configuration-manager/prod, do-not-merge

#1135 From private repo
  memdocs/intune/fundamentals/deployment-guide-intune-setup.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#1136 From private repo
  memdocs/configmgr/core/servers/manage/replication/global-data-reinit.md
  memdocs/configmgr/tenant-attach/app-install-error-reference.md
  memdocs/intune/enrollment/device-enrollment-manager-enroll.md
  memdocs/intune/protect/endpoint-protection-windows-10.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#1137 From private repo
  memdocs/autopilot/enrollment-autopilot.md
  memdocs/configmgr/comanage/quickstart-autopilot.md
  memdocs/configmgr/core/get-started/2020/includes/2012/8655543.md
  memdocs/configmgr/core/misc/in-console-documentation.md
  memdocs/intune/apps/lob-apps-ios.md
Labels: Change sent to author, apps/subsvc, configuration-manager/prod, do-not-merge, microsoft-intune/svc

#1107 Missing step
  memdocs/intune/enrollment/enrollment-restrictions-set.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#1143 From private repo
  memdocs/intune/remote-actions/teamviewer-support.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#1145 From private repo
  memdocs/intune/apps/app-protection-policy.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/remote-actions/device-management.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#1148 From private repo
  memdocs/configmgr/core/clients/manage/cmg/plan-cloud-management-gateway.md
  memdocs/configmgr/core/misc/in-console-documentation.md
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2006.md
  memdocs/intune/apps/apps-win32-app-management.md
  memdocs/intune/configuration/device-profile-assign.md
  memdocs/intune/protect/security-baselines-configure.md
  memdocs/intune/protect/security-baselines.md
  memdocs/intune/user-help/password-does-not-meet-it-administrator-requirements.md
  memdocs/intune/user-help/set-up-mobile-threat-defense.md
Labels: do-not-merge

#1158 From private repo
  memdocs/intune/enrollment/android-corporate-owned-work-profile-enroll.md
  memdocs/intune/enrollment/android-dedicated-devices-fully-managed-enroll.md
  memdocs/intune/enrollment/device-enrollment-manager-enroll.md
  memdocs/intune/enrollment/troubleshoot-ios-enrollment-errors.md
  memdocs/intune/enrollment/windows-enrollment-status.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#1159 Update dfci-management.md
  memdocs/autopilot/dfci-management.md
Labels: Change sent to author, do-not-merge, w10/prod, windows/tech

#1160 Fix typo
  memdocs/intune/apps/configure-microsoft-launcher.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#1171 From private repo
  memdocs/configmgr/core/misc/in-console-documentation.md
  memdocs/configmgr/core/plan-design/hierarchy/media/ports.png
  memdocs/configmgr/core/plan-design/hierarchy/media/ports.svg
  memdocs/configmgr/core/plan-design/hierarchy/ports.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge
