Repository MicrosoftDocs/memdocs, pull requests merged in 2020-04, with the labels that each got.

#90 Update certificates-profile-scep.md
  memdocs/intune/protect/certificates-profile-scep.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#92 Update android-kiosk-enroll.md
  memdocs/intune/enrollment/android-kiosk-enroll.md
Labels: Change sent to author, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#93 Update android-dedicated-devices-fully-managed-enroll.md
  memdocs/intune/enrollment/android-dedicated-devices-fully-managed-enroll.md
Labels: Change sent to author, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#74 Update android-fully-managed-enroll.md
  memdocs/intune/enrollment/android-fully-managed-enroll.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#91 Update device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#89 Fix link to CP package download
  memdocs/intune/apps/manage-without-gms.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, do-not-merge, microsoft-intune/svc

#103 Update app-configuration-managed-home-screen-app.md
  memdocs/intune/apps/app-configuration-managed-home-screen-app.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#129 Typo "**CN={{UserName}}@contoso.com**"→"**CN={{UserName}}\@contoso.co…
  memdocs/intune/protect/certificates-profile-scep.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#117 Updated to cover that Windows 10 EVD (WVD Multi Session) isn't suppor…
  memdocs/intune/fundamentals/windows-10-virtual-machines.md
Labels: Change sent to author, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#137 Update troubleshoot-scep-certificate-device-to-ndes.md
  memdocs/intune/protect/troubleshoot-scep-certificate-device-to-ndes.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#138 data-transfer-between-apps-manage-ios.md
  memdocs/intune/apps/data-transfer-between-apps-manage-ios.md
Labels: Change sent to author, apps/subsvc, microsoft-intune/svc, ready-to-merge

#154 Added BitLocker management as not supported.
  memdocs/configmgr/core/clients/manage/cmg/plan-cloud-management-gateway.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge
