Repository MicrosoftDocs/memdocs, pull requests merged in 2021-11, with the labels that each got.

#2186 Update remote-content-library.md
  memdocs/configmgr/core/plan-design/hierarchy/remote-content-library.md
Labels: ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#2190 Add note about multiple users
  memdocs/configmgr/osd/deploy-use/use-software-center-to-deploy-windows-over-the-network.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-osd/tech

#2196 Update enroll-your-device-in-intune-macos-cp.md
  memdocs/intune/user-help/enroll-your-device-in-intune-macos-cp.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, aq-pr-triaged, end-user/subsvc

#2131 Update device-rename.md
  memdocs/intune/remote-actions/device-rename.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, aq-pr-triaged

#2203 Update requirements-network.md
  windows-365/enterprise/requirements-network.md
Labels: do-not-merge, Change sent to author, cloudpc/svc

#2208 Update considerations-for-managing-clients-in-a-vdi.md
  memdocs/configmgr/core/clients/deploy/plan/considerations-for-managing-clients-in-a-vdi.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-client/tech

#2197 Update certificate-connector-prerequisites.md
  memdocs/intune/protect/certificate-connector-prerequisites.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, aq-pr-triaged

#2198 Update certificate-connector-install.md
  memdocs/intune/protect/certificate-connector-install.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, aq-pr-triaged

#2199 Adding tip for renaming the connector
  memdocs/intune/protect/certificate-connector-install.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, aq-pr-triaged

#2216 Update troubleshoot-microsoft-connected-cache.md
  memdocs/configmgr/core/servers/deploy/configure/troubleshoot-microsoft-connected-cache.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-core/tech

#2221 Update add-devices.md
  memdocs/autopilot/add-devices.md
Labels: do-not-merge, ready-to-merge, Change sent to author, aq-pr-triaged, w10/prod

#2215 Windows 10 mobile is not supported now.
  memdocs/configmgr/comanage/overview.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-comanage/tech

#2230 Update compliance-custom-json.md
  memdocs/intune/protect/compliance-custom-json.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2235 Update app-protection-policies-monitor.md
  memdocs/intune/apps/app-protection-policies-monitor.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2239 Update apple-mdm-push-certificate-get.md
  memdocs/intune/enrollment/apple-mdm-push-certificate-get.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2241 Update advanced-threat-protection-configure.md
  memdocs/intune/protect/advanced-threat-protection-configure.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2242 Collection cloud sync is no longer a pre-release feature.
  memdocs/configmgr/core/clients/manage/collections/manage-collections.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-client/tech

#2249 add link about high availability
  memdocs/intune/protect/certificates-scep-configure.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc
