Repository MicrosoftDocs/memdocs, pull requests merged in 2021-12, with the labels that each got.

#2251 Update defender-advanced-threat-protection.md
  memdocs/configmgr/protect/deploy-use/defender-advanced-threat-protection.md
Labels: do-not-merge, ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-protect/tech

#2260 Update packages-and-programs: drive letter
  memdocs/configmgr/apps/deploy-use/packages-and-programs.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-app/tech

#2278 Update to smsdbrole_AITool
  memdocs/configmgr/core/plan-design/hierarchy/accounts.md
Labels: ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#2279 Update zoom-support.md
  windows-365/enterprise/zoom-support.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc

#2288 Update remote-help.md
  memdocs/intune/remote-actions/remote-help.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, aq-pr-triaged

#2285 Update autopilot-faq.yml
  memdocs/autopilot/autopilot-faq.yml
Labels: do-not-merge, ready-to-merge, Change sent to author

#2311 Update triggerschedule method with example 3
  memdocs/configmgr/develop/reference/core/clients/client-classes/triggerschedule-method-in-class-sms_client.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-sdk/tech

#2313 Spelling Mistake (AutopPilot)
  memdocs/intune/protect/windows-hello.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2304 Update internet-endpoints.md
  memdocs/configmgr/core/plan-design/network/internet-endpoints.md
Labels: ready-to-merge, Change sent to author, pm, triaged, aq-pr-triaged, configuration-manager/prod, configmgr-core/tech
