Repository MicrosoftDocs/memdocs, pull requests merged in 2021-02, with the labels that each got.

#1286 From private repo
  memdocs/intune/configuration/device-profile-assign.md
  memdocs/intune/configuration/media/device-profile-assign/include-exclude-user-device-groups.png
  memdocs/intune/developer/app-sdk-ios.md
  memdocs/intune/protect/conditional-access-intune-common-ways-use.md
Labels: do-not-merge

#1278 Change Only when no user is logged on
  memdocs/configmgr/apps/deploy-use/packages-and-programs.md
Labels: Change sent to author, aq-pr-triaged, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#1279 Update 3555906.md
  memdocs/configmgr/core/get-started/2021/includes/2101/3555906.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#1290 From private repo
  memdocs/autopilot/existing-devices.md
  memdocs/autopilot/images/esp-config.png
  memdocs/autopilot/images/mdm-config.png
  memdocs/configmgr/core/plan-design/network/internet-endpoints.md
  memdocs/configmgr/sum/deploy-use/office-365-dashboard.md
  memdocs/intune/apps/app-configuration-managed-home-screen-app.md
  memdocs/intune/apps/app-protection-policy.md
  memdocs/intune/configuration/device-restrictions-android-for-work.md
  memdocs/intune/fundamentals/reports.md
  memdocs/intune/user-help/use-managed-devices-to-get-work-done.md
Labels: do-not-merge

#1295 From private repo
  memdocs/configmgr/tenant-attach/device-sync-actions.md
  memdocs/configmgr/tenant-attach/media/7138634-connector-status.png
  memdocs/intune/apps/app-management.md
  memdocs/intune/apps/app-protection-framework.md
  memdocs/intune/apps/app-protection-policy-settings-android.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
  memdocs/intune/enrollment/android-fully-managed-security-settings.md
  memdocs/intune/enrollment/android-work-profile-security-settings.md
  memdocs/intune/enrollment/device-enrollment-restrictions.md
  memdocs/intune/fundamentals/device-lifecycle.md
  memdocs/intune/fundamentals/whats-new.md
Labels: do-not-merge

#1299 From private repo
  memdocs/configmgr/apps/plan-design/plan-for-and-configure-application-management.md
  memdocs/configmgr/core/plan-design/changes/deprecated/removed-and-deprecated-cmfeatures.md
  memdocs/configmgr/core/plan-design/configs/site-size-performance-guidelines.md
  memdocs/configmgr/core/plan-design/configs/support-for-windows-10.md
  memdocs/configmgr/core/support/tools.md
  memdocs/configmgr/mdt/toolkit-reference.md
  memdocs/configmgr/mdt/use-the-mdt.md
  memdocs/configmgr/security/breadcrumb/toc.yml
  memdocs/configmgr/sum/deploy-use/integrate-windows-update-for-business-windows-10.md
  memdocs/configmgr/sum/deploy-use/software-updates-maintenance.md
  memdocs/configmgr/sum/get-started/configure-classifications-and-products.md
  memdocs/configmgr/sum/plan-design/prerequisites-for-software-updates.md
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/configuration/device-profile-troubleshoot.md
  memdocs/intune/configuration/vpn-settings-ios.md
  memdocs/intune/fundamentals/common-scenarios.md
  memdocs/intune/fundamentals/microsoft-intune-service-description.md
  memdocs/intune/fundamentals/whats-new-archive.md
  memdocs/intune/protect/compliance-policy-create-android-for-work.md
  memdocs/intune/protect/mtd-apps-ios-app-configuration-policy-add-assign.md
  memdocs/intune/protect/skycure-mtd-connector-integration.md
Labels: do-not-merge, review-team-triage

#1301 From private repo
  memdocs/configmgr/tenant-attach/device-sync-actions.md
  memdocs/intune/apps/app-management.md
  memdocs/intune/fundamentals/whats-new.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#1205 Corrected Branding Issues Identified in Issue #894
  memdocs/configmgr/protect/deploy-use/endpoint-protection.md
Labels: Change sent to author, aq-pr-triaged, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#1233 Update third-party-software-updates.md
  memdocs/configmgr/sum/deploy-use/third-party-software-updates.md
Labels: Change sent to author, aq-pr-triaged, configmgr-sum/tech, configuration-manager/prod, ready-to-merge

#1288 Update pki-certificate-requirements.md
  memdocs/configmgr/core/plan-design/network/pki-certificate-requirements.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge

#1302 From private repo
  memdocs/configmgr/apps/plan-design/plan-for-and-configure-application-management.md
  memdocs/configmgr/core/get-started/2021/includes/2101/9142301.md
  memdocs/configmgr/core/plan-design/changes/deprecated/removed-and-deprecated-cmfeatures.md
  memdocs/configmgr/core/plan-design/configs/site-size-performance-guidelines.md
  memdocs/configmgr/core/support/tools.md
  memdocs/configmgr/mdt/toolkit-reference.md
  memdocs/configmgr/mdt/use-the-mdt.md
  memdocs/configmgr/security/breadcrumb/toc.yml
  memdocs/configmgr/sum/get-started/configure-classifications-and-products.md
  memdocs/configmgr/sum/plan-design/prerequisites-for-software-updates.md
  memdocs/configmgr/tenant-attach/context/context.yml
  memdocs/intune/configuration/device-profile-create.md
  memdocs/intune/fundamentals/cloud-configuration.md
  memdocs/intune/fundamentals/toc.yml
  memdocs/intune/user-help/enroll-device-android-work-profile.md
Labels: do-not-merge, review-team-triage

#1294 Correct link to Migration evaluation tool
  memdocs/intune/fundamentals/migrate-to-intune.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1310 Update advanced-threat-protection-configure.md
  memdocs/intune/protect/advanced-threat-protection-configure.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1305 Add extra known issue for GPO enrollment in ESP scenario
  memdocs/intune/enrollment/windows-enrollment-status.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1324 Update windows-10-feature-updates.md
  memdocs/intune/protect/windows-10-feature-updates.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1339 Update ccm_softwareupdate-client-wmi-class.md
  memdocs/configmgr/develop/reference/core/clients/sdk/ccm_softwareupdate-client-wmi-class.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, do-not-merge
