Repository MicrosoftDocs/memdocs, pull requests merged in 2021-07, with the labels that each got.

#1718 Update apps-win32-app-management.md
  memdocs/intune/apps/apps-win32-app-management.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1699 Update apps-win32-add.md
  memdocs/intune/apps/apps-win32-add.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1738 Update apps-win32-add.md
  memdocs/intune/apps/apps-win32-add.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1752 Correct 'Widows' to 'Windows'
  memdocs/intune/protect/windows-10-expedite-updates.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1765 Update devices-wipe.md
  memdocs/intune/remote-actions/devices-wipe.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, ready-to-merge, remote-actions/subsvc

#1742 Updated App protection Global policy section
  memdocs/intune/apps/app-protection-policy.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1739 Update apps-win32-prepare.md
  memdocs/intune/apps/apps-win32-prepare.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1745 Update this article to correct the statement of DEM limitation
  memdocs/intune/enrollment/device-enrollment-manager-enroll.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1767 Added AADJ VM support
  memdocs/intune/fundamentals/azure-virtual-desktop-multi-session.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#1782 Update device-restrictions-windows-10.md
  memdocs/intune/configuration/device-restrictions-windows-10.md
Labels: Change sent to author, configuration/subsvc, doc-enhancement, doc-experience, good first issue, microsoft-intune/svc, ready-to-merge

#1783 Update common-scenarios.md
  memdocs/intune/fundamentals/common-scenarios.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#1772 Add Notes Regarding Undesirable UX Settings
  memdocs/intune/protect/windows-update-settings.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1789 Update device-profile-create.md
  memdocs/intune/configuration/device-profile-create.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#1754 Update device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1792 Update apple-mdm-push-certificate-get.md
  memdocs/intune/enrollment/apple-mdm-push-certificate-get.md
Labels: Change sent to author, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1793 Update 10036164.md
  memdocs/configmgr/hotfix/2103/10036164.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#1773 Update mdm-supported-devices.md
  memdocs/intune/includes/mdm-supported-devices.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge

#1755 Update tutorial-use-device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/tutorial-use-device-enrollment-program-enroll-ios.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1762 Update azure-virtual-desktop.md
  memdocs/intune/fundamentals/azure-virtual-desktop.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#1768 Update device-locate.md
  memdocs/intune/remote-actions/device-locate.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, ready-to-merge, remote-actions/subsvc

#1775 Updated documentation for remote sync issue
  memdocs/intune/fundamentals/azure-virtual-desktop-multi-session.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#1800 fix typo from earlier pull request
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#1815 Update device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1816 Modified example SQL query statement
  memdocs/configmgr/core/clients/manage/asset-intelligence/configuring-asset-intelligence.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, do-not-merge
