Repository MicrosoftDocs/memdocs, pull requests merged in 2021-08, with the labels that each got.

#1826 Update teams-on-cloud-pc.md
  windows-365/teams-on-cloud-pc.md
Labels: Change sent to author, cloudpc/svc, ready-to-merge

#1824 Update cloud-pc-size-recommendations.md
  windows-365/cloud-pc-size-recommendations.md
Labels: Change sent to author, cloudpc/svc, ready-to-merge

#1825 Update create-custom-image-support-teams.md
  windows-365/create-custom-image-support-teams.md
Labels: Change sent to author, cloudpc/svc, ready-to-merge

#1821 Update windows-update-compliance-reports.md
  memdocs/intune/protect/windows-update-compliance-reports.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1827 Update certificates-scep-configure.md
  memdocs/intune/protect/certificates-scep-configure.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1828 Update certificates-scep-configure.md
  memdocs/intune/protect/certificates-scep-configure.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1818 Adding keywords to help with search results
  memdocs/intune/fundamentals/windows-10-virtual-machines.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#1839 Fixed two typos
  memdocs/intune/protect/certificates-imported-pfx-configure.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1838 Github -> GitHub
  README.md
Labels: do-not-merge, review-team-triage

#1756 Update app-protection-policies.md
  memdocs/intune/apps/app-protection-policies.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1851 Update microsoft-tunnel-overview.md
  memdocs/intune/protect/microsoft-tunnel-overview.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#1736 Update known-issues.md
  memdocs/autopilot/known-issues.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, w10/prod

#1733 RemoteSigned instead of unrestricted
  memdocs/autopilot/add-devices.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, w10/prod

#1853 Update certificate-connector-install.md
  memdocs/intune/protect/certificate-connector-install.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#1858 Update connect-intune-android-enterprise.md
  memdocs/intune/enrollment/connect-intune-android-enterprise.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#1829 Update device-images.md
  windows-365/device-images.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, cloudpc/svc

#1867 note for illegal chars
  windows-365/create-provisioning-policy.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, cloudpc/svc

#1871 OOBE Autopilot Addition
  memdocs/autopilot/add-devices.md
Labels: do-not-merge, Change sent to author, w10/prod

#1878 Update reports-ref-user.md
  memdocs/intune/developer/reports-ref-user.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, developer/subsvc

#1882 Update as new "Diagnostics settings"
  memdocs/intune/remote-actions/collect-diagnostics.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#1832 Update pre-reqs for bulk token
  memdocs/intune/enrollment/windows-bulk-enroll.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, aq-pr-triaged

#1833 Number collected data
  memdocs/intune/remote-actions/collect-diagnostics.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, aq-pr-triaged

#1880 CIType_ID for SUG
  memdocs/configmgr/develop/core/understand/sqlviews/software-updates-views-configuration-manager.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-sdk/tech

#1877 Update encrypt-devices.md
  memdocs/intune/protect/encrypt-devices.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, aq-pr-triaged

#1888 Hyperlink typo fix
  memdocs/intune/protect/certificates-trusted-root.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#1820 Publish 8.16.2021: Update Windows Team text and background behavior
  memdocs/intune/configuration/device-restrictions-windows-10-teams.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, aq-pr-triaged

#1847 Changed Windows 10 RS5 to 1809
  memdocs/intune/fundamentals/in-development.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, aq-pr-triaged

#1898 Fixed link title typo
  memdocs/intune/configuration/wi-fi-settings-configure.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc

#1897 Add "Basic" tab for Apple Configurator profile
  memdocs/intune/enrollment/device-enrollment-direct-enroll-macos.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, aq-pr-triaged

#1904 Correcting typo
  memdocs/autopilot/existing-devices.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, w10/prod, windows/tech

#1905 Update missing word "Enroll devices"
  memdocs/autopilot/registration-overview.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, w10/prod

#1906 Applies to "Windows 11" for Windows Autopilot
  memdocs/autopilot/windows-autopilot.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, w10/prod

#1908 "Applies to Windows 11" section should be update
  memdocs/autopilot/registration-overview.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, w10/prod

#1909 Update manage-office-365-proplus-updates.md
  memdocs/configmgr/sum/deploy-use/manage-office-365-proplus-updates.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-sum/tech

#1852 Clarification on silent enablement
  memdocs/intune/protect/encrypt-devices.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, pm, assigned-to-author, protect/subsvc, aq-pr-triaged

#1938 Update scope-tags.md
  memdocs/intune/fundamentals/scope-tags.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#1934 remove extra space from windows-enroll.md
  memdocs/intune/enrollment/windows-enroll.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, aq-pr-triaged
