Repository MicrosoftDocs/memdocs, pull requests merged in 2021-03, with the labels that each got.

#1370 Update certificates-profile-scep.md
  memdocs/intune/protect/certificates-profile-scep.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, microsoft-intune/svc, protect/subsvc

#1359 Added link for device-based licensing.
  memdocs/intune/fundamentals/licenses.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#1368 Intune for Education includes Intune
  memdocs/intune/fundamentals/licenses.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#1397 Update enrollment-autopilot.md
  memdocs/autopilot/enrollment-autopilot.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#1363 Added Note in Internal network registration
  memdocs/configmgr/core/clients/deploy/deploy-clients-cmg-token.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, do-not-merge

#1402 Update atp-manage-vulnerabilities.md
  memdocs/intune/protect/atp-manage-vulnerabilities.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#1331 Update quickstart-setup-auto-enrollment.md
  memdocs/intune/enrollment/quickstart-setup-auto-enrollment.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1415 Update windows-enrollment-status.md
  memdocs/intune/enrollment/windows-enrollment-status.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1431 role-based-access-control -> update video links
  memdocs/intune/fundamentals/role-based-access-control.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#1441 Corrected a typo
  memdocs/intune/apps/apps-add-android-for-work.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#1443 Include the link to User Enrollment profile
  memdocs/intune/remote-actions/devices-wipe.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, ready-to-merge, remote-actions/subsvc

#1386 Update index.yml
  memdocs/intune/enrollment/index.yml
Labels: Change sent to author, aq-pr-triaged, ready-to-merge
