Repository MicrosoftDocs/memdocs, pull requests merged in 2021-04, with the labels that each got.

#1453 Add CSP link and description for Allow Intrusion Prevention System
  memdocs/intune/protect/antivirus-microsoft-defender-settings-windows-tenant-attach.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1466 Resolve syncing conflicts from repo_sync_working_branch to master
  memdocs/configmgr/core/plan-design/hierarchy/use-a-pull-distribution-point.md
  memdocs/configmgr/desktop-analytics/faq.md
  memdocs/configmgr/osd/deploy-use/manage-task-sequences-to-automate-tasks.md
  memdocs/intune/apps/app-protection-framework.md
  memdocs/intune/enrollment/android-work-profile-security-settings.md
  memdocs/intune/fundamentals/tenant-status.md
  memdocs/intune/protect/antivirus-microsoft-defender-settings-windows-tenant-attach.md
  memdocs/intune/protect/certificates-digicert-configure.md
  memdocs/intune/protect/certificates-trusted-root.md
  memdocs/intune/protect/compliance-policy-monitor.md
  memdocs/intune/protect/conditional-access-intune-common-ways-use.md
  memdocs/intune/protect/create-conditional-access-intune.md
  memdocs/intune/protect/encrypt-devices-filevault.md
  memdocs/intune/protect/encrypt-devices.md
  memdocs/intune/protect/encryption-monitor.md
  memdocs/intune/protect/endpoint-security-asr-policy.md
  memdocs/intune/protect/endpoint-security-asr-profile-settings.md
  memdocs/intune/protect/exchange-connector-install.md
  memdocs/intune/protect/mtd-add-apps-unenrolled-devices.md
  memdocs/intune/protect/mtd-apps-ios-app-configuration-policy-add-assign.md
  memdocs/intune/protect/mtd-connector-enable.md
  memdocs/intune/protect/privacy-personal-data.md
  memdocs/intune/protect/scep-libraries-apis.md
  memdocs/intune/protect/sophos-mtd-connector-integration.md
  memdocs/intune/protect/tutorial-protect-email-on-enrolled-devices.md
  memdocs/intune/protect/tutorial-protect-email-on-unmanaged-devices.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#1470 Update pre-provision.md
  memdocs/autopilot/pre-provision.md
Labels: Change sent to author, do-not-merge, w10/prod, windows/tech

#1476 Update certificates-scep-configure.md
  memdocs/intune/protect/certificates-scep-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#1478 Update certificates-scep-configure.md
  memdocs/intune/protect/certificates-scep-configure.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1482 MEMCM 2103 supports CI/CBs from community hub
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2103.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#1471 Update windows-update-for-business-configure.md
  memdocs/intune/protect/windows-10-feature-updates.md
  memdocs/intune/protect/windows-10-update-rings.md
Labels: Change sent to author, aq-pr-triaged, assigned-to-author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1496 Update windows-update-settings.md
  memdocs/intune/protect/windows-update-settings.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1503 Update android-samsung-knox-mobile-enroll.md
  memdocs/intune/enrollment/android-samsung-knox-mobile-enroll.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1510 Update advanced-threat-protection-configure.md
  memdocs/intune/protect/advanced-threat-protection-configure.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1490 Update quickstart-setup-hybrid-aad.md
  memdocs/configmgr/comanage/quickstart-setup-hybrid-aad.md
Labels: Change sent to author, aq-pr-triaged, configmgr-comanage/tech, configuration-manager/prod, ready-to-merge

#1408 Update high-availability-options.md
  memdocs/configmgr/core/servers/deploy/configure/high-availability-options.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#1433 Help me Win Online Arguments about Client Cache
  memdocs/configmgr/core/clients/manage/manage-clients.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1489 Update overview.md
  memdocs/configmgr/comanage/overview.md
Labels: Change sent to author, aq-pr-triaged, configmgr-comanage/tech, configuration-manager/prod, ready-to-merge

#1507 Updated RelationType enum in SMS_AppRelation_Flat to reflect enum from CM 2006
  memdocs/configmgr/develop/reference/apps/sms_apprelation_flat-server-wmi-class.md
Labels: Change sent to author, aq-pr-triaged, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1522 Update task-sequence-variables.md
  memdocs/configmgr/osd/understand/task-sequence-variables.md
Labels: Change sent to author, aq-pr-triaged, configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#1523 Update deploy-task-sequence-over-internet.md
  memdocs/configmgr/osd/deploy-use/deploy-task-sequence-over-internet.md
Labels: Change sent to author, aq-pr-triaged, configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#1434 Update setup-cloud-management-gateway.md
  memdocs/configmgr/core/clients/manage/cmg/plan-cloud-management-gateway.md
  memdocs/configmgr/core/clients/manage/cmg/setup-cloud-management-gateway.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1517 Update plan-for-software-updates.md
  memdocs/configmgr/sum/plan-design/plan-for-software-updates.md
Labels: Change sent to author, aq-pr-triaged, configmgr-sum/tech, configuration-manager/prod, ready-to-merge

#1543 Update wi-fi-settings-android.md
  memdocs/intune/configuration/wi-fi-settings-android.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#1552 Added an exception to the Azure AD requirements
  memdocs/autopilot/configuration-requirements.md
Labels: Change sent to author, do-not-merge, w10/prod

#1548 Added a note for Software support
  memdocs/autopilot/self-deploying.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, w10/prod, windows/tech

#1073 Update tutorial-co-manage-clients.md
  memdocs/configmgr/comanage/tutorial-co-manage-clients.md
Labels: Change sent to author, aq-pr-triaged, configmgr-comanage/tech, configuration-manager/prod, ready-to-merge

#996 Add Notes on Remote WID
  memdocs/configmgr/sum/deploy-use/software-updates-maintenance.md
Labels: Change sent to author, aq-pr-triaged, configmgr-sum/tech, configuration-manager/prod, ready-to-merge

#1509 Update app-protection-policy-settings-ios.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1573 Fix typo in certificate-authority-add-scep-overview.md
  memdocs/intune/protect/certificate-authority-add-scep-overview.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1574 Update intune-planning-guide.md
  memdocs/intune/fundamentals/intune-planning-guide.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc
