Repository MicrosoftDocs/memdocs, pull requests merged in 2021-06, with the labels that each got.

#1659 Update windows-update-compliance-reports.md
  memdocs/intune/protect/windows-update-compliance-reports.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1657 Fixing typos
  memdocs/intune/developer/reports-ref-devices.md
Labels: Change sent to author, aq-pr-triaged, developer/subsvc, microsoft-intune/svc, ready-to-merge

#1581 Adding additional keyboard shortcuts for the Windows Company Portal
  memdocs/intune/apps/company-portal-app.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1651 Small edit for new issue we discovered
  memdocs/intune/fundamentals/windows-virtual-desktop-multi-session.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#1667 Document new known issue and fix formatting issues
  memdocs/autopilot/known-issues.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, w10/prod

#1678 the special character i breaks the code
  memdocs/configmgr/core/get-started/2021/includes/2105-2/8939867.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#1680 Updated-5120578
  memdocs/configmgr/protect/plan-design/bitlocker-management.md
  memdocs/intune/protect/encrypt-devices.md
Labels: Change sent to author, configuration-manager/prod, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1683 typo
  memdocs/intune/protect/certificates-profile-scep.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1681 Update task-sequence-steps.md
  memdocs/configmgr/osd/understand/task-sequence-steps.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#1691 Update app-sideload-windows.md
  memdocs/intune/apps/app-sideload-windows.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#1640 Removed reference to IMEI corp identifier scenario
  memdocs/intune/enrollment/enrollment-restrictions-set.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1712 Update collect-diagnostics.md
  memdocs/intune/remote-actions/collect-diagnostics.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, ready-to-merge, remote-actions/subsvc

#1728 Update windows-10-feature-updates.md
  memdocs/intune/protect/windows-10-feature-updates.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1732 plural limitations
  memdocs/intune/enrollment/device-enrollment-shared-ipad.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#1694 Add recently created accounts default setting
  memdocs/intune/fundamentals/unlicensed-admins.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#1737 Removed preview tag on Defender Firewall Rules
  memdocs/intune/protect/endpoint-security-firewall-policy.md
Labels: Change sent to author, aq-pr-triaged, assigned-to-author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1719 Added line about home screen layout overwriting user-defined layouts
  memdocs/intune/configuration/ios-device-features-settings.md
Labels: Change sent to author, aq-pr-triaged, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#1741 Update vpn-settings-configure.md
  memdocs/intune/configuration/vpn-settings-configure.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge
