Repository MicrosoftDocs/memdocs, pull requests merged in 2021-10, with the labels that each got.

#1987 Update app-sdk-ios.md
  memdocs/intune/developer/app-sdk-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, aq-pr-triaged, developer/subsvc

#2063 Update enrollment-autopilot.md
  memdocs/autopilot/enrollment-autopilot.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, aq-pr-triaged

#2045 Update plan-cloud-management-gateway.md
  memdocs/configmgr/core/clients/manage/cmg/plan-cloud-management-gateway.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-client/tech

#2058 Update teamviewer-support.md
  memdocs/intune/remote-actions/teamviewer-support.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, aq-pr-triaged

#1830 Deploying CM client during autopilot
  memdocs/configmgr/comanage/tutorial-co-manage-new-devices.md
Labels: do-not-merge, ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-comanage/tech

#1991 The setting of region/language/keyboard should be moved
  memdocs/autopilot/windows-autopilot-reset.md
Labels: do-not-merge, ready-to-merge, Change sent to author, aq-pr-triaged, w10/prod, windows/tech

#2119 Update custom-settings-windows-10.md
  memdocs/intune/configuration/custom-settings-windows-10.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc
