Repository MicrosoftDocs/memdocs, pull requests merged in 2021-01, with the labels that each got.

#1170 Consistent platform properties section
  memdocs/intune/protect/certificates-pfx-configure.md
Labels: Change sent to author, aq-pr-triaged, microsoft-intune/svc, protect/subsvc, ready-to-merge

#1163 Adding note about AAD CA policies and excluding "Microsoft Intune"
  memdocs/intune/enrollment/android-dedicated-devices-fully-managed-enroll.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1179 From private repo
  memdocs/configmgr/core/servers/deploy/configure/high-availability-options.md
  memdocs/configmgr/tenant-attach/device-sync-actions.md
  memdocs/intune/configuration/delivery-optimization-settings.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/remote-actions/device-windows-pin-reset.md
  memdocs/intune/remote-actions/media/device-windows-pin-reset/pin-reset-client-home-screen.png
  memdocs/intune/remote-actions/media/device-windows-pin-reset/pin-reset-service-application.png
  memdocs/intune/remote-actions/media/device-windows-pin-reset/pin-reset-service-home-screen.png
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#1183 From private repo
  memdocs/configmgr/compliance/deploy-use/create-custom-configuration-items-for-windows-desktop-and-server-computers-managed-with-the-client.md
  memdocs/intune/protect/certificate-authority-add-scep-overview.md
  memdocs/intune/protect/certificates-pfx-configure.md
  memdocs/intune/protect/certificates-profile-scep.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#1184 Update group-policy-analytics.md
  memdocs/intune/configuration/group-policy-analytics.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#1185 From private repo
  memdocs/intune/user-help/TOC.yml
  memdocs/intune/user-help/index.yml
  memdocs/intune/user-help/what-happens-if-you-install-the-company-portal-app-and-enroll-your-device-in-intune-windows.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#1187 From private repo
  memdocs/intune/fundamentals/tutorial-walkthrough-intune-portal.md
  memdocs/intune/protect/advanced-threat-protection.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#1164 Update wi-fi-profile-shared-key.md
  memdocs/intune/configuration/wi-fi-profile-shared-key.md
Labels: Change sent to author, aq-pr-triaged, configuration/subsvc, good first issue, microsoft-intune/svc, ready-to-merge

#1190 From private repo
  memdocs/configmgr/desktop-analytics/enable-data-sharing.md
  memdocs/intune/configuration/device-restrictions-android-for-work.md
Labels: Change sent to author, configuration-manager/prod, configuration/subsvc, do-not-merge, microsoft-intune/svc

#1195 From private repo
  memdocs/configmgr/core/servers/deploy/install/release-notes.md
  memdocs/configmgr/desktop-analytics/whats-new.md
  memdocs/configmgr/osd/deploy-use/manage-task-sequences-to-automate-tasks.md
  memdocs/intune/configuration/device-restrictions-android-for-work.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/encrypt-devices.md
Labels: do-not-merge

#1197 Need to manually open port 443 on firewall
  memdocs/configmgr/develop/adminservice/set-up.md
Labels: Change sent to author, aq-pr-triaged, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1200 From private repo
  memdocs/analytics/troubleshoot.md
  memdocs/intune/configuration/wi-fi-settings-import-windows-8-1.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/conditional-access-intune-common-ways-use.md
  memdocs/intune/user-help/TOC.yml
  memdocs/intune/user-help/index.yml
  memdocs/intune/user-help/media/cp_ios_unenroll_after_1804_001.PNG
  memdocs/intune/user-help/media/cp_ios_unenroll_after_1804_002.PNG
  memdocs/intune/user-help/media/intune-company-portal-move-to-trash.png
  memdocs/intune/user-help/unenroll-your-device-from-intune-ios.md
  memdocs/intune/user-help/unenroll-your-device-from-intune-macos.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#1198 Both site servers need Full control permissions to System - System Ma…
  memdocs/configmgr/core/servers/deploy/configure/site-server-high-availability.md
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, configuration-manager/prod, ready-to-merge

#1202 From private repo
  memdocs/configmgr/desktop-analytics/connect-configmgr.md
  memdocs/configmgr/desktop-analytics/monitor-connection-health.md
  memdocs/configmgr/desktop-analytics/troubleshooting.md
Labels: do-not-merge

#1204 Changed 'scheduler.log' to 'schedule.log' in image.
  memdocs/configmgr/core/servers/deploy/configure/media/passive-site-server-setup.png
Labels: Change sent to author, aq-pr-triaged, configmgr-core/tech, do-not-merge

#1206 Corrected 8Gb -> 8GB in image.
  memdocs/intune/apps/media/apps-win32-app-management/prepare-win32-app.png
Labels: Change sent to author, aq-pr-triaged, do-not-merge, microsoft-intune/svc

#1207 App groups cannot be used in TS
  memdocs/configmgr/apps/deploy-use/create-app-groups.md
Labels: Change sent to author, aq-pr-triaged, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#1211 From private repo
  memdocs/configmgr/core/misc/in-console-documentation.md
  memdocs/configmgr/core/servers/deploy/install/release-notes.md
  memdocs/configmgr/sum/deploy-use/third-party-software-updates.md
  memdocs/intune/apps/vpp-apps-ios.md
  memdocs/intune/apps/vpp-ebooks-ios.md
  memdocs/intune/enrollment/windows-enroll.md
  memdocs/intune/protect/windows-update-compliance-reports.md
  memdocs/intune/remote-actions/devices-wipe.md
  memdocs/intune/user-help/remote-lock-your-device-cpwebsite.md
Labels: do-not-merge

#1212 From private repo
  memdocs/configmgr/core/misc/in-console-documentation.md
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2010.md
  memdocs/configmgr/tenant-attach/deploy-antivirus-policy.md
  memdocs/configmgr/tenant-attach/includes/configmgr-endpoint-security-profiles.md
  memdocs/intune/apps/app-protection-framework.md
  memdocs/intune/apps/apps-add-android-for-work.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/includes/tenant-attach-antivirus-prerequisites.md
  memdocs/intune/protect/encryption-monitor.md
  memdocs/intune/protect/tenant-attach-intune.md
Labels: do-not-merge

#1213 Adding information about iOS User enrollment
  memdocs/intune/enrollment/enrollment-restrictions-set.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1216 From private repo
  .openpublishing.redirection.json
  memdocs/configmgr/desktop-analytics/group-policy-settings.md
  memdocs/configmgr/desktop-analytics/includes/define-pilot-prod.md
  memdocs/configmgr/desktop-analytics/tutorial-windows10.md
  memdocs/configmgr/tenant-attach/timeline.md
  memdocs/configmgr/tenant-attach/troubleshoot-timeline.md
  memdocs/intune/developer/intune-graph-apis.md
  memdocs/intune/fundamentals/toc.yml
  memdocs/intune/fundamentals/tutorial-walkthrough-endpoint-manager.md
  memdocs/intune/fundamentals/tutorial-walkthrough-intune-portal.md
  memdocs/intune/protect/compliance-policy-create-windows.md
  memdocs/intune/remote-actions/device-locate.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#1224 From private repo
  memdocs/configmgr/osd/understand/task-sequence-steps.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/protect/certificates-configure.md
  memdocs/intune/protect/create-compliance-policy.md
  memdocs/intune/protect/windows-10-feature-updates.md
  memdocs/intune/protect/windows-10-update-rings.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, microsoft-intune/svc, protect/subsvc

#1221 Update apps-selective-wipe.md
  memdocs/intune/apps/apps-selective-wipe.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1222 Update app-protection-policy-settings-android.md
  memdocs/intune/apps/app-protection-policy-settings-android.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1223 Update app-protection-policy-settings-ios.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, microsoft-intune/svc, ready-to-merge

#1228 From private repo
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/certificate-connectors.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#1232 From private repo
  memdocs/configmgr/core/servers/manage/admin-console.md
  memdocs/configmgr/sum/deploy-use/surface-drivers.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1230 Update whats-new.md
  memdocs/intune/fundamentals/whats-new.md
Labels: Change sent to author, aq-pr-triaged, fundamentals/subsvc, microsoft-intune/svc, ready-to-merge

#1237 From private repo
  memdocs/intune/configuration/administrative-templates-configure-edge.md
  memdocs/intune/enrollment/backup-restore-ios.md
  memdocs/intune/fundamentals/setup-steps.md
  memdocs/intune/fundamentals/supported-devices-browsers.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/microsoft-tunnel-overview.md
  memdocs/intune/remote-actions/bulk-device-actions.md
Labels: do-not-merge

#1225 Update ios-user-enrollment-supported-actions.md
  memdocs/intune/enrollment/ios-user-enrollment-supported-actions.md
Labels: Change sent to author, aq-pr-triaged, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1238 From private repo
  memdocs/intune/protect/microsoft-tunnel-overview.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#1246 From private repo
  memdocs/configmgr/core/servers/deploy/install/release-notes.md
  memdocs/configmgr/desktop-analytics/enroll-devices.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-macos.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#1247 From private repo
  memdocs/intune/protect/microsoft-tunnel-overview.md
Labels: do-not-merge

#1248 Update device-profiles.md
  memdocs/intune/configuration/device-profiles.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#1249 Update device-profiles.md
  memdocs/intune/configuration/device-profiles.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#1251 From private repo
  memdocs/configmgr/core/plan-design/hierarchy/ports.md
  memdocs/configmgr/core/plan-design/network/extend-the-active-directory-schema.md
  memdocs/configmgr/desktop-analytics/enable-data-sharing.md
  memdocs/configmgr/desktop-analytics/overview.md
  memdocs/intune/configuration/wi-fi-settings-android-enterprise.md
  memdocs/intune/configuration/wi-fi-settings-ios.md
  memdocs/intune/configuration/wi-fi-settings-macos.md
  memdocs/intune/configuration/wi-fi-settings-windows.md
  memdocs/intune/developer/app-sdk-android-testing-guide.md
  memdocs/intune/developer/app-sdk-android.md
  memdocs/intune/enrollment/android-corporate-owned-work-profile-enroll.md
  memdocs/intune/enrollment/android-dedicated-devices-fully-managed-enroll.md
  memdocs/intune/protect/windows-10-feature-updates.md
  memdocs/intune/protect/windows-10-update-rings.md
Labels: do-not-merge

#1255 From private repo
  memdocs/configmgr/apps/context/context.yml
  memdocs/configmgr/core/servers/deploy/configure/azure-services-wizard.md
  memdocs/configmgr/mdm/context/context.yml
  memdocs/configmgr/protect/context/context.yml
  memdocs/configmgr/security/breadcrumb/toc.yml
  memdocs/configmgr/sum/context/context.yml
  memdocs/intune/configuration/telecom-expenses-monitor.md
  memdocs/intune/enrollment/apple-school-manager-set-up-ios.md
  memdocs/intune/enrollment/enrollment-method-capab.md
  memdocs/intune/enrollment/quickstart-setup-auto-enrollment.md
  memdocs/intune/fundamentals/quickstart-create-custom-role.md
  memdocs/intune/fundamentals/whats-new-app-ui.md
  memdocs/intune/includes/win10-automatic-enrollment-aad.md
  memdocs/intune/protect/encrypt-devices-filevault.md
  memdocs/intune/user-help/check-device-access-windows-cpapp.md
  memdocs/intune/user-help/manage-apps-cpweb.md
Labels: do-not-merge, review-team-triage

#1254 Upper case SMSSITECODE
  memdocs/configmgr/core/clients/deploy/deploy-clients-cmg-azure.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1256 From private repo
  memdocs/intune/enrollment/android-corporate-owned-work-profile-enroll.md
  memdocs/intune/enrollment/android-dedicated-devices-fully-managed-enroll.md
  memdocs/intune/fundamentals/china-endpoints.md
  memdocs/intune/fundamentals/groups-add.md
  memdocs/intune/fundamentals/groups-get-started.md
  memdocs/intune/fundamentals/in-development.md
  memdocs/intune/fundamentals/introduction-intune-government.md
  memdocs/intune/fundamentals/intune-endpoints.md
  memdocs/intune/fundamentals/intune-us-government-endpoints.md
  memdocs/intune/fundamentals/mdm-authority-set.md
  memdocs/intune/fundamentals/network-bandwidth-use.md
  memdocs/intune/fundamentals/scope-tags.md
  memdocs/intune/fundamentals/supported-devices-browsers.md
  memdocs/intune/fundamentals/whats-new-archive.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/remote-actions/devices-wipe.md
  memdocs/intune/remote-actions/password-reset.md
  memdocs/intune/remote-actions/remote-assist-mobile-devices.md
  memdocs/intune/remote-actions/teamviewer-support.md
  memdocs/intune/user-help/enroll-device-android-work-profile.md
  memdocs/intune/user-help/reset-your-passcode-cpwebsite.md
  memdocs/intune/user-help/what-happens-if-you-install-the-Company-Portal-app-and-enroll-your-device-in-intune-macos.md
Labels: do-not-merge

#1261 From private repo
  .openpublishing.redirection.json
  memdocs/configmgr/core/plan-design/network/internet-endpoints.md
  memdocs/configmgr/core/servers/manage/includes/cmpivot-overview-shared.md
  memdocs/configmgr/sum/deploy-use/office-365-dashboard.md
  memdocs/intune/fundamentals/licenses-assign.md
  memdocs/intune/fundamentals/licenses.md
  memdocs/intune/fundamentals/whats-new-archive.md
  memdocs/intune/protect/conditional-access-intune-reassign.md
  memdocs/intune/protect/create-compliance-policy.md
  memdocs/intune/protect/media/conditional-access-intune-reassign/reassign-ca-1.png
  memdocs/intune/protect/media/conditional-access-intune-reassign/reassign-ca-11.png
  memdocs/intune/protect/media/conditional-access-intune-reassign/reassign-ca-12.png
  memdocs/intune/protect/media/conditional-access-intune-reassign/reassign-ca-14.png
  memdocs/intune/protect/media/conditional-access-intune-reassign/reassign-ca-15.png
  memdocs/intune/protect/media/conditional-access-intune-reassign/reassign-ca-16.png
  memdocs/intune/protect/media/conditional-access-intune-reassign/reassign-ca-17.png
  memdocs/intune/protect/media/conditional-access-intune-reassign/reassign-ca-18.png
  memdocs/intune/protect/media/conditional-access-intune-reassign/reassign-ca-3.png
  memdocs/intune/protect/media/conditional-access-intune-reassign/reassign-ca-4.png
  memdocs/intune/protect/media/conditional-access-intune-reassign/reassign-ca-6.png
  memdocs/intune/protect/toc.yml
  memdocs/intune/user-help/media/remove-device-from-company-portal-2101-01.png
  memdocs/intune/user-help/media/remove-device-from-company-portal-2101-02.png
  memdocs/intune/user-help/media/remove-device-from-company-portal-2101-03.png
  memdocs/intune/user-help/media/remove-intune-company-portal-android-2101-01.png
  memdocs/intune/user-help/media/remove-intune-company-portal-android-2101-02.png
  memdocs/intune/user-help/media/remove-intune-company-portal-android-2101-03.png
  memdocs/intune/user-help/unenroll-your-device-from-intune-android.md
Labels: do-not-merge

#1262 Update windows-bulk-enroll.md
  memdocs/intune/enrollment/windows-bulk-enroll.md
Labels: Change sent to author, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#1263 From private repo
  memdocs/intune/apps/apps-ae-system.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/certificate-connectors.md
Labels: do-not-merge

#1260 Update enroll-your-device-in-intune-macos-cp.md
  memdocs/intune/user-help/enroll-your-device-in-intune-macos-cp.md
Labels: Change sent to author, aq-pr-triaged, end-user/subsvc, microsoft-intune/svc, ready-to-merge

#1267 From private repo
  memdocs/intune/apps/app-configuration-policies-use-android.md
  memdocs/intune/fundamentals/reports-export-graph-apis.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/user-help/reset-your-passcode-cpwebsite.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#1240 Update apps-add-office365-macOS.md
  memdocs/intune/apps/apps-add-office365-macOS.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, do-not-merge, microsoft-intune/svc

#1243 Update vpp-apps-ios.md
  memdocs/intune/apps/vpp-apps-ios.md
Labels: Change sent to author, apps/subsvc, aq-pr-triaged, do-not-merge, microsoft-intune/svc

#1269 From private repo
  memdocs/intune/apps/app-protection-framework.md
  memdocs/intune/apps/app-protection-policy-settings-log.md
  memdocs/intune/apps/manage-microsoft-edge.md
  memdocs/intune/apps/manage-microsoft-office.md
  memdocs/intune/apps/manage-microsoft-teams.md
  memdocs/intune/configuration/device-profile-assign.md
  memdocs/intune/configuration/media/device-profile-assign/include-exclude-user-device-groups.png
  memdocs/intune/developer/app-sdk-ios.md
  memdocs/intune/developer/app-wrapper-prepare-ios.md
Labels: do-not-merge

#1273 From private repo
  memdocs/autopilot/autopilot-faq.md
  memdocs/configmgr/comanage/media/co-management-paths.png
  memdocs/configmgr/comanage/media/thumbnail-paths.png
  memdocs/configmgr/comanage/quickstart-paths.md
  memdocs/configmgr/comanage/quickstarts.md
  memdocs/docfx.json
  memdocs/intune/configuration/holographic-upgrade.md
  memdocs/intune/configuration/vpn-setting-configure-per-app.md
Labels: Change sent to author, configuration-manager/prod, configuration/subsvc, do-not-merge, microsoft-intune/svc

#1239 Update supported MTD protocols
  memdocs/intune/developer/app-sdk-ios.md
Labels: Change sent to author, aq-pr-triaged, developer/subsvc, microsoft-intune/svc, ready-to-merge

#1277 From private repo
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/protect/advanced-threat-protection.md
  memdocs/intune/protect/conditional-access-intune-common-ways-use.md
Labels: do-not-merge
