Repository MicrosoftDocs/memdocs, pull requests merged in 2022-04, with the labels that each got.

#2524 Update corporate-identifiers-add.md
  memdocs/intune/enrollment/corporate-identifiers-add.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2272 added Global Admin rights
  memdocs/intune/includes/win10-automatic-enrollment-aad.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, aq-pr-triaged, review-team-triage

#2618 Update certificate-connector-install.md
  memdocs/intune/protect/certificate-connector-install.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2550 Update device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2548 Update multi-factor-authentication.md
  memdocs/intune/enrollment/multi-factor-authentication.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2544 Update device-limit-intune-azure.md
  memdocs/intune/enrollment/device-limit-intune-azure.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2289 update working for unsupported scenario DEM + ADE
  memdocs/intune/enrollment/device-enrollment-manager-enroll.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, aq-pr-triaged

#2353 Update device-enrollment-manager-enroll.md
  memdocs/intune/enrollment/device-enrollment-manager-enroll.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, aq-pr-triaged

#2240 Clarify contradicting statements
  memdocs/intune/user-help/what-info-can-your-company-see-when-you-enroll-your-device-in-intune.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, aq-pr-triaged, end-user/subsvc

#2559 Update enrollment-method-capab.md
  memdocs/intune/enrollment/enrollment-method-capab.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2628 Changed date with the early release
  memdocs/intune/protect/microsoft-tunnel-upgrade.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#2624 Update azure-virtual-desktop-multi-session.md
  memdocs/intune/fundamentals/azure-virtual-desktop-multi-session.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2593 Update azure-virtual-desktop-multi-session.md
  memdocs/intune/fundamentals/azure-virtual-desktop-multi-session.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2591 Update windows-autopilot-hybrid.md
  memdocs/autopilot/windows-autopilot-hybrid.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2584 Update windows-autopilot-hybrid.md
  memdocs/autopilot/windows-autopilot-hybrid.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2594 Update lob-apps-windows.md
  memdocs/intune/apps/lob-apps-windows.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2554 Update app-protection-policy-settings-android.md
  memdocs/intune/apps/app-protection-policy-settings-android.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2585 Update app-sdk-get-started.md
  memdocs/intune/developer/app-sdk-get-started.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, developer/subsvc

#2528 Update reports-export-graph-available-reports.md
  memdocs/intune/fundamentals/reports-export-graph-available-reports.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2518 Update windows-autopilot-hybrid.md
  memdocs/autopilot/windows-autopilot-hybrid.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2510 Update apps-selective-wipe.md
  memdocs/intune/apps/apps-selective-wipe.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2508 Update mam-faq.yml
  memdocs/intune/apps/mam-faq.yml
Labels: do-not-merge, Change sent to author

#2486 Update apps-advanced-threat-protection-macos.md
  memdocs/intune/apps/apps-advanced-threat-protection-macos.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2480 Update store-apps-android.md
  memdocs/intune/apps/store-apps-android.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2522 Update apps-supported-intune-apps.md
  memdocs/intune/apps/apps-supported-intune-apps.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2626 Update conditional-access-integrate-jamf.md
  memdocs/intune/protect/conditional-access-integrate-jamf.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2280 Update supported-devices-browsers.md
  memdocs/intune/fundamentals/supported-devices-browsers.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, aq-pr-triaged

#2301 Update device-inventory.md
  memdocs/intune/remote-actions/device-inventory.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, aq-pr-triaged

#2588 Update account-sign-up.md
  memdocs/intune/fundamentals/account-sign-up.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2631 Update corporate-identifiers-add.md
  memdocs/intune/enrollment/corporate-identifiers-add.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2623 Update android-samsung-knox-mobile-enroll.md
  memdocs/intune/enrollment/android-samsung-knox-mobile-enroll.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2662 Update enrollment-autopilot.md
  memdocs/autopilot/enrollment-autopilot.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2645 using-task-sequence-variables wildcards
  memdocs/configmgr/osd/understand/using-task-sequence-variables.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-osd/tech

#2656 link linked to a 404
  memdocs/configmgr/core/plan-design/changes/whats-new-in-version-2203.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#2659 Adjust count of possible remote tools
  memdocs/intune/remote-actions/remote-assist-mobile-devices.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#2675 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2620 Update support-center.md
  memdocs/configmgr/core/support/support-center.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter

#2614 Update boundary-groups-management-points.md
  memdocs/configmgr/core/servers/deploy/configure/boundary-groups-management-points.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#2684 Fix Automatic Superseded Version Upgrade wording.
  memdocs/configmgr/apps/deploy-use/deploy-applications.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-app/tech

#2654 Consider changing the word "must" to "should"
  memdocs/intune/protect/windows-10-feature-updates.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, in-progress, assigned-to-author, protect/subsvc

#2651 Change Windows 8.1 and later**: Not applicable
  memdocs/intune/protect/device-compliance-get-started.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2687 Update device-profile-monitor.md
  memdocs/intune/configuration/device-profile-monitor.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc

#2680 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2625 Update windows-autopilot-hybrid.md
  memdocs/autopilot/windows-autopilot-hybrid.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2633 Update windows-autopilot-hybrid.md
  memdocs/autopilot/windows-autopilot-hybrid.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2663 Update app-protection-policies-monitor.md
  memdocs/intune/apps/app-protection-policies-monitor.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2563 Updated ios app protection policy settings
  memdocs/intune/apps/app-protection-policy-settings-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#2575 Update app-configuration-managed-home-screen-app.md
  memdocs/intune/apps/app-configuration-managed-home-screen-app.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#2668 Update ios-ipados-supervised-device-security-configurations.md
  memdocs/intune/enrollment/ios-ipados-supervised-device-security-configurations.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2652 Update restore-configure.md
  windows-365/enterprise/restore-configure.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#2561 Update app-configuration-managed-home-screen-app.md
  memdocs/intune/apps/app-configuration-managed-home-screen-app.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#2699 Fix Delete Unused Application Revisions
  memdocs/configmgr/core/servers/manage/reference-for-maintenance-tasks.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#2710 Update create-queries.md
  memdocs/configmgr/core/servers/manage/create-queries.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#2716 DeviceId not supported for COPE devices
  memdocs/intune/protect/certificates-profile-scep.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, in-progress, assigned-to-author, protect/subsvc

#2717 removal of TCP port 800 requirement
  memdocs/intune/protect/microsoft-tunnel-prerequisites.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#2688 Update advanced-threat-protection-configure.md
  memdocs/intune/protect/advanced-threat-protection-configure.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc
