Repository MicrosoftDocs/memdocs, pull requests merged in 2022-10, with the labels that each got.

#3113 Added note for permission delegation
  windows-365/enterprise/requirements.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#3093 Added Teams optimization link
  windows-365/enterprise/device-images.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#3193 Update endpoint-protection-macos.md
  memdocs/intune/protect/endpoint-protection-macos.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3182 Spelling correction
  windows-365/enterprise/known-issues-enterprise.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#3111 Added note on entering right AD domain
  windows-365/enterprise/create-azure-network-connection.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#3195 Fix typo
  windows-365/enterprise/set-up-tenants-windows-365-gcc.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#3203 Revoke third-party SCEP certs
  memdocs/intune/protect/remove-certificates.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3213 Oct 2021 for latest Windows 365 baseline version
  memdocs/intune/protect/security-baselines.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3231 Update enroll-device-android-company-portal.md
  memdocs/intune/user-help/enroll-device-android-company-portal.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc

#3232 Update android-dedicated-devices-fully-managed-enroll.md
  memdocs/intune/enrollment/android-dedicated-devices-fully-managed-enroll.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#3229 Update certificate-connector-overview.md
  memdocs/intune/protect/certificate-connector-overview.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3153 Clarification of linking zero-touch account to Intune
  memdocs/intune/enrollment/android-dedicated-devices-fully-managed-enroll.md
Labels: doc-enhancement, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, in-progress

#3191 Update remote-help.md
  memdocs/intune/remote-actions/remote-help.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#3283 Update sucessfull-app-registration.png
  memdocs/intune/protect/media/conditional-access-integrate-jamf/sucessfull-app-registration.png
Labels: do-not-merge, review-team-triage

#3289 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#3281 Update README.md
  README.md
Labels: do-not-merge, review-team-triage, Sign off

#2946 Update reports-api-url.md
  memdocs/intune/developer/reports-api-url.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, doc-bug, developer/subsvc

#2967 Fixed Incorrect pathing - doesn't match UI
  memdocs/intune/fundamentals/reports.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2975 Update apps-deploy.md
  memdocs/intune/apps/apps-deploy.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3158 Update apps-add-microsoft-365-02.png
  memdocs/intune/apps/apps-add-office365.md
  memdocs/intune/apps/media/apps-add-office365/apps-add-microsoft-365-02.png
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, review-team-triage

#3177 Clarify that "minimum" pin actually specifies the number of character…
  memdocs/intune/apps/app-protection-policy-settings-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3241 spelling in apps-deploy-gcc-dod.md
  memdocs/intune/apps/apps-deploy-gcc-dod.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3290 Fix table formatting for AppIdentitySwitchReason
  memdocs/intune/developer/app-sdk-android-phase5.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter

#3304 Update note on conflicting configuration to be more general
  memdocs/intune/protect/compliance-policy-create-windows.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3309 Revert "Clarify that "minimum" pin actually specifies the number of character…"
  memdocs/intune/apps/app-protection-policy-settings-ios.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#2966 Fixed Incorrect pathing - doesn't match UI
  memdocs/intune/fundamentals/whats-new.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3305 Fix "Fast user switching" setting to the correct CSP.
  memdocs/intune/configuration/device-restrictions-windows-10.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, in-progress, configuration/subsvc, Sign off, Microsoft submitter

#3275 updated filters for Applicability Filters
  memdocs/intune/fundamentals/filters-supported-workloads.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, in-progress, Sign off

#3112 Update lob-apps-macos.md
  memdocs/intune/apps/lob-apps-macos.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter
