Repository MicrosoftDocs/memdocs, pull requests merged in 2022-03, with the labels that each got.

#2391 Add alternative name Intune Administrator
  memdocs/intune/remote-actions/device-passcode-reset.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#2414 Added context about phone number reporting
  memdocs/intune/remote-actions/device-inventory.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, Microsoft submitter

#2484 Update enrollment-restrictions-set.md
  memdocs/intune/enrollment/enrollment-restrictions-set.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2488 Update data-transfer-between-apps-manage-ios.md
  memdocs/intune/apps/data-transfer-between-apps-manage-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2485 Update apple-mdm-push-certificate-get.md
  memdocs/intune/enrollment/apple-mdm-push-certificate-get.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2491 Update end-user-mam-apps-ios.md
  memdocs/intune/fundamentals/end-user-mam-apps-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2512 Corrected Account Protection Profile Settings link
  memdocs/intune/protect/endpoint-security-account-protection-policy.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2495 Checking Spelling and Grammar
  memdocs/intune/remote-actions/remote-help.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#2507 Update device-inventory.md
  memdocs/intune/remote-actions/device-inventory.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#2525 Update device-profile-troubleshoot.md
  memdocs/intune/configuration/device-profile-troubleshoot.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Sign off

#2514 Clarifying AAD email address attribute prereq
  memdocs/intune/configuration/email-settings-windows-10.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Sign off, Microsoft submitter

#2449 Update deployment-guide-enrollment-macos.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-macos.md
Labels: ready-to-merge

#2520 Update windows-10-expedite-updates.md
  memdocs/intune/protect/windows-10-expedite-updates.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2530 Update create-compliance-policy.md
  memdocs/intune/protect/create-compliance-policy.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2527 Update create-conditional-access-intune.md
  memdocs/intune/protect/create-conditional-access-intune.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2492 [sabieler] added WDS multicast known issue
  memdocs/configmgr/mdt/known-issues.md
Labels: ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-mdt/tech, Microsoft submitter

#2475 Added internet access requirements
  memdocs/configmgr/core/clients/manage/cmg/set-up-checklist.md
Labels: ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-client/tech, Microsoft submitter

#2487 Update device-group-mapping.md
  memdocs/intune/enrollment/device-group-mapping.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2557 Update make-configmgr-collection-available-edr.md
  memdocs/intune/protect/includes/make-configmgr-collection-available-edr.md
Labels: do-not-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2479 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2558 Update device-inventory.md
  memdocs/intune/remote-actions/device-inventory.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#2442 Update requirements-network.md
  windows-365/enterprise/requirements-network.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#2542 Update requirements-network.md
  windows-365/enterprise/requirements-network.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#2541 Update in-development.md
  windows-365/enterprise/in-development.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#2568 Added info about AADJ users
  memdocs/configmgr/core/clients/manage/remote-control/prerequisites-for-remote-control.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-client/tech, Microsoft submitter

#2570 Update prerequisites-for-remote-control.md
  memdocs/configmgr/core/clients/manage/remote-control/prerequisites-for-remote-control.md
Labels: ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-client/tech, Microsoft submitter

#2552 Update android-oem-configuration-overview.md
  memdocs/intune/configuration/android-oem-configuration-overview.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter

#2566 Update group-policy-analytics.md
  memdocs/intune/configuration/group-policy-analytics.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter

#2574 Add Warning against placing console extension assemblies in bin folder.
  memdocs/configmgr/develop/core/servers/console/console-extension-deployment.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-sdk/tech

#2571 Update select-member-groups.png
  memdocs/intune/fundamentals/media/scope-tags/select-member-groups.png
  memdocs/intune/fundamentals/scope-tags.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, review-team-triage

#2547 Update intune-notices.md
  memdocs/intune/includes/intune-notices.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#2532 Update what-is-intune.md
  memdocs/intune/fundamentals/what-is-intune.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2598 Add note to computer maintenance section.
  memdocs/configmgr/core/understand/software-center.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#2483 Added: can a user manually sync - Update compliance-use-custom-settings.md
  memdocs/intune/protect/compliance-use-custom-settings.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#2482 Correcting a typo
  memdocs/intune/protect/certificate-connector-install.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2602 Update remote-help.md
  memdocs/intune/remote-actions/remote-help.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, Microsoft submitter

#2612 Update review-logs-using-azure-monitor.md
  memdocs/intune/fundamentals/review-logs-using-azure-monitor.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc
