Repository MicrosoftDocs/memdocs, pull requests merged in 2022-02, with the labels that each got.

#2406 Update deploy-clients-to-windows-computers.md
  memdocs/configmgr/core/clients/deploy/deploy-clients-to-windows-computers.md
Labels: ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-client/tech, Microsoft submitter

#2410 Update azure-services-wizard.md
  memdocs/configmgr/core/servers/deploy/configure/azure-services-wizard.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter

#2413 Update create-a-task-sequence-to-upgrade-an-operating-system.md
  memdocs/configmgr/osd/deploy-use/create-a-task-sequence-to-upgrade-an-operating-system.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-osd/tech

#2417 Update upgrade-on-premises-infrastructure.md
  memdocs/configmgr/core/servers/manage/upgrade-on-premises-infrastructure.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter

#2421 Update compliance-use-custom-settings.md
  memdocs/intune/protect/compliance-use-custom-settings.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#2420 Update compliance-use-custom-settings.md
  memdocs/intune/protect/compliance-use-custom-settings.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#2409 Update settings-catalog.md
  memdocs/intune/configuration/settings-catalog.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter

#2423 Adding section on Used space vs full disk encryption
  memdocs/intune/protect/encrypt-devices.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#2447 Correct terminology to Allowed Sites
  memdocs/intune/configuration/ios-device-features-settings.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc

#2446 typo "your" => "you are"
  memdocs/intune/remote-actions/remote-help.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#2471 Update bundle-ids-built-in-ios-apps.md
  memdocs/intune/configuration/bundle-ids-built-in-ios-apps.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc
