Repository MicrosoftDocs/memdocs, pull requests merged in 2022-09, with the labels that each got.

#3114 Update to reflect passive site server install limit
  memdocs/configmgr/core/servers/deploy/configure/site-server-high-availability.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter

#3083 Fixed broken link
  windows-365/enterprise/requirements.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#3074 Update Show/Hide Device to Device Migration
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#3124 Update software-updates-ios.md
  memdocs/intune/protect/software-updates-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3133 Adding Support for all Android Enterprise device types
  memdocs/intune/protect/certificates-profile-scep.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3140 wording for workloads. Added Autopatch notes
  memdocs/configmgr/comanage/workloads.md
Labels: ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-comanage/tech

#3141 Manage teams apps on Office mobile
  memdocs/intune/apps/manage-microsoft-office.md
Labels: do-not-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3094 Add HTA ADK1122H2 known issue
  memdocs/configmgr/mdt/known-issues.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-mdt/tech, Microsoft submitter

#3161 Update deployment-guide-enrollment-android.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-android.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Sign off

#3157 Update app-based-conditional-access-intune.md
  memdocs/intune/protect/app-based-conditional-access-intune.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3159 Update pilot-CMAuthority-mde-settings-management-defender.png
  memdocs/intune/protect/includes/security-config-mgt-prerequisites.md
  memdocs/intune/protect/media/mde-security-integration/pilot-CMAuthority-mde-settings-management-defender.png
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, review-team-triage
