Repository MicrosoftDocs/memdocs, pull requests merged in 2022-01, with the labels that each got.

#2290 Update mde-security-integration.md
  memdocs/intune/protect/mde-security-integration.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, aq-pr-triaged

#2310 Removing ADAL
  memdocs/intune/protect/exchange-online-protect.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, aq-pr-triaged

#2318 Change name of Reporting configurator
  memdocs/configmgr/core/servers/manage/configuring-reporting.md
Labels: ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#2276 Azure Sign-In account prerequisites.
  memdocs/intune/protect/certificate-connector-install.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, aq-pr-triaged

#2329 Update device-restrictions-windows-10.md
  memdocs/intune/configuration/device-restrictions-windows-10.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc

#2328 Update _SMSTSMediaType
  memdocs/configmgr/osd/understand/task-sequence-variables.md
Labels: ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-osd/tech

#2332 Corrected statement on what happens when content not cached
  memdocs/configmgr/core/plan-design/hierarchy/microsoft-connected-cache.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-core/tech

#2309 Removing ADAL
  memdocs/intune/fundamentals/migration-guide-drive-adoption.md
Labels: do-not-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, aq-pr-triaged

#2334 Update compliance-use-custom-settings.md
  memdocs/intune/protect/compliance-use-custom-settings.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2338 Correct typo
  windows-365/business-enterprise-comparison.md
Labels: do-not-merge, Change sent to author, cloudpc/svc

#2342 Updated co-managment path 2
  memdocs/configmgr/comanage/quickstart-paths.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-comanage/tech

#2348 Update public-preview.md
  memdocs/intune/fundamentals/public-preview.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2346 Update upgrade-on-premises-infrastructure.md
  memdocs/configmgr/core/servers/manage/upgrade-on-premises-infrastructure.md
Labels: do-not-merge, ready-to-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-core/tech

#2356 Update trusted cert import (assignment filter)
  memdocs/intune/protect/certificates-pfx-configure.md
  memdocs/intune/protect/media/certificates-pfx-configure/certificates-pfx-configure-profile-fill.png
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2355 Update windows-10-feature-updates.md
  memdocs/intune/protect/windows-10-feature-updates.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Sign off

#2368 Update enroll-configmgr.md
  memdocs/analytics/enroll-configmgr.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-analytics/tech

#2360 Removed `deviceOwnership' property for filters
  memdocs/intune/enrollment/windows-enrollment-status.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2352 Update device-enrollment-manager-enroll.md
  memdocs/intune/enrollment/device-enrollment-manager-enroll.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, aq-pr-triaged

#2375 Update enable-tls-1-2-protocol-security-provider.md
  memdocs/configmgr/core/plan-design/security/includes/enable-tls-1-2-protocol-security-provider.md
Labels: do-not-merge, ready-to-merge, Change sent to author, configuration-manager/prod

#2394 Adding January's agent and server hash codes
  memdocs/intune/protect/microsoft-tunnel-upgrade.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc
