Repository MicrosoftDocs/memdocs, pull requests merged in 2022-06, with the labels that each got.

#2344 Update windows-10-update-rings.md
  memdocs/intune/protect/windows-10-update-rings.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, aq-pr-triaged

#2817 Update education-settings-configure-ios.md
  memdocs/intune/fundamentals/education-settings-configure-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2813 Update windows-bulk-enroll.md
  memdocs/intune/enrollment/windows-bulk-enroll.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2793 Update rdp-shortpath-public-networks.md
  windows-365/enterprise/rdp-shortpath-public-networks.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#2859 Enterprise App Requirements
  memdocs/autopilot/add-devices.md
Labels: do-not-merge, Change sent to author, w10/prod

#2850 Update command-line-script-file.md
  memdocs/configmgr/core/servers/deploy/install/command-line-script-file.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#2865 Adding a few more scenarios
  memdocs/intune/enrollment/enrollment-restrictions-set.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Microsoft submitter

#2879 Updated device delete action
  memdocs/intune/remote-actions/devices-wipe.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, Microsoft submitter

#2890 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#2856 Update azure-virtual-desktop-multi-session.md
  memdocs/intune/fundamentals/azure-virtual-desktop-multi-session.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2840 Update assign-role.md
  memdocs/intune/fundamentals/assign-role.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2882 Update role-based-access-control.md
  memdocs/intune/fundamentals/role-based-access-control.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2884 Update device-enrollment-shared-ipad.md
  memdocs/intune/enrollment/device-enrollment-shared-ipad.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2878 Update app-wrapper-prepare-ios.md
  memdocs/intune/developer/app-wrapper-prepare-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter
