Repository MicrosoftDocs/memdocs, pull requests merged in 2022-12, with the labels that each got.

#3406 Update sophos-mtd-connector-integration.md
  memdocs/intune/protect/sophos-mtd-connector-integration.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3405 Update mtd-connector-enable.md
  memdocs/intune/protect/mtd-connector-enable.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3408 Update manage-microsoft-edge.md
  memdocs/intune/apps/manage-microsoft-edge.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3409 Update enroll-your-device-in-intune-ios.md
  memdocs/intune/user-help/enroll-your-device-in-intune-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc

#3184 Update guided-scenarios-cloud-managed-pc.md
  memdocs/intune/fundamentals/guided-scenarios-cloud-managed-pc.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3390 Update windows-autopilot-hybrid.md
  memdocs/autopilot/windows-autopilot-hybrid.md
Labels: ready-to-merge, Change sent to author, Microsoft submitter, windows-client/prod, itpro-deploy/tech

#3374 Update what-info-can-your-company-see-when-you-enroll-your-device-in-…
  memdocs/intune/user-help/what-info-can-your-company-see-when-you-enroll-your-device-in-intune.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc

#3421 Update administrative-templates-import-custom.md
  memdocs/intune/configuration/administrative-templates-import-custom.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Sign off

#3363 Update mdm-authority-set.md
  memdocs/intune/fundamentals/mdm-authority-set.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3420 Update security-baselines.md
  memdocs/intune/protect/security-baselines.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3430 Update product naming in security-config-mgt-prerequisites.md
  memdocs/intune/protect/includes/security-config-mgt-prerequisites.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc

#3454 Update ios-ipados-app-configuration-policies.md
  memdocs/intune/enrollment/ios-ipados-app-configuration-policies.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#3457 Update device-inventory.md
  memdocs/intune/remote-actions/device-inventory.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#3453 Update reports-api-url.md
  memdocs/intune/developer/reports-api-url.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc

#3371 Update app-configuration-policies-use-ios.md
  memdocs/intune/apps/app-configuration-policies-use-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#3097 Update app-protection-framework.md
  memdocs/intune/apps/app-protection-framework.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3186 Update licenses.md
  memdocs/intune/fundamentals/licenses.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3391 Update registration-auth.md
  memdocs/autopilot/registration-auth.md
Labels: ready-to-merge, Change sent to author, Microsoft submitter, windows-client/prod, itpro-deploy/tech

#2443 Update automatic-registration.md
  memdocs/autopilot/automatic-registration.md
Labels: do-not-merge, Change sent to author, w10/prod, Microsoft submitter

#3469 Update device-compliance-get-started.md
  memdocs/intune/protect/device-compliance-get-started.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc
