Repository MicrosoftDocs/memdocs, pull requests merged in 2022-11, with the labels that each got.

#3325 Update advanced-threat-protection-configure.md
  memdocs/intune/protect/advanced-threat-protection-configure.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3321 Update enroll-device-android-company-portal.md
  memdocs/intune/user-help/enroll-device-android-company-portal.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc

#3319 Update apple-mdm-push-certificate-get.md
  memdocs/intune/enrollment/apple-mdm-push-certificate-get.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#3079 Update apple-mdm-push-certificate-get.md
  memdocs/intune/enrollment/apple-mdm-push-certificate-get.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Microsoft submitter

#3043 Update set-up-checklist.md
  memdocs/configmgr/core/clients/manage/cmg/set-up-checklist.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-client/tech, Microsoft submitter

#3318 Command line needs to escape ampersand
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#3223 Replace reference to Managed Browser with Edge
  memdocs/intune/developer/app-sdk.md
Labels: ready-to-merge, Microsoft submitter

#3339 Update administrative-templates-import-custom.md
  memdocs/intune/configuration/administrative-templates-import-custom.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter

#3345 Updating collect diagnostics to include new support statement
  memdocs/intune/remote-actions/collect-diagnostics.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, Microsoft submitter

#3340 Update device-inventory.md
  memdocs/intune/remote-actions/device-inventory.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#3362 Update conditional-access-exchange-create.md
  memdocs/intune/protect/conditional-access-exchange-create.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3372 Typo and guidance is softer than necessary creating ambiguity
  memdocs/intune/protect/device-compliance-get-started.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#3370 Update apple-school-manager-set-up-ios.md
  memdocs/intune/enrollment/apple-school-manager-set-up-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc
