Repository MicrosoftDocs/memdocs, pull requests merged in 2022-07, with the labels that each got.

#2911 Fix typo
  memdocs/intune/user-help/unenroll-your-device-from-intune-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc, Microsoft submitter

#2894 Update log-files.md
  memdocs/configmgr/core/plan-design/hierarchy/log-files.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter

#2839 Update role-based-access-control.md
  memdocs/intune/fundamentals/role-based-access-control.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2926 Fixed a branding issue in line 46
  memdocs/intune/fundamentals/what-is-device-management.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2907 Small typo change from ASOP to AOSP
  memdocs/intune/fundamentals/in-development.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2881 Update existing-devices.md
  memdocs/autopilot/existing-devices.md
Labels: do-not-merge, Change sent to author, w10/prod, windows/tech

#2920 Added information on Windows Autopilot Service
  memdocs/autopilot/oem-registration.md
Labels: do-not-merge, Change sent to author, w10/prod

#2922 Update updates.md
  memdocs/configmgr/core/servers/manage/updates.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#2925 Update defender-advanced-threat-protection.md
  memdocs/configmgr/protect/deploy-use/defender-advanced-threat-protection.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-protect/tech

#2930 Update third-party-software-updates.md
  memdocs/configmgr/sum/deploy-use/third-party-software-updates.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-sum/tech

#2931 Update third-party-software-updates.md
  memdocs/configmgr/sum/deploy-use/third-party-software-updates.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-sum/tech

#2915 Update enrollment-restrictions-set.md
  memdocs/intune/enrollment/enrollment-restrictions-set.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2843 Update ios-ipados-device-compliance-security-configurations.md
  memdocs/intune/enrollment/ios-ipados-device-compliance-security-configurations.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2886 Update apps-ae-system.md
  memdocs/intune/apps/apps-ae-system.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2885 Update apps-supported-intune-apps.md
  memdocs/intune/apps/apps-supported-intune-apps.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2883 Update apps-deploy.md
  memdocs/intune/apps/apps-deploy.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#1786 Update store-apps-company-portal-autopilot.md
  memdocs/intune/apps/store-apps-company-portal-autopilot.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, aq-pr-triaged

#2945 Update windows-hello.md
  memdocs/intune/protect/windows-hello.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2918 Update app-protection-policy-settings-android.md
  memdocs/intune/apps/app-protection-policy-settings-android.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2893 Fix link for "Win32 app management"
  memdocs/intune/apps/lob-apps-windows.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2869 Update vpp-apps-ios.md
  memdocs/intune/apps/vpp-apps-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2868 Update intune-management-extension.md
  memdocs/intune/apps/intune-management-extension.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2947 Update endpoint-security-edr-policy.md
  memdocs/intune/protect/endpoint-security-edr-policy.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2942 Update email-settings-android-enterprise.md
  memdocs/intune/configuration/email-settings-android-enterprise.md
Labels: doc-enhancement, ready-to-merge, Change sent to author, microsoft-intune/svc, doc-experience, product-question, configuration/subsvc, Sign off

#2960 Update backup-restore-ios.md
  memdocs/intune/enrollment/backup-restore-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc
