Repository MicrosoftDocs/memdocs, pull requests merged in 2022-05, with the labels that each got.

#2302 Update apps-inc-exl-assignments.md
  memdocs/intune/apps/apps-inc-exl-assignments.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, aq-pr-triaged

#2303 Update apps-deploy.md
  memdocs/intune/apps/apps-deploy.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, aq-pr-triaged

#2519 Update apps-add-built-in.md
  memdocs/intune/apps/apps-add-built-in.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2521 Update store-apps-windows.md
  memdocs/intune/apps/store-apps-windows.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2526 Update apps-add-built-in.md
  memdocs/intune/apps/apps-add-built-in.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2529 Update apps-win32-add.md
  memdocs/intune/apps/apps-win32-add.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2531 Update app-protection-policy-settings-ios.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2545 Update app-protection-policies.md
  memdocs/intune/apps/app-protection-policies.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2589 Update store-apps-company-portal-autopilot.md
  memdocs/intune/apps/store-apps-company-portal-autopilot.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2592 Update apps-win32-supersedence.md
  memdocs/intune/apps/apps-win32-supersedence.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2632 Update lob-apps-macos-dmg.md
  memdocs/intune/apps/lob-apps-macos-dmg.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2635 Update android-deployment-scenarios-app-protection-work-profiles.md
  memdocs/intune/apps/android-deployment-scenarios-app-protection-work-profiles.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2640 Update app-discovered-apps.md
  memdocs/intune/apps/app-discovered-apps.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2676 Update quickstart-set-password-length-android.md
  memdocs/intune/protect/quickstart-set-password-length-android.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#2679 Update mam-faq.yml
  memdocs/intune/apps/mam-faq.yml
Labels: ready-to-merge, Change sent to author

#2681 Update app-configuration-policies-overview.md
  memdocs/intune/apps/app-configuration-policies-overview.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2721 Update windows-store-for-business.md
  memdocs/intune/apps/windows-store-for-business.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2720 Update azure-virtual-desktop-multi-session.md
  memdocs/intune/fundamentals/azure-virtual-desktop-multi-session.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2712 Update remote-help.md - Fix formatting on note
  memdocs/intune/remote-actions/remote-help.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#2734 Update corporate-identifiers-add.md
  memdocs/intune/enrollment/corporate-identifiers-add.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2737 Update windows-enrollment-status.md
  memdocs/intune/enrollment/windows-enrollment-status.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2761 Update manage-office-365-proplus-updates.md
  memdocs/configmgr/sum/deploy-use/manage-office-365-proplus-updates.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-sum/tech

#2786 Update uninstall-applications.md
  memdocs/configmgr/apps/deploy-use/uninstall-applications.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-app/tech, Microsoft submitter

#2790 Fix CollectionAADGroupSyncWorker.log
  memdocs/configmgr/core/plan-design/hierarchy/log-files.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter

#2794 Update CMPivot.md color saturation info
  memdocs/configmgr/core/servers/manage/cmpivot.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#2777 Update Centero Software Manager Link
  memdocs/configmgr/sum/deploy-use/third-party-software-update-catalogs.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-sum/tech

#2416 Update enrollment-autopilot.md
  memdocs/autopilot/enrollment-autopilot.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#2799 Update vpp-apps-ios.md
  memdocs/intune/apps/vpp-apps-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#2754 Update whats-new.md
  memdocs/intune/fundamentals/whats-new.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#2549 Update lob-apps-windows.md
  memdocs/intune/apps/lob-apps-windows.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2797 Update apps-win32-add.md
  memdocs/intune/apps/apps-win32-add.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2400 Update lob-apps-macos-dmg.md
  .gitignore
  memdocs/intune/apps/lob-apps-macos-dmg.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2816 Update log-files.md
  memdocs/configmgr/core/plan-design/hierarchy/log-files.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#2819 Update group-policy-analytics.md
  memdocs/intune/configuration/group-policy-analytics.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc

#2828 Update app-configuration-policies-overview.md
  memdocs/intune/apps/app-configuration-policies-overview.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#2833 Fix typo in Intune Wi-Fi settings for Windows
  memdocs/intune/configuration/wi-fi-settings-windows.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc
