Repository MicrosoftDocs/memdocs, pull requests merged in 2023-12, with the labels that each got.

#4420 Update software-updates-declarative-ios-macos.md
  memdocs/intune/protect/software-updates-declarative-ios-macos.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Tier1

#4437 Add issue template config file and update docfx.json
  .github/ISSUE_TEMPLATE/config.yml
  autopilot/docfx.json
  memdocs/docfx.json
  memdocs/intune/user-help/docfx.json
  windows-365/docfx.json
Labels: do-not-merge, needs-human-review, review-team-triage, Microsoft submitter

#4444 Update protect-mam-windows.md
  memdocs/intune/apps/protect-mam-windows.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Tier1

#4439 Fix formatting
  memdocs/intune/protect/endpoint-security-asr-policy.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Tier1

#4408 Removal of supervised update software-updates-declarative-ios-macos.md
  memdocs/intune/protect/software-updates-declarative-ios-macos.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Tier1

#4371 Update apps-win32-supersedence.md
  memdocs/intune/apps/apps-win32-supersedence.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Tier1

#3724 Clarify VPP auto update behavior with intent changes
  memdocs/intune/apps/vpp-apps-ios.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, pm, apps/subsvc, Microsoft submitter, Tier1

#4447 Update create-device-group.md
  autopilot/tutorial/includes/create-device-group.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, windows-client/prod, itpro-deploy/tech

#4446 Update enrollment-autopilot.md
  autopilot/enrollment-autopilot.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, windows-client/prod, itpro-deploy/tech, Tier1

#4432 Intune - Update windows-10-expedite-updates.md
  memdocs/intune/protect/windows-10-expedite-updates.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Tier1

#4442 Update web-based-device-enrollment-ios.md
  memdocs/intune/enrollment/web-based-device-enrollment-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Tier2
