Repository MicrosoftDocs/memdocs, pull requests merged in 2023-06, with the labels that each got.

#3922 Update device-profile-assign.md
  memdocs/intune/configuration/device-profile-assign.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, in-progress, pm, configuration/subsvc

#3822 Fix spelling in introduction-windows-365-government.md
  windows-365/enterprise/introduction-windows-365-government.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, windows-365/svc

#3877 Update export-cloud-pc-names.md
  windows-365/export-cloud-pc-names.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, Microsoft submitter, windows-365/svc

#3923 Patch 2
  memdocs/intune/fundamentals/deployment-guide-platform-linux.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3938 Adds warning for hide Gaming settings
  memdocs/intune/configuration/device-restrictions-windows-10.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter

#3869 Update quickstart-setup-auto-enrollment.md
  memdocs/intune/enrollment/quickstart-setup-auto-enrollment.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#3918 Update devices-wipe.md
  memdocs/intune/remote-actions/devices-wipe.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#3920 Update zebra-lifeguard-ota-integration.md
  memdocs/intune/protect/zebra-lifeguard-ota-integration.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3805 Update windows removed root certificate triggers
  memdocs/intune/protect/remove-certificates.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#3407 Update deployment-guide-enrollment-mamwe.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-mamwe.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, in-progress, pm, needs-more-info, product-question

#3949 remove Desktop Analytics from get-support
  memdocs/get-support.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc

#3618 Update wi-fi-settings-macos.md
  memdocs/intune/configuration/wi-fi-settings-macos.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, pm, configuration/subsvc

#3635 Update size-and-scale-numbers.md
  memdocs/configmgr/core/plan-design/configs/size-and-scale-numbers.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter

#3977 Update device-restrictions-windows-10.md
  memdocs/intune/configuration/device-restrictions-windows-10.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter

#3978 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#3983 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#3987 Update endpoint-security-asr-profile-settings.md
  memdocs/intune/protect/endpoint-security-asr-profile-settings.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3999 Clarifying LTSC in Update windows-10-update-rings.md
  memdocs/intune/protect/windows-10-update-rings.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#3995 Update windows-10-feature-updates.md
  memdocs/intune/protect/windows-10-feature-updates.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc
