Repository MicrosoftDocs/memdocs, pull requests merged in 2023-08, with the labels that each got.

#4079 Update apps-supported-intune-apps.md
  memdocs/intune/apps/apps-supported-intune-apps.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4082 Update device-passcode-reset.md
  memdocs/intune/remote-actions/device-passcode-reset.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, Microsoft submitter

#4084 Update windows-laps-overview.md
  memdocs/intune/protect/windows-laps-overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4086 Update enroll-device-linux.md
  memdocs/intune/user-help/enroll-device-linux.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc, Microsoft submitter

#4074 small typo fix
  memdocs/intune/enrollment/enrollment-restrictions-set.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#4076 Update windows-laps-overview.md
  memdocs/intune/protect/windows-laps-overview.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, pm, protect/subsvc

#4095 Update microsoft-intune-app-linux.md
  memdocs/intune/user-help/microsoft-intune-app-linux.md
Labels: needs-human-review, ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc

#4108 Update microsoft-intune-app-linux.md
  memdocs/intune/user-help/microsoft-intune-app-linux.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc

#4063 Update manage-microsoft-edge.md
  memdocs/intune/apps/manage-microsoft-edge.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4033 Update store-apps-company-portal-app.md
  memdocs/intune/apps/store-apps-company-portal-app.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4006 Update store-apps-microsoft.md
  memdocs/intune/apps/store-apps-microsoft.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4002 Update reports-export-graph-available-reports.md
  memdocs/intune/fundamentals/reports-export-graph-available-reports.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3814 Update macos-shell-scripts.md
  memdocs/intune/apps/macos-shell-scripts.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, pm, apps/subsvc, Microsoft submitter

#3616 Update apps-company-portal-macos.md
  memdocs/intune/apps/apps-company-portal-macos.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4107 Update ios-ipados-supervised-device-security-configurations.md
  memdocs/intune/enrollment/ios-ipados-supervised-device-security-configurations.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, pm

#3986 Update role-based-access-control.md
  memdocs/intune/fundamentals/role-based-access-control.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#4125 UDID is for Apple deivices.
  memdocs/intune/remote-actions/device-inventory.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, Microsoft submitter

#4121 Update apps-win32-add.md
  memdocs/intune/apps/apps-win32-add.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#4131 Update endpoint-security-asr-policy.md
  memdocs/intune/protect/endpoint-security-asr-policy.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc
