Repository MicrosoftDocs/memdocs, pull requests merged in 2023-11, with the labels that each got.

#4314 Update device-compliance-partners.md
  memdocs/intune/protect/device-compliance-partners.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4326 Update device-inventory.md
  memdocs/intune/remote-actions/device-inventory.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#4300 Update device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#4262 Update device-limit-intune-azure.md
  memdocs/intune/enrollment/device-limit-intune-azure.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#4375 Update app-wrapper-prepare-ios.md with prerequisites
  memdocs/intune/developer/app-wrapper-prepare-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter

#4352 Update filters-supported-workloads.md
  memdocs/intune/fundamentals/filters-supported-workloads.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, in-progress, pm, product-question, Microsoft submitter

#4379 Update apps-add-android-for-work.md
  memdocs/intune/apps/apps-add-android-for-work.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4374 Update whats-new.md
  memdocs/intune/fundamentals/whats-new.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#4370 Update reset-your-passcode-cpwebsite.md
  memdocs/intune/user-help/reset-your-passcode-cpwebsite.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#4377 Update app-reliability.md
  memdocs/analytics/app-reliability.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, Microsoft submitter, endpoint-analytics/subsvc

#4364 Update filters-supported-workloads.md
  memdocs/intune/fundamentals/filters-supported-workloads.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, in-progress, pm, Microsoft submitter

#4363 Update filters-supported-workloads.md
  memdocs/intune/fundamentals/filters-supported-workloads.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, in-progress, pm, Microsoft submitter, Tier2

#4388 Update endpoint-security-app-control-policy.md
  memdocs/intune/protect/endpoint-security-app-control-policy.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Tier1

#4293 Update derived-credentials.md
  memdocs/intune/protect/derived-credentials.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, pm, protect/subsvc, Microsoft submitter, Tier1

#4343 Update autopilot-faq.yml
  autopilot/autopilot-faq.yml
Labels: do-not-merge, needs-human-review, Change sent to author, windows-client/prod, itpro-deploy/tech, Tier1

#4247 Update steps based on current GitHub web UI
  README.md
Labels: do-not-merge, needs-human-review, review-team-triage

#4372 Update hybrid-azure-ad-join-intune-connector.md
  autopilot/tutorial/user-driven/hybrid-azure-ad-join-intune-connector.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, windows-client/prod, itpro-deploy/tech, Tier1

#4399 Update vpn-settings-ios.md
  memdocs/intune/configuration/vpn-settings-ios.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter, Tier3

#4421 Update deployment-guide-enrollment-macos.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-macos.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Tier1
