Repository MicrosoftDocs/memdocs, pull requests merged in 2023-03, with the labels that each got.

#3626 Added information about physical, virtual machines
  memdocs/intune/user-help/enroll-device-linux.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc, Microsoft submitter

#3623 Update windows-bulk-enroll.md
  memdocs/intune/enrollment/windows-bulk-enroll.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Microsoft submitter

#3642 Update data collected files
  memdocs/intune/remote-actions/collect-diagnostics.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#3650 Create ContentOwners.txt
  ContentOwners.txt
Labels: do-not-merge, needs-human-review, review-team-triage, Microsoft submitter

#3648 Update endpoint-protection-macos.md
  memdocs/intune/protect/endpoint-protection-macos.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3649 Update turn-off-microsoft-usage-data-collection-windows.md
  memdocs/intune/user-help/turn-off-microsoft-usage-data-collection-windows.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc

#3643 Update the [client-driven recovery password rotation] default value
  memdocs/intune/protect/endpoint-protection-windows-10.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, Microsoft submitter

#3641 Update create-custom-role.md
  memdocs/intune/fundamentals/create-custom-role.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3598 Update role-based-access-control.md
  memdocs/intune/fundamentals/role-based-access-control.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3664 update collect diag files
  memdocs/intune/remote-actions/collect-diagnostics.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#3675 Update enroll-device-android-company-portal.md
  memdocs/intune/user-help/enroll-device-android-company-portal.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc

#3674 Update filters-device-properties.md
  memdocs/intune/fundamentals/filters-device-properties.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3624 Update resize-cloud-pc.md
  windows-365/enterprise/resize-cloud-pc.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, windows-365/svc

#3684 remove preview tag from SDK link
  memdocs/intune/developer/tunnel-mam-ios-sdk.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter

#3518 Update autopilot-faq.yml
  memdocs/autopilot/autopilot-faq.yml
Labels: needs-human-review, ready-to-merge, Change sent to author

#3617 Update advanced-threat-protection.md
  memdocs/intune/protect/advanced-threat-protection.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3601 Add link for custom compliance scripts for Linux hosted on GitHub.
  memdocs/intune/protect/compliance-custom-script.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3685 Update help-desk-operators.md
  memdocs/intune/fundamentals/help-desk-operators.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#3704 Update wi-fi-settings-import-windows-8-1.md
  memdocs/intune/configuration/wi-fi-settings-import-windows-8-1.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Sign off

#3705 Update device-restrictions-ios.md
  memdocs/intune/configuration/device-restrictions-ios.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Sign off

#3714 Update epm-data-collection.md
  memdocs/intune/protect/epm-data-collection.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#3702 Corect the default value for Smart card removal behavior
  memdocs/intune/protect/endpoint-protection-windows-10.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, Microsoft submitter

#3709 Update device-management.md
  memdocs/intune/remote-actions/device-management.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#3708 Update device-management.md
  memdocs/intune/remote-actions/device-management.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#3719 Update password-does-not-meet-it-administrator-requirements.md
  memdocs/intune/user-help/password-does-not-meet-it-administrator-requirements.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc
