Repository MicrosoftDocs/memdocs, pull requests merged in 2023-02, with the labels that each got.

#3562 Update reusable-settings-groups.md
  memdocs/intune/protect/reusable-settings-groups.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#3566 Update reports-export-graph-available-reports.md
  memdocs/intune/fundamentals/reports-export-graph-available-reports.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#3571 Update device-enrollment-restrictions.md
  memdocs/intune/enrollment/device-enrollment-restrictions.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#3570 Update quickstart-setup-auto-enrollment.md
  memdocs/intune/enrollment/quickstart-setup-auto-enrollment.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#3568 Update android-corporate-owned-work-profile-enroll.md
  memdocs/intune/enrollment/android-corporate-owned-work-profile-enroll.md
Labels: needs-human-review, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Microsoft submitter

#3569 Update enroll-device-linux.md
  memdocs/intune/user-help/enroll-device-linux.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc

#3473 Updated enrollments that support notifications
  memdocs/intune/enrollment/enrollment-notifications.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, in-progress, Microsoft submitter

#3208 Update zoom-support.md
  windows-365/enterprise/zoom-support.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#3183 Added clarification to Management Requirements
  windows-365/enterprise/requirements.md
Labels: ready-to-merge, Change sent to author, cloudpc/svc, Microsoft submitter

#3602 Update grammatical error
  memdocs/intune/fundamentals/manage-apps.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, mem/svc

#3599 Update wi-fi-settings-android-enterprise.md
  memdocs/intune/configuration/wi-fi-settings-android-enterprise.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc

#3545 Updates to Intune iOS MAM SDK dev guide
  memdocs/intune/developer/app-sdk-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter

#3613 Fix typo: additonal -> additional
  memdocs/intune/fundamentals/licenses.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3590 fix typo
  windows-365/enterprise/whats-new.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, windows-365/svc

#3615 Update device-restrictions-ios.md
  memdocs/intune/configuration/device-restrictions-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc
