Repository MicrosoftDocs/memdocs, pull requests merged in 2023-04, with the labels that each got.

#3739 Update device-profile-troubleshoot.md
  memdocs/intune/configuration/device-profile-troubleshoot.md
Labels: invalid, do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc

#3752 Update manage-microsoft-edge.md
  memdocs/intune/apps/manage-microsoft-edge.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3753 Update device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#3755 Update enroll-your-device-in-intune-macos-cp.md
  memdocs/intune/user-help/enroll-your-device-in-intune-macos-cp.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc

#3744 Updated document to reflect the actual goal of the report.
  memdocs/intune/apps/app-configuration-policies-overview.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3707 Update ios-device-features-settings.md
  memdocs/intune/configuration/ios-device-features-settings.md
Labels: invalid, do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc

#3770 Update reusable-settings-groups.md
  memdocs/intune/protect/reusable-settings-groups.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#3760 Added EZCA as a 3rd Party SCEP CA
  memdocs/intune/protect/certificate-authority-add-scep-overview.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3772 Update specialty-devices-with-intune.md
  memdocs/intune/fundamentals/specialty-devices-with-intune.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#3759 Update licenses-assign.md
  memdocs/intune/fundamentals/licenses-assign.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3683 Update apps-ae-system.md
  memdocs/intune/apps/apps-ae-system.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#3582 "MANGEDINSTALLER" is misspelled
  memdocs/configmgr/core/clients/deploy/about-client-installation-properties.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-client/tech, Microsoft submitter

#3634 Update export-import-task-sequences.md
  memdocs/configmgr/osd/deploy-use/export-import-task-sequences.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-osd/tech, Microsoft submitter

#3754 Update app-protection-policies-monitor.md
  memdocs/intune/apps/app-protection-policies-monitor.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3785 Update network-access-control-integrate.md
  memdocs/intune/protect/network-access-control-integrate.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#3798 Update set-up-your-lab.md
  memdocs/configmgr/core/get-started/set-up-your-lab.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#3802 Update deployment-guide-intune-setup.md
  memdocs/intune/fundamentals/deployment-guide-intune-setup.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#3803 Update get-started-with-intune.md
  memdocs/intune/fundamentals/get-started-with-intune.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fundamentals/subsvc, mem/svc, Microsoft submitter

#3812 Remove unsupported platform Windows Server from reusable settings ref…
  memdocs/intune/protect/endpoint-security-firewall-policy.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#3751 Update token steps for DataWarehouse API
  memdocs/intune/developer/media/reports-proc-data-rest/reports-postman_getnewtoken.png
  memdocs/intune/developer/reports-proc-data-rest.md
Labels: needs-human-review, ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter

#3829 Update cloud-native-endpoints-known-issues.md
  memdocs/solutions/cloud-native-endpoints/cloud-native-endpoints-known-issues.md
Labels: good first issue, qualifies-for-auto-merge, ready-to-merge, Change sent to author, fundamentals/subsvc, mem/svc, Sign off
