Repository MicrosoftDocs/memdocs, pull requests merged in 2023-10, with the labels that each got.

#4265 Update mde-security-integration.md
  memdocs/intune/protect/mde-security-integration.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4263 Update store-apps-windows.md
  memdocs/intune/apps/store-apps-windows.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4261 Update certificate-connector-install.md
  memdocs/intune/protect/certificate-connector-install.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4181 Update app-sdk-ios.md to make ADALClientId and ADALRedirectUri/ADALRedirectScheme params required
  memdocs/intune/developer/app-sdk-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter

#4273 Update app-wrapper-prepare-ios.md with new -dl command line
  memdocs/intune/developer/app-wrapper-prepare-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter

#4182 Update app-wrapper-prepare-ios.md for -ac and -ar to be required params
  memdocs/intune/developer/app-wrapper-prepare-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter

#4282 Update in-console-documentation.md
  memdocs/configmgr/core/misc/in-console-documentation.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-other/tech, Microsoft submitter

#4192 Update enrollment-restrictions-set.md
  memdocs/intune/enrollment/enrollment-restrictions-set.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#4308 Updating external Jamf Doc link
  memdocs/intune/configuration/use-enterprise-sso-plug-in-macos-with-intune.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc

#4307 Update manage-microsoft-edge.md
  memdocs/intune/apps/manage-microsoft-edge.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4305 Update remote-help.md
  memdocs/intune/fundamentals/remote-help.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, Microsoft submitter

#4329 Update filters-device-properties.md
  memdocs/intune/fundamentals/filters-device-properties.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#4332 Update whats-new.md
  memdocs/intune/fundamentals/whats-new.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3800 Update app-sdk-ios.md
  memdocs/intune/developer/app-sdk-ios.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, developer/subsvc

#4122 Update apps-win32-app-management.md
  memdocs/intune/apps/apps-win32-app-management.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#4124 Update app-protection-policy-settings-ios.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#2007 Adding information for ValuesToScrubFromLogging
  memdocs/intune/developer/app-sdk-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, aq-pr-triaged, developer/subsvc, Microsoft submitter

#4331 Remove editor note
  memdocs/intune/enrollment/web-based-device-enrollment-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#3926 Update vpp-apps-ios.md
  memdocs/intune/apps/vpp-apps-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3962 Update store-apps-microsoft.md
  memdocs/intune/apps/store-apps-microsoft.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4157 Update reports-export-graph-available-reports.md
  memdocs/intune/fundamentals/reports-export-graph-available-reports.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#4286 Update supported-operating-systems-for-site-system-servers.md
  memdocs/configmgr/core/plan-design/configs/supported-operating-systems-for-site-system-servers.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter

#4298 Update apps-add-built-in.md
  memdocs/intune/apps/apps-add-built-in.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc
