Repository MicrosoftDocs/memdocs, pull requests merged in 2023-09, with the labels that each got.

#4142 Update apps-win32-deploy-update-package.md
  memdocs/intune/apps/apps-win32-deploy-update-package.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#4134 Update log-files.md
  memdocs/configmgr/core/plan-design/hierarchy/log-files.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#4119 Update actions-for-noncompliance.md
  memdocs/intune/protect/actions-for-noncompliance.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc

#4156 Update collect-diagnostics.md
  memdocs/intune/remote-actions/collect-diagnostics.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, Microsoft submitter

#4159 Update certificates-pfx-configure.md
  memdocs/intune/protect/certificates-pfx-configure.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#4149 Update remove-certificates.md
  memdocs/intune/protect/remove-certificates.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4144 Update profiles.md
  autopilot/profiles.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, Sign off, Microsoft submitter, windows-client/prod, itpro-deploy/tech

#4165 Update mde-security-integration.md
  memdocs/intune/protect/mde-security-integration.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4178 Remove extra brace
  memdocs/intune/fundamentals/frontline-worker-overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#4167 Update app-sdk-ios.md
  memdocs/intune/developer/app-sdk-ios.md
  memdocs/intune/developer/media/app-sdk-ios/intune-app-sdk-ios-weak-link-apple-archive.png.png
Labels: needs-human-review, ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter

#4187 Update windows-update-for-business-configure.md
  memdocs/intune/protect/windows-update-for-business-configure.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4186 Update device-restart.md
  memdocs/intune/remote-actions/device-restart.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#4184 Update compliance-policy-create-windows.md
  memdocs/intune/protect/compliance-policy-create-windows.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#4210 Update endpoint-security-firewall-rule-tool.md
  memdocs/intune/protect/endpoint-security-firewall-rule-tool.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4213 Update microsoft-tunnel-mam-android.md
  memdocs/intune/protect/microsoft-tunnel-mam-android.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#4203 Update advanced-threat-protection-configure.md
  memdocs/intune/protect/advanced-threat-protection-configure.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4225 Update wi-fi-settings-android-enterprise.md
  memdocs/intune/configuration/wi-fi-settings-android-enterprise.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter

#4228 Update support-for-sql-server-versions.md
  memdocs/configmgr/core/plan-design/configs/support-for-sql-server-versions.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter
