Repository MicrosoftDocs/memdocs, pull requests merged in 2023-01, with the labels that each got.

#3480 Doc link to MDE system requirements. Prevent drift and confusion.
  memdocs/intune/protect/advanced-threat-protection.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3344 Update device-configuration.md
  windows-365/enterprise/device-configuration.md
Labels: ready-to-merge, Change sent to author, windows-365/svc

#3488 Adding IoT Enterprise and correcting some branding official names
  memdocs/intune/includes/mdm-supported-devices.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#3464 Update internet-endpoints.md
  memdocs/configmgr/core/plan-design/network/internet-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter

#3497 Update organizational-messages-prerequisites.md
  memdocs/intune/remote-actions/organizational-messages-prerequisites.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3498 Update antivirus-microsoft-defender-settings-windows.md
  memdocs/intune/protect/antivirus-microsoft-defender-settings-windows.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3499 Update microsoft-tunnel-configure.md
  memdocs/intune/protect/microsoft-tunnel-configure.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3422 Update overview.md
  windows-365/enterprise/overview.md
Labels: ready-to-merge, Change sent to author, windows-365/svc

#3478 'as an admin' was too vague
  windows-365/business/device-management.md
Labels: ready-to-merge, Change sent to author, windows-365/svc

#3501 Update app-configuration-policies-use-ios.md
  memdocs/intune/apps/app-configuration-policies-use-ios.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3494 Updated the section for cleanup rules
  memdocs/intune/remote-actions/devices-wipe.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#3523 Update hardware-inventory-views-configuration-manager.md
  memdocs/configmgr/develop/core/understand/sqlviews/hardware-inventory-views-configuration-manager.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-sdk/tech, Microsoft submitter

#3509 Update supported-operating-systems-for-clients-and-devices.md
  memdocs/configmgr/core/plan-design/configs/supported-operating-systems-for-clients-and-devices.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter

#3548 Fix typo: complaint -> compliant
  memdocs/intune/configuration/device-firmware-configuration-interface-windows.md
  memdocs/intune/fundamentals/whats-new.md
  memdocs/intune/protect/compliance-custom-script.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3534 Update security-baselines-monitor.md
  memdocs/intune/protect/security-baselines-monitor.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc
