Repository MicrosoftDocs/memdocs, pull requests merged in 2023-05, with the labels that each got.

#3799 Update quickstart-setup-auto-enrollment.md
  memdocs/intune/enrollment/quickstart-setup-auto-enrollment.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#3839 Add reference to prereqs link to reusable settings guidance
  memdocs/intune/protect/endpoint-security-firewall-policy.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#3840 Reusable settings are unsupported for usage through MDE Security channel
  memdocs/intune/protect/reusable-settings-groups.md
Labels: do-not-merge, qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#3844 Typo " Microsoft Teams Room"→" Microsoft Teams Rooms"
  memdocs/intune/fundamentals/specialty-devices-with-intune.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#3854 Update deployment-guide-enrollment-mamwe.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-mamwe.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Microsoft submitter

#3855 Update filters-supported-workloads.md
  memdocs/intune/fundamentals/filters-supported-workloads.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, in-progress, pm

#3849 Add Teams app policy for iOS
  memdocs/intune/apps/manage-microsoft-office.md
Labels: qualifies-for-auto-merge, ready-to-merge, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#3856 Update compliance-custom-script.md
  memdocs/intune/protect/compliance-custom-script.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#3866 Update collect-diagnostics.md
  memdocs/intune/remote-actions/collect-diagnostics.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#3890 Update windows-laps-overview.md
  memdocs/intune/protect/windows-laps-overview.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#3892 Removed preview note for SSO extension (which is now GA)
  memdocs/intune/configuration/ios-device-features-settings.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter

#3740 Update company-portal-app.md
  memdocs/intune/apps/company-portal-app.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3879 Update app-sdk-android-phase2.md
  memdocs/intune/developer/app-sdk-android-phase2.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc

#3885 Update reports-export-graph-available-reports.md
  memdocs/intune/fundamentals/reports-export-graph-available-reports.md
Labels: needs-human-review, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#3848 Update windows-store-for-business.md
  memdocs/intune/apps/windows-store-for-business.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#3715 Update lob-apps-macos-agent.md
  memdocs/intune/apps/lob-apps-macos-agent.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#3868 Update quickstart-setup-auto-enrollment.md
  memdocs/intune/enrollment/quickstart-setup-auto-enrollment.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc

#3611 Remote action effects on bitlocker profiles
  memdocs/intune/remote-actions/devices-wipe.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#3804 Update how-to-enable.md
  memdocs/configmgr/comanage/how-to-enable.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-comanage/tech, Microsoft submitter

#3801 Update device-sync.md
  memdocs/intune/remote-actions/device-sync.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#3911 Update reports-ref-data-model.md
  memdocs/intune/developer/reports-ref-data-model.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc

#3889 Update apps-inc-exl-assignments.md
  memdocs/intune/apps/apps-inc-exl-assignments.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#3910 Update administrative-templates-import-custom.md
  memdocs/intune/configuration/administrative-templates-import-custom.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, in-progress, needs-more-info, configuration/subsvc
