Repository MicrosoftDocs/memdocs, pull requests merged in 2024-07, with the labels that each got.

#4232 Update windows-365-boot-guide.md
  windows-365/enterprise/windows-365-boot-guide.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, windows-365/svc

#4580 Clarify account names allowed for Create New User at Login
  memdocs/intune/configuration/platform-sso-macos.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter

#4589 Update delivery-optimization-settings.md
  memdocs/intune/configuration/delivery-optimization-settings.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc

#4586 Update wi-fi-settings-android-enterprise.md
  memdocs/intune/configuration/wi-fi-settings-android-enterprise.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc

#4588 Update introduction-windows-365-frontline.md
  windows-365/enterprise/introduction-windows-365-frontline.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, windows-365/svc

#4582 Fixed a typo
  memdocs/intune/protect/device-compliance-get-started.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4583 Update compliance-policy-create-windows.md
  memdocs/intune/protect/compliance-policy-create-windows.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#4577 Update apps-add-android-for-work.md
  memdocs/intune/apps/apps-add-android-for-work.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4594 Update windows-update-compatibility-reports.md
  memdocs/intune/protect/windows-update-compatibility-reports.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4598 Update device-query.md
  memdocs/analytics/device-query.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc
