Repository MicrosoftDocs/memdocs, pull requests merged in 2024-02, with the labels that each got.

#4470 Add a new MDM policy support EdgeOneAuthProxy
  memdocs/intune/apps/manage-microsoft-edge.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter, Tier1

#4473 Update whats-new.md
  memdocs/intune/fundamentals/whats-new.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Tier2

#4472 Update intune-endpoints.md to include ECS and fwlink domain
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Tier1

#4476 Update remote-help-macos.md
  memdocs/intune/fundamentals/remote-help-macos.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, Microsoft submitter, Tier1

#4468 Update chrome-enterprise-device-details.md
  memdocs/intune/enrollment/chrome-enterprise-device-details.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter, Tier2

#4467 Update chrome-enterprise-connector-configure.md
  memdocs/intune/enrollment/chrome-enterprise-connector-configure.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter, Tier2

#4486 Update policy-sets.md
  memdocs/intune/fundamentals/policy-sets.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Tier1
