Repository MicrosoftDocs/memdocs, pull requests merged in 2024-03, with the labels that each got.

#4489 Update microsoft-tunnel-mam-android.md
  memdocs/intune/protect/microsoft-tunnel-mam-android.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter, Tier2

#4492 Update device-restrictions-android-enterprise-personal.md
  memdocs/intune/configuration/device-restrictions-android-enterprise-personal.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Tier1

#4496 Update app-sdk-ios-phase3.md
  memdocs/intune/developer/app-sdk-ios-phase3.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter, Tier2

#4494 Fix spelling error
  memdocs/intune/user-help/encrypt-your-device-android.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, end-user/subsvc, Tier2, ms.service/prod, ms.assetid/tech

#4501 Add documentation on Microsoft Launcher
  memdocs/intune/apps/apps-add-android-for-work.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter, Tier1

#4502 Update device-profile-assign.md
  memdocs/intune/configuration/device-profile-assign.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter, Tier1

#4504 Corrected the minimum firmware version for the Navigator 500
  memdocs/intune/fundamentals/android-os-project-supported-devices.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Tier1

#4508 Corrected spelling/typo
  memdocs/intune/protect/endpoint-security.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Tier1

#4505 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter, Tier1

#4506 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter, Tier1

#4512 Update app-configuration-policies-use-ios.md
  memdocs/intune/apps/app-configuration-policies-use-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Tier1

#4513 Update apps-supported-intune-apps.md
  memdocs/intune/apps/apps-supported-intune-apps.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Tier1

#4510 Update epm-deployment-considerations-ki.md
  memdocs/intune/protect/epm-deployment-considerations-ki.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#4514 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter, Tier1

#4509 Correction to sentence
  memdocs/intune/protect/actions-for-noncompliance.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Tier1

#4511 Update device-enrollment-program-enroll-ios.md
  memdocs/intune/enrollment/device-enrollment-program-enroll-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Tier1
