Repository MicrosoftDocs/memdocs, pull requests merged in 2024-01, with the labels that each got.

#4454 Update whats-new.md
  memdocs/intune/fundamentals/whats-new.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Tier2

#4457 Content type clarification on memdocs for MCC
  memdocs/configmgr/core/plan-design/hierarchy/microsoft-connected-cache.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter

#4458 Update automatic-registration.md
  autopilot/automatic-registration.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, windows-client/prod, itpro-deploy/tech, Tier2

#4460 Fix link to app config policies page
  memdocs/intune/apps/app-management.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Tier1

#4464 Typo
  memdocs/intune/protect/epm-overview.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4459 Update remote-help-macos.md
  memdocs/intune/fundamentals/remote-help-macos.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, Microsoft submitter, Tier1
