Repository MicrosoftDocs/memdocs, pull requests merged in 2024-04, with the labels that each got.

#4516 Update oemconfig-zebra-android-devices.md
  memdocs/intune/configuration/oemconfig-zebra-android-devices.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter, Tier2

#4515 Update android-oem-configuration-overview.md
  memdocs/intune/configuration/android-oem-configuration-overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter, Tier2

#4518 Update mamedge-overview.md
  memdocs/intune/apps/mamedge-overview.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter, Tier1

#4519 Update mamedge-2-app.md
  memdocs/intune/apps/mamedge-2-app.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter, Tier1

#4520 Update mamedge-5-end-user-experience.md
  memdocs/intune/apps/mamedge-5-end-user-experience.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter, Tier1

#4524 Update app-configuration-managed-home-screen-app.md
  memdocs/intune/apps/app-configuration-managed-home-screen-app.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter, Tier1

#4525 Updated dead link. Updated Single App Mode to App Lock per Apple's we…
  memdocs/intune/configuration/device-restrictions-ios.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter, Tier1

#4529 Update mde-security-integration.md
  memdocs/intune/protect/mde-security-integration.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter, Tier1

#4530 Update policy-sets.md
  memdocs/intune/fundamentals/policy-sets.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Tier1

#4522 Logical correction to technical content
  memdocs/intune/protect/actions-for-noncompliance.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Tier1

#4517 Sentence correction
  memdocs/intune/protect/device-compliance-partners.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Tier2

#4526 Update microsoft-cloud-pki-configure-byoca.md
  memdocs/intune/protect/microsoft-cloud-pki-configure-byoca.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter, Tier1

#4527 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter, Tier1

#4532 Update registration-overview.md
  autopilot/registration-overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, Tier1, windows-client/svc, itpro-deploy/subsvc

#4479 Update apps-supported-intune-apps.md
  memdocs/intune/apps/apps-supported-intune-apps.md
  memdocs/intune/apps/media/apps-supported-intune-apps/icon-p-hearsay-icon.png
  memdocs/intune/apps/media/apps-supported-intune-apps/icon-p-hearsay-relate-icon.png
Labels: do-not-merge, needs-human-review, Change sent to author, microsoft-intune/svc, apps/subsvc, Tier1

#4534 Clarification: Remote Help license is needed for users that benefit from the service
  memdocs/intune/fundamentals/remote-help.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, Microsoft submitter, Tier1

#4423 Better info about which discoveries are required and two times Entra User discovery.
  memdocs/configmgr/tenant-attach/client-details.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#4503 Update client-details.md
  memdocs/configmgr/tenant-attach/client-details.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/svc, core-infra/subsvc

#4493 Update sms_objectcontaineritem-server-wmi-class.md
  memdocs/configmgr/develop/reference/core/servers/console/sms_objectcontaineritem-server-wmi-class.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/svc, sdk/subsvc

#4491 CMG SUpport - Update removed-and-deprecated-cmfeatures.md
  memdocs/configmgr/core/plan-design/changes/deprecated/removed-and-deprecated-cmfeatures.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/svc, core-infra/subsvc

#4317 Clarify task sequence step options/conditions
  memdocs/configmgr/osd/understand/task-sequence-editor.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-osd/tech

#4487 Update deployment-download-technical-reference.md
  memdocs/configmgr/apps/understand/deployment-download-technical-reference.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/svc, app-mgt/subsvc

#4483 Update defender-advanced-threat-protection.md
  memdocs/configmgr/protect/deploy-use/defender-advanced-threat-protection.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, protect/subsvc, Microsoft submitter, configuration-manager/svc

#4462 Fix wrong information on site reset
  memdocs/configmgr/hotfix/2309/26129847.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, Microsoft submitter, configuration-manager/svc, core-infra/subsvc

#4346 Update configuration-manager-faq.yml
  memdocs/configmgr/core/understand/configuration-manager-faq.yml
Labels: do-not-merge, needs-human-review, Change sent to author, configuration-manager/prod, configmgr-core/tech

#4426 Added http://localhost to redirect URI
  memdocs/configmgr/core/clients/manage/cmg/manually-register-azure-ad-apps.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-client/tech, Microsoft submitter

#4274 Program Platform Requirements during task sequence
  memdocs/configmgr/apps/deploy-use/packages-and-programs.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-app/tech

#4382 Update internet-endpoints.md for CM CB 2309 release
  memdocs/configmgr/core/plan-design/network/internet-endpoints.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#4242 Packages and Programs Maintenance Window note
  memdocs/configmgr/apps/deploy-use/packages-and-programs.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-app/tech

#4266 Update configuration-manager-faq.yml
  memdocs/configmgr/core/understand/configuration-manager-faq.yml
Labels: do-not-merge, needs-human-review, Change sent to author, configuration-manager/prod, configmgr-core/tech, configuration-manager/svc, core-infra/subsvc

#4189 Update ports.md
  memdocs/configmgr/core/plan-design/hierarchy/ports.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech

#4015 Update app-approval.md to correct from internet section
  memdocs/configmgr/apps/deploy-use/app-approval.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-app/tech, Microsoft submitter, configuration-manager/svc, app-mgt/subsvc

#3580 Update synchronize-office-updates-disconnected.md
  memdocs/configmgr/sum/get-started/synchronize-office-updates-disconnected.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-sum/tech

#3335 Fix HTA scripts error w/ Windows 11 ADK 22H2
  memdocs/configmgr/mdt/known-issues.md
Labels: ready-to-merge, Change sent to author, configuration-manager/prod, configmgr-mdt/tech
