Repository MicrosoftDocs/memdocs, pull requests merged in 2024-08, with the labels that each got.

#4593 Update paths to find macOS scripts log
  memdocs/intune/apps/macos-shell-scripts.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4607 Update microsoft-cloud-pki-delete.md
  memdocs/intune/protect/microsoft-cloud-pki-delete.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#4600 Add row to data-intune-sends-to-google.md for upn hint for connecting to Google
  memdocs/intune/protect/data-intune-sends-to-google.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4602 updated Delivery Optimization endpoint
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#4603 Update devices-wipe.md
  memdocs/intune/remote-actions/devices-wipe.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#4619 Update azure-ad-join-technician-flow.md
  autopilot/tutorial/pre-provisioning/azure-ad-join-technician-flow.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, windows-client/svc, itpro-deploy/subsvc

#4609 Add installation steps for RHEL
  memdocs/intune/user-help/microsoft-intune-app-linux.md
Labels: do-not-merge, needs-human-review, Change sent to author, microsoft-intune/svc, in-progress, pm, end-user/subsvc

#4618 Update Cloud PKI docs to remove "Disable/Delete CA limitation"
  memdocs/intune/protect/microsoft-cloud-pki-overview.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4610 Update zebra-lifeguard-ota-integration.md
  memdocs/intune/protect/zebra-lifeguard-ota-integration.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4620 Update certificate-authority-add-scep-overview.md
  memdocs/intune/protect/certificate-authority-add-scep-overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#4611 Update backup-restore-ios.md
  memdocs/intune/enrollment/backup-restore-ios.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, in-progress, pm

#4595 Update app-protection-policies.md
  memdocs/intune/apps/app-protection-policies.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4621 Add alternative URL to fetch Status of Intune report
  memdocs/intune/fundamentals/reports-export-graph-apis.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc
