Repository MicrosoftDocs/memdocs, pull requests merged in 2024-11, with the labels that each got.

#4663 Delete Retired .openpublishing.build.ps1 script of default branch
  .openpublishing.build.ps1
Labels: do-not-merge

#4666 Update mde-security-integration.md
  memdocs/intune/protect/mde-security-integration.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#4657 Update supported client OS's - Windows Server IoT 2019 for Storage and Windows Server IoT 2022 for Storage are not supported client OSs
  memdocs/configmgr/core/plan-design/configs/supported-operating-systems-for-clients-and-devices.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, Microsoft submitter, configuration-manager/svc, core-infra/subsvc

#4646 Remove note about CM 2006
  memdocs/configmgr/sum/deploy-use/third-party-software-updates.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, Microsoft submitter, configuration-manager/svc, software-updates/subsvc

#4654 Correct a small type (Tt -> It)
  memdocs/configmgr/core/servers/manage/modify-your-infrastructure.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, Microsoft submitter, configuration-manager/svc, core-infra/subsvc

#4538 Update accounts.md
  memdocs/configmgr/core/plan-design/hierarchy/accounts.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, Microsoft submitter, configuration-manager/svc, core-infra/subsvc

#4485 Updated description of security states defined by Security Center.
  memdocs/configmgr/protect/deploy-use/endpoint-protection-client-faq.yml
Labels: do-not-merge, needs-human-review, Change sent to author, protect/subsvc, Microsoft submitter, configuration-manager/svc

#4449 WingetClientAppsUpdate workloads.md
  memdocs/configmgr/comanage/workloads.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-comanage/tech, Microsoft submitter

#4616 Update app-sdk-ios-phase3.md to clarify that app restart is not required for MAUI app.
  memdocs/intune/developer/app-sdk-ios-phase3.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter, Tier2

#3385 Update to include the endpoint clients.config.office.net for M365
  memdocs/configmgr/core/plan-design/network/internet-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, configuration-manager/prod, configmgr-core/tech, Microsoft submitter

#4671 Update mde-security-integration.md
  memdocs/intune/protect/mde-security-integration.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4672 Update deployment-guide-enrollment-ios-ipados.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-ios-ipados.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Microsoft submitter

#4677 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#4670 Update "Retire an Apple ADE device from Intune" section
  memdocs/intune/remote-actions/devices-wipe.md
  memdocs/intune/remote-actions/media/devices-wipe/ABM-Release-Device.png
  memdocs/intune/remote-actions/media/devices-wipe/apple-reassign.png
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc

#4664 Update create-assigned-device-group.md
  autopilot/includes/create-assigned-device-group.md
Labels: do-not-merge, needs-human-review, Change sent to author, windows-client/svc, autopilot/subsvc

#4681 Update epm-deployment-considerations-ki.md
  memdocs/intune/protect/epm-deployment-considerations-ki.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter
