Repository MicrosoftDocs/memdocs, pull requests merged in 2024-06, with the labels that each got.

#4547 Correction to a word
  memdocs/intune/protect/conditional-access-intune-common-ways-use.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Tier1

#4552 Update network-access-control-integrate.md
  memdocs/intune/protect/network-access-control-integrate.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter, Tier3

#4553 Update mde-security-integration.md
  memdocs/intune/protect/mde-security-integration.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4373 Update certificate-connector-overview.md
  memdocs/intune/protect/certificate-connector-overview.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4554 Update add-device-images.md
  windows-365/enterprise/add-device-images.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, Microsoft submitter, windows-365/svc

#4555 Update device-images.md
  windows-365/enterprise/device-images.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, Microsoft submitter, windows-365/svc

#4556 Update deployment-guide-enrollment-windows.md
  memdocs/intune/fundamentals/deployment-guide-enrollment-windows.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Microsoft submitter

#4561 Update device-images.md
  windows-365/enterprise/device-images.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, Microsoft submitter, windows-365/svc

#4559 Update app-sdk-android-phase1.md
  memdocs/intune/developer/app-sdk-android-phase1.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc

#4211 Update end-user-access-cloud-pc.md
  windows-365/end-user-access-cloud-pc.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, windows-365/svc

#4540 Update enrollment-notifications.md
  memdocs/intune/enrollment/enrollment-notifications.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, doc-idea, in-progress, Tier1

#4477 Update certificates-scep-configure.md
  memdocs/intune/protect/certificates-scep-configure.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, in-progress, pm, protect/subsvc, Tier1

#4564 Update the doc for sentence correction
  memdocs/intune/fundamentals/zero-trust-with-microsoft-intune.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#1642 Added Note about exclusion merge
  memdocs/configmgr/protect/deploy-use/endpoint-antimalware-policies.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-protect/tech

#1673 Update plan-for-software-updates.md
  memdocs/configmgr/sum/plan-design/plan-for-software-updates.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-sum/tech, Microsoft submitter

#1861 Update endpoint-antimalware-policies.md
  memdocs/configmgr/protect/deploy-use/endpoint-antimalware-policies.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, aq-pr-triaged, configuration-manager/prod, configmgr-protect/tech

#4478 Update app-management.md
  memdocs/intune/apps/app-management.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Tier1

#4469 Update app-discovered-apps.md
  memdocs/intune/apps/app-discovered-apps.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Tier1

#3627 Update vpp-apps-ios.md
  memdocs/intune/apps/vpp-apps-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4565 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#4566 Update endpoint-security-account-protection-policy.md
  memdocs/intune/protect/endpoint-security-account-protection-policy.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, pm, protect/subsvc, Microsoft submitter

#4568 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#4573 Update create-assigned-device-group.md
  autopilot/includes/create-assigned-device-group.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, Microsoft submitter, windows-client/svc, itpro-deploy/subsvc

#4572 Update entra-join-autopilot-policy.md
  autopilot/device-preparation/tutorial/user-driven/entra-join-autopilot-policy.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, windows-client/svc, itpro-deploy/subsvc

#4528 Update place-cloud-pc-under-review.md
  windows-365/enterprise/place-cloud-pc-under-review.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, Microsoft submitter, windows-365/svc, Tier2, ms.localizationpriority/subsvc
