Repository MicrosoftDocs/memdocs, pull requests merged in 2024-05, with the labels that each got.

#4481 Update get-cloud-pc-audit-logs-using-powershell.md
  windows-365/enterprise/get-cloud-pc-audit-logs-using-powershell.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, Microsoft submitter, windows-365/svc, Tier2, ms.localizationpriority/subsvc

#4533 fix suggested for pre-requisites and App-Locker Policy activation
  memdocs/intune/protect/endpoint-security-app-control-policy.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, pm, protect/subsvc, Tier1

#4543 platform-sso-macos.md: Chrome extension name updated
  memdocs/intune/configuration/platform-sso-macos.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Tier2

#4541 Update intune-endpoints.md
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter, Tier1

#4549 test 2
  windows-365/enterprise/overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, windows-365/svc, Tier2, ms.localizationpriority/subsvc
