Repository MicrosoftDocs/memdocs, pull requests merged in 2025-01, with the labels that each got.

#4699 Fix a partially written word
  memdocs/intune/protect/security-baselines.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4629 Update mde-security-integration.md
  memdocs/intune/protect/mde-security-integration.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, pm, protect/subsvc, Microsoft submitter

#4680 Update overview.md
  memdocs/configmgr/comanage/overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, Microsoft submitter, configuration-manager/svc, co-management/subsvc

#4701 Update intune-endpoints.md with macOS azureedge.net domains + depreci…
  memdocs/intune/fundamentals/intune-endpoints.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#4622 Update custom-settings-linux.md
  memdocs/intune/configuration/custom-settings-linux.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, in-progress, configuration/subsvc

#4703 Update properties-catalog.md
  memdocs/intune/configuration/properties-catalog.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc, Microsoft submitter

#4705 Correct grammatical error
  memdocs/intune/apps/app-configuration-policies-overview.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4704 Update epm-deployment-considerations-ki.md
  memdocs/intune/protect/epm-deployment-considerations-ki.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc
