Repository MicrosoftDocs/memdocs, pull requests merged in 2025-06, with the labels that each got.

#4788 Update windows-adk-11-preprovision-bitlocker.md
  intune/configmgr/core/plan-design/configs/includes/windows-adk-11-preprovision-bitlocker.md
Labels: do-not-merge, Change sent to author, configuration-manager/svc, core-infra/subsvc

#4793 Update intune-management-extension.md
  intune/intune-service/apps/intune-management-extension.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#4795 Update apple-account-driven-user-enrollment.md
  intune/intune-service/enrollment/apple-account-driven-user-enrollment.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Microsoft submitter

#4797 Update mde-security-integration.md
  intune/intune-service/protect/mde-security-integration.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#4768 Update device-remote-lock.md
  intune/intune-service/remote-actions/device-remote-lock.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, pm, remote-actions/subsvc
