Repository MicrosoftDocs/memdocs, pull requests merged in 2025-04, with the labels that each got.

#4755 Update epm-overview.md
  memdocs/intune-service/protect/epm-overview.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, protect/subsvc, Microsoft submitter

#4761 Update add-devices.md
  autopilot/add-devices.md
Labels: do-not-merge, Change sent to author, windows-client/svc, autopilot/subsvc

#4770 Update intune-endpoints.md
  intune/intune-service/fundamentals/intune-endpoints.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#4773 Update whats-new.md - typo fix
  intune/intune-service/fundamentals/whats-new.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#4774 Update microsoft-tunnel-conditional-access.md
  intune/intune-service/protect/microsoft-tunnel-conditional-access.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, protect/subsvc
