Repository MicrosoftDocs/memdocs, pull requests merged in 2025-05, with the labels that each got.

#4778 Update role-based-access-control.md
  intune/intune-service/fundamentals/role-based-access-control.md
Labels: do-not-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#4772 Update certificates-trusted-root.md
  intune/intune-service/protect/certificates-trusted-root.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, in-progress, protect/subsvc, doc-bug

#4769 Update compliance-custom-script.md - update type
  intune/intune-service/protect/compliance-custom-script.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, in-progress, protect/subsvc, doc-bug

#4745 Update workloads.md
  intune/configmgr/comanage/workloads.md
Labels: do-not-merge, Change sent to author, Microsoft submitter, configuration-manager/svc, co-management/subsvc

#4781 Update android-aosp-corporate-owned-user-associated-enroll.md
  intune/intune-service/enrollment/android-aosp-corporate-owned-user-associated-enroll.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, in-progress, Sign off, Microsoft submitter

#4775 Update custom-notifications.md
  intune/intune-service/remote-actions/custom-notifications.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc
