Repository MicrosoftDocs/memdocs, pull requests merged in 2025-08, with the labels that each got.

#4818 Update epm-overview.md
  intune/intune-service/protect/epm-overview.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4812 Update manually-deploy-software-updates.md
  intune/configmgr/sum/deploy-use/manually-deploy-software-updates.md
Labels: do-not-merge, Change sent to author, configuration-manager/svc, software-updates/subsvc

#4796 Update setup-downloader.md
  intune/configmgr/core/servers/deploy/install/setup-downloader.md
Labels: do-not-merge, Change sent to author, configuration-manager/svc, core-infra/subsvc
