Repository MicrosoftDocs/memdocs, pull requests merged in 2025-02, with the labels that each got.

#4695 Update faq.yml
  autopilot/device-preparation/faq.yml
Labels: do-not-merge, needs-human-review, Change sent to author, windows-client/svc, autopilot/subsvc

#4712 Update role-based-access-control.md
  memdocs/intune/fundamentals/role-based-access-control.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#4707 Update windows-update-settings.md
  memdocs/intune/protect/windows-update-settings.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4710 Update device-rename.md
  memdocs/intune/remote-actions/device-rename.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, remote-actions/subsvc, Microsoft submitter

#4714 Update in-development.md
  memdocs/intune/fundamentals/in-development.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#4716 Update microsoft-connected-cache.md
  memdocs/configmgr/core/plan-design/hierarchy/microsoft-connected-cache.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, Microsoft submitter, configuration-manager/svc, core-infra/subsvc

#4711 issue: device-profile-assign.md, line 122
  memdocs/intune/configuration/device-profile-assign.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, configuration/subsvc

#4722 Update tenant-status.md
  memdocs/intune/fundamentals/tenant-status.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc, Microsoft submitter

#4725 Update app-protection-policy-settings-ios.md
  memdocs/intune/apps/app-protection-policy-settings-ios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4724 Update app-protection-policy-settings-android.md
  memdocs/intune/apps/app-protection-policy-settings-android.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4718 Update apps-win32-supersedence.md
  memdocs/intune/apps/apps-win32-supersedence.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4709 macOS LOB apps max size limit is 8 GB instead of 2 GB
  memdocs/intune/apps/lob-apps-macos.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc, Microsoft submitter

#4708 Update app-protection-policies.md
  memdocs/intune/apps/app-protection-policies.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4632 Update app-protection-policies.md
  memdocs/intune/apps/app-protection-policies.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4631 Update app-protection-policy.md
  memdocs/intune/apps/app-protection-policy.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, apps/subsvc

#4715 Update windows-10-expedite-updates.md
  memdocs/intune/protect/windows-10-expedite-updates.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4615 Update work-from-anywhere.md
  memdocs/analytics/work-from-anywhere.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, pm, endpoint-analytics/subsvc

#4726 Update in-development.md
  memdocs/intune/fundamentals/in-development.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#4697 Update intune-graph-apis.md
  memdocs/intune/developer/intune-graph-apis.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, microsoft-intune/svc, developer/subsvc
