Repository MicrosoftDocs/memdocs, pull requests merged in 2025-03, with the labels that each got.

#4732 Fix catastrophic typo in computer-account-limit.md
  autopilot/includes/computer-account-limit.md
Labels: ready-to-merge, Change sent to author, windows-client/svc, autopilot/subsvc

#4734 Update device-compliance-partners.md
  memdocs/intune-service/protect/device-compliance-partners.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4740 Update whats-new.md
  memdocs/intune-service/fundamentals/whats-new.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#4739 Update device-compliance-partners.md
  memdocs/intune-service/protect/device-compliance-partners.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4744 Update deployment-guide-platform-windows.md
  memdocs/intune-service/fundamentals/deployment-guide-platform-windows.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#4738 Update ios-device-enrollment.md
  memdocs/intune-service/enrollment/ios-device-enrollment.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, enrollment/subsvc, Microsoft submitter

#4748 Update mdm-authority-set.md
  memdocs/intune-service/fundamentals/mdm-authority-set.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, fundamentals/subsvc

#4730 Update software-updates-ios.md with SME recommendations
  memdocs/intune-service/protect/software-updates-ios.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4735 Note for SwiftUI apps
  memdocs/intune-service/developer/app-sdk-ios-phase3.md
  memdocs/intune-service/developer/app-sdk-ios-phase7.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc, Microsoft submitter

#4754 Update microsoft-tunnel-mam.md
  memdocs/intune-service/protect/microsoft-tunnel-mam.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, protect/subsvc

#4750 Update app-wrapper-prepare-ios.md
  memdocs/intune-service/developer/app-wrapper-prepare-ios.md
Labels: ready-to-merge, Change sent to author, microsoft-intune/svc, developer/subsvc
